.artist .fixedContent {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(50% - 40px);
    padding-left: 40px;
    height: calc(100% - 80px);
    margin-top: 200px;
    margin-right: 40px;
    position: sticky;
    top: 0px;
    float: right
}

.artist .fixedContent .icons {
    display: flex;
    gap: 5px;
    margin-bottom: 35px;
}

.artist .fixedContent .icons a {
    padding: 20px;
    display: block;
    display: flex;
    background-color: var(--neutral1);
    border-radius: var(--lowRadius);
    width: 20px;
    height: 20px;
    justify-content: center;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.artist .fixedContent .icons a.insta {
    background-image: url(../../../../assets/icone-instagram-branco.svg);
}

.artist .fixedContent .icons a.facebook {
    background-image: url(../../../../assets/images/icone-facebook.svg);
}

.artist .fixedContent .icons a.spotify {
    background-image: url(../../../../assets/images/icone-spotify.svg);
}

.artist .fixedContent .icons a.tiktok {
    background-image: url(../../../../assets/icone-tiktok.svg);
}

.artist .fixedContent .icons a:hover {
    background-color: var(--greyHover);
}

.artist .fixedContent h1 {
    font-size: 56px;
    margin-bottom: 10px;
}

.artist .fixedContent p {
    font-size: 14px;
}

.artist .fixedContent .country {
    border-bottom: 1px solid var(--greyHover);
    padding: 20px 0px;
    display: flex;
    align-items: center;
}

.artist .fixedContent .iconWrapper {
    display: flex;
    border-bottom: 1px solid var(--greyHover);
    padding: 20px 0px;
    margin-bottom: 40px;
    gap: 10px;
}

.artist .fixedContent .music:before {
    background-image: url(../../../../assets/images/icone-musica.svg);
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 10px;
    background-size: 15px;
    background-repeat: no-repeat;
}

.artist .fixedContent .record:before {
    background-image: url(../../../../assets/icone-gravadora.svg);
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 10px;
    background-size: 15px;
    background-repeat: no-repeat;
}

.artist .fixedContent .country:before {
    background-image: url(../../../../assets/icone-localizacao.svg);
    content: "";
    display: block;
    width: 15px;
    height: 20px;
    float: left;
    margin-right: 10px;
    background-size: 15px;
    background-repeat: no-repeat;
}

@media(max-width: 1024px) {
    .artist .fixedContent {
        display: none
    }
}