.advertisement {
    height: 400px;
    justify-content: center;
    display: flex;
}

.advertisement.disabled {
    display: none;
}

.advertisement figure {
    height: 100%;
    margin: auto 0;
    width: calc(100% - 100px);
}

.advertisement .container {
    padding: 20px 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    background-color: var(--neutral5);
    border-radius: var(--mediumRadius1);
    width: 100%;
    text-decoration: none;
    position: relative;
    height: 100%;
}

.advertisement .pictureMobile img {
    height: 100%;
    width: 100%;
    border-radius: var(--mediumRadius1);
}

.advertisement .pictureDesk {
    position: absolute;
    top: -100000px;
}

@media(min-width: 1025px) {

    .advertisement {
        height: min-content;
    }

    .advertisement .pictureMobile {
        display: none;
    }

    .advertisement .pictureDesk {
        position: relative;
        width: 100%;
        top: 0px;
    }

    .advertisement .pictureDesk img {
        width: 1000px;
        max-width: 100%;
        margin: 0 auto;
        display: block;
        border-radius: var(--mediumRadius1);
        height: 100%;
    }

    .advertisement {
        height: 130px;
        position: relative;
    }

    .advertisement .container {
        width: 100%;
        padding: 20px;
        height: 130px;
    }

    .advertisement figure {
        width: 100%;
    }
}