.artistsHighlights .carouselArtists {
    display: flex;
    gap: 5px;
    width: 100%
}

.artistsHighlights .carouselArtists .item {
    border-radius: var(--lowRadius);
}

.artistsHighlights .carouselArtists .item:hover {
    margin-top: -3px;
}

.artistsHighlights .carouselArtists .item a {
    width: 100%;
    border-radius: var(--lowRadius);
    display: block;
    text-decoration: none;
}

.artistsHighlights .carouselArtists .item a img {
    width: 100%;
    border-radius: var(--mediumRadius1);
    margin-bottom: 20px;
}

.artistsHighlights .owl-carousel .owl-nav {
    top: -45px;
}

.artistsHighlights .owl-nav img {
    width: 15px;
    height: 16px;
}

.artistsHighlights .owl-carousel .owl-stage-outer {
    overflow: visible;
}

@media(max-width: 1024px) {

    .artistsHighlights .carouselArtists {
        width: calc(100% - 50px)
    }

    .artistsHighlights .carouselArtists .item a img {
        margin-bottom: 5px;
        border-radius: var(--mediumRadius2);
    }

    .artistsHighlights .carouselArtists .item h3 {
        font-size: 10px;
    }
}