.bestEvents .carouselBestEvents {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%
}

.bestEvents .carouselBestEvents a {
    width: 100%;
    background-color: var(--neutral2);
    padding: 20px 25px;
    border-radius: var(--mediumRadius1);
    display: block;
    overflow: hidden;
    text-decoration: none;
}

.bestEvents .carouselBestEvents a p {
    line-height: 1.27em;
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 10px;
    align-items: center;
}

.bestEvents .carouselBestEvents a p.fireIcon:before {
    background-image: url(../../assets/icone-fogo-grey.svg);
    content: "";
    display: block;
    width: 30px;
    height: 45px;
    float: left;
    background-size: 30px;
    background-repeat: no-repeat;
}

.bestEvents .carouselBestEvents a p.placeIcon:before {
    background-image: url(../../assets/icone-localizacao-grey.svg);
    content: "";
    display: block;
    width: 30px;
    height: 45px;
    float: left;
    background-size: 30px;
    background-repeat: no-repeat;
}

.bestEvents .carouselBestEvents a:hover {
    background-color: var(--greyHover);
}

.bestEvents .carouselBestEvents a:active {
    background-color: var(--main1);
}

.bestEvents .carouselBestEvents a:active .icon:before {
    opacity: 100%;
}

.bestEvents .owl-carousel .owl-nav {
    top: -45px;
}

.bestEvents .owl-carousel .owl-stage-outer {
    overflow: visible;
}

@media(max-width: 1024px) {
    .bestEvents .carouselBestEvents a p {
        font-size: 14px;
    }

    .bestEvents .carouselBestEvents {
        width: calc(100% - 50px)
    }
}