* {
    box-sizing: border-box;
}

form {
    background-color: var(--neutral7);
    border-radius: var(--bigRadius) var(--bigRadius) 0px 0px;
    width: calc(50% - 20px);
    margin-top: 120px;
}

form .eventData,
form .clientData {
    margin-right: 20px;
}

form .SumoSelect>.optWrapper>.options::-webkit-scrollbar-track {
    background: transparent;
}

form .container::-webkit-scrollbar {
    width: 12px;
}

form .container::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 40px;
}

form .container::-webkit-scrollbar-thumb {
    background-color: var(--neutral4);
    border-radius: var(--bigRadius);
}

form .container {
    height: calc(100vh - 20px);
    overflow-y: scroll;
    padding: 40px;
    width: 100%;
}

form .coupon {
    position: relative;
}

form .coupon label {
    float: left;
    margin-right: 5px;
}


form .placeTip {
    display: flex;
    flex-direction: row;
    gap: 5px;
    position: relative;
}

form .placeTip img {
    width: 15px;
}

form .placeTip .placeTipOpen {
    width: 290px;
    left: -238px;
    height: 140px;
    padding: 10px 20px;
    background-color: var(--neutral3);
    position: absolute;
    top: -170px;
    opacity: 0%;
    z-index: 3;
    border-radius: var(--mediumRadius1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: -1;
}

.placeTipActive form .placeTip .placeTipOpen {
    top: -157px;
    opacity: 100%;
    z-index: 1;
    transition: var(--transitionMedium)
}

form .placeTip .placeTipOpen .description {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
}

form .placeTip .placeTipOpen p,
form .placeTip .placeTipOpen h4 {
    font-weight: bold;
    line-height: 20px;
}

.daterangepicker .drp-selected {
    font-size: 14px;
}

.daterangepicker .drp-buttons .btn:hover {
    background-color: var(--pinkHover)
}

form .placeTip .placeTipOpen h4 {
    margin-top: 30px;
    font-size: 14px;
    font-family: var(--font2);
    color: var(--neutral7);
}

form .placeTip .placeTipOpen .buttonXClose {
    background-color: var(--neutral3);
    position: absolute;
    right: 14px;
    top: 10px;
    width: 20px;
    height: 30px;
    background-image: url(../../assets/icone-closeTip.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    opacity: 40%;
}

form .placeTip .placeTipOpen .buttonXClose:hover {
    opacity: 100%;
}

form .borderTip {
    display: block;
    background-color: var(--neutral3);
    transform: rotate(-45deg);
    padding: 10px 10px;
    position: absolute;
    bottom: -10px;
    right: 35px;
}

form .title {
    font-family: var(--font1);
    color: var(--neutral1);
    font-size: 24px;
    margin-bottom: 30px;
    padding-top: 5px;
}

form .imgInput {
    overflow: hidden;
    margin-bottom: 30px;
}

form .imgInput .picture {
    width: 230px;
    height: 230px;
    margin-right: 20px;
    display: block;
    float: left;
    position: relative;
    overflow: hidden;
    border: 3px solid var(--neutral5);
    border-style: dashed;
}

form .imgInput .picture:hover {
    background-color: var(--neutral5);
    border: 3px solid var(--neutral4);
}

form .imgInput .picture p {
    font-size: 12px;
    color: var(--neutral3);
    font-family: var(--font2);
    line-height: 1.5em;
    position: absolute;
    top: 50%;
    left: 20px;
    width: calc(100% - 40px);
    transform: translate(0px, -50%);
    text-align: center;
    background-image: url(../../assets/form/cloud.svg);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    padding-top: 50px;
}

form .imgInput .imgPreview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}

form .imgInput .text {
    font-family: var(--font2);
    color: var(--neutral1);
    float: left;
}

form .imgInput .text h3 {
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 10px;
}

form .imgInput .text p {
    font-size: 14px;
    color: var(--neutral3);
    width: 100%;
    text-align: start;
    line-height: 1.5em;
    margin-bottom: 5px;
}

form .imgInput .text p:before {
    background-image: url(../../assets/green-check.svg);
    content: "";
    display: block;
    margin-top: 5px;
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 10px;
    background-size: 15px;
    background-repeat: no-repeat;
}


form label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
    color: var(--neutral1);
}

form span {
    font-size: 18px;
    color: var(--main1);
    font-weight: bold;
}

form input {
    box-sizing: border-box;
    padding: 20px;
    padding-left: 10px;
    border-radius: var(--lowRadius);
    border: 3px solid var(--neutral4);
    width: 100%;
    color: var(--neutral1);
    font-family: var(--font2);
    height: min-content;
    background-color: var(--neutral7);
    font-size: 14px;
}

form input[type="text"]:valid {
    background-color: var(--neutral7) !important;
}

form input::placeholder {
    color: var(--neutral3);
}

form input:hover,
form textarea:hover,
form .SumoSelect:hover>.CaptionCont:hover {
    border: 3px solid var(--neutral3);
    box-shadow: 0 0 0 0;
    outline: 0;
}

form input:focus,
form textarea:focus,
form .SumoSelect:focus>.CaptionCont,
form .SumoSelect.open>.CaptionCont {
    border: 3px solid var(--neutral2);
    box-shadow: 0 0 0 0;
    outline: 0;
}

form .clearButton {
    background-color: var(--neutral7);
    position: absolute;
    right: 8px;
    top: 34px;
    width: 25px;
    height: 35px;
    background-image: url(../../assets/icone-closeTip.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 13px;
    z-index: -3;
    opacity: 0%;
    padding: 0px;
    border: none;
}

form .SumoSelect[is-selected="true"]+.clearButton,
form .SumoSelect.open+.clearButton,
form input:not(:placeholder-shown):valid+.clearButton {
    opacity: 100%;
    z-index: 3;
}

form .SumoSelect>.optWrapper>.options li.opt:hover {
    background-color: var(--main1);
}

form .SumoSelect>.optWrapper>.options li.opt:hover label {
    color: var(--neutral7);
}

form .SumoSelect>.optWrapper>.options li.opt label {
    margin-bottom: 0px;
}

form .SumoSelect>.CaptionCont {
    padding: 20px 0px;
}

form .SumoSelect .select-all>span i,
form .SumoSelect>.optWrapper.multiple>.options li.opt span i {
    border: 1px solid var(--neutral3);
}

form .picture input[type="file"] {
    height: 230px;
    opacity: 0%;
    cursor: pointer;
}

form input::placeholder {
    color: var(--neutral3);
}

form .block {
    width: 100%;
}

form .block .field {
    width: calc(50% - 10px);
    float: left;
    margin-bottom: 25px;
    position: relative;
}

form .block .address {
    width: 100%
}

form .block .field:nth-child(1) {
    margin-right: 20px;
}

form textarea {
    height: 120px;
    box-sizing: border-box;
    margin-top: 5px;
    padding: 10px;
    border-radius: var(--lowRadius);
    border: 3px solid var(--neutral4);
    margin-bottom: 25px;
    width: 100%;
    font-size: 14px;
}

form .checkLabel a {
    color: var(--main1);
    text-decoration: underline;
}

form .checkLabel a:hover {
    transition: var(--transitionFast);
    color: var(--pinkHover);
}

form .checkLabel {
    display: block;
    position: relative;
    padding-left: 35px;
    font-size: 12px;
    cursor: pointer;
    height: 30px;
    line-height: 1.5em;
}

form .checkLabel input {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    left: 5px;
    top: -5px;
    height: 30px;
    z-index: 2;
    width: min-content;
}

form .check {
    left: 0;
    top: -4px;
    width: 25px;
    height: 25px;
    background-color: var(--neutral7);
    position: absolute;
    border-radius: var(--lowRadius);
    border: 3px solid var(--neutral4);
}

form .checkLabel input:checked~.check {
    background-color: var(--main1);
    border: 3px solid var(--main1);
}

form .checkLabel .check:after {
    top: 2px;
    left: 6.5px;
    width: 5px;
    height: 10px;
    background-color: var(--main1);
    color: var(--neutral7);
    border: solid var(--neutral7);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

form .check:after {
    content: "";
    position: absolute;
    display: none;
}

form .checkLabel input:checked~.check:after {
    display: block;
    color: var(--neutral7);
}

form .SumoSelect.open p {
    border: 3px solid var(--neutral1);
}

form .SumoSelect p {
    border: 3px solid var(--neutral4);
    color: var(--neutral4);
    padding-left: 10px;
    background-color: var(--neutral7);
}

form .SumoSelect.open p {
    border: 3px solid var(--neutral3);
}

form .SumoSelect {
    overflow: visible;
    height: 52px;
    max-height: 52px;
}

form .SumoSelect span {
    color: var(--neutral3);
    font-family: "Lato";
    font-size: 14px;
    width: calc(100% - 5px);
    font-weight: 400;
    margin-left: 10px;
}

form .SumoSelect .whatsapp span {
    color: var(--neutral1);
}

form .SumoSelect>.CaptionCont>label {
    margin-bottom: 0px;
}

form .SumoSelect>.CaptionCont>label>i {
    background-image: url(../../assets/seta-vertical-baixo-dark.svg);
}

form .SumoSelect>.optWrapper>.options {
    background-color: var(--neutral6);
    color: var(--neutral1);
    padding: 0px 5px;
}

form .SumoSelect>.optWrapper>.options li {
    margin: 5px 0px;
    border-radius: var(--lowRadius);
}

form .SumoSelect>.optWrapper {
    margin-top: 0px;
    top: 72px;
    border-radius: var(--lowRadius);
    width: 100%
}

form .SumoSelect>.optWrapper>.options>li.opt:first-child {
    border-radius: var(--lowRadius);
}

form .SumoSelect>.optWrapper>.options>li.opt:last-child {
    border-radius: var(--lowRadius);
}

form .SumoSelect>.optWrapper>.options li.opt:hover {
    color: var(--neutral7);
    background-color: var(--main1);
}

form .fieldWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    margin-bottom: 25px;
}

form .SumoSelect[is-selected=true]>.CaptionCont>span {
    color: var(--neutral1);
}

form .fieldWrapper2 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 10px;
}

form .fieldWrapper p {
    font-family: var(--font2);
    color: var(--neutral3);
    font-size: 14px;
    line-height: 1.5em;
}


form .sendButton {
    margin-top: 20px;
    padding: 18px 20px;
    line-height: 21px;
    color: var(--neutral6);
    background-color: var(--main1);
    border-radius: var(--lowRadius);
    border: none;
    float: right;
    font-size: 14px;
    font-family: var(--font1);
    margin-right: 20px;
    margin-bottom: 80px;
    text-decoration: none;
    text-align: center;
}

form .sendButton:hover {
    background-color: var(--pinkHover);
}

@media(max-width: 1024px) {

    form .imgInput .text {
        width: calc(100% - 141px);
    }

    form .placeTip .placeTipOpen {
        left: -210px;
    }

    form .borderTip {
        right: 63px;
    }

    form .container {
        height: 100%;
        margin: 40px 40px;
        margin-bottom: 80px;
        width: calc(100% - 80px);
        overflow-y: unset;
    }

    form .title {
        font-size: 16px;
        margin-bottom: 10px;
        margin-bottom: 10px;
    }

    form {
        background-color: var(--neutral7);
        border-radius: 0px;
        width: 100%;
        margin-top: 0px;
    }

    form .eventData {
        margin-bottom: 30px;
    }

    form .container {
        margin: 20px;
        margin-bottom: 70px;
        width: calc(100% - 40px);
        overflow: hidden;
        padding: 0px;
    }

    form .sendButton {
        width: 100%;
        margin-top: 20px;
        font-size: 12px;
        margin-right: 0px;
    }

    form .eventData,
    form .clientData {
        margin-right: 0px;
        overflow: hidden;
    }

    form p {
        font-size: 14px;
    }

    /* form input {
        margin-bottom: 10px;
    } */

    form .SumoSelect {
        margin-bottom: 10px;
    }

    form textarea {
        margin-bottom: 10px;
    }

    form .block .field {
        float: none;
        width: 100%;
        margin-bottom: 10px;
    }

    form .fieldWrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }

    form .fieldWrapper .explanation {
        padding: 0px;
        margin-bottom: 15px;
    }

    form .imgInput .picture {
        width: 121px;
        height: 121px;
    }

    form .imgInput .text h3 {
        font-size: 14px
    }

    form .imgInput .text p {
        font-size: 10px
    }
}