.searchTool .title {
    margin-bottom: 30px;
}

.searchTool form {
    width: 100%;
    display: grid;
    width: 100%;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr 140px;
    grid-column-gap: 10px;
    transition: var(--transitionSlow);
}

.searchTool form div {
    width: 100%;
}

.searchTool form .go {
    width: 100%;
    padding: 15px 20px;
    align-self: flex-end;
    color: var(--neutral5);
    background-color: var(--main1);
    border-radius: var(--lowRadius);
    border: none;
    font-family: var(--font1);
    height: 50px;
    text-transform: uppercase;
    font-size: 14px;
}

.searchTool .SumoSelect>.CaptionCont {
    height: 50px;
}

.searchTool form .go:hover {
    background-color: var(--pinkHover);
}

.searchTool form input {
    background-color: var(--neutral1);
    border: 3px solid var(--neutral2);
    padding: 14.5px 8px;
    border-radius: var(--lowRadius);
    font-size: 14px;
    color: var(--neutral7);
    transition: var(--transitionFast);
    height: 50px;
}

.searchTool form input:hover {
    border-color: var(--neutral3);
}

.searchTool form input:focus {
    outline: 0;
    box-shadow: 0 0 2px var(--neutral7);
    border-color: var(--neutral7)
}

.searchTool form input::placeholder {
    color: var(--neutral3);
}

.searchTool form .field {
    width: 14%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-content: center;
    position: relative;
}

.searchTool form .name {
    width: 20%;
}

.searchTool form .placeTip {
    display: flex;
    flex-direction: row;
    gap: 5px;
    position: relative;
}

.searchTool form .placeTip img {
    width: 15px;
}

.searchTool form .placeTip .placeTipOpen {
    width: 279px;
    padding: 10px 20px;
    background-color: var(--neutral3);
    position: absolute;
    top: -350px;
    z-index: 3;
    border-radius: var(--mediumRadius1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0%;
    z-index: -1;
}

.placeTipActive .searchTool form .placeTip .placeTipOpen {
    top: -283px;
    left: -60px;
    z-index: 1;
    opacity: 100%;
    transition: var(--transitionMedium)
}

.searchTool form .placeTip .placeTipOpen .description:before {
    content: "";
    display: block;
    width: 15px;
    height: 20px;
    float: left;
    margin-right: 10px;
    background-size: 15px;
    background-repeat: no-repeat;
}

.searchTool form .placeTip .placeTipOpen .place:before {
    background-image: url(../../assets/mini-icone-casa.svg);
}

.searchTool form .placeTip .placeTipOpen .city:before {
    background-image: url(../../assets/mini-icone-local.svg)
}

.searchTool form .placeTip .placeTipOpen .state:before {
    background-image: url(../../assets/mini-icone-estado.svg);
}

.searchTool form .placeTip .placeTipOpen .country:before {
    background-image: url(../../assets/mini-icone-pais.svg);
}

.searchTool form .placeTip .placeTipOpen p,
.searchTool form .placeTip .placeTipOpen h4 {
    font-weight: bold;
    line-height: 20px;
}

.searchTool form .placeTip .placeTipOpen h4 {
    margin-top: 30px;
}

.searchEvents form .placeTip .placeTipOpen .buttonXClose {
    background-color: var(--neutral3);
    position: absolute;
    right: 14px;
    top: 10px;
    width: 20px;
    height: 30px;
    background-image: url(../../assets/botao-lupa-X.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    opacity: 40%;
    transition: var(--transitionFast);
}

.searchEvents form .placeTip .placeTipOpen .buttonXClose:hover {
    opacity: 100%;
}

.searchTool form .placeTip .placeTipOpen .buttonXClose span {
    background-color: var(--greyOpacity);
    max-height: min-content;
}

.searchTool form .borderTip {
    display: block;
    background-color: var(--neutral3);
    transform: rotate(-45deg);
    padding: 10px 10px;
    position: absolute;
    bottom: -10px;
    right: 160px;
}

.fixed .searchTool form .borderTip {
    bottom: 247px;
    right: 159px;
}

.placeTipActive .fixed .searchEvents.searchTool form .placeTip .placeTipOpen {
    top: 35px;
    left: -60px;
}

.searchTool form .arrowOff label {
    display: none;
}

.searchTool .searchModalClose {
    background-color: var(--neutral1);
    position: absolute;
    right: 14px;
    top: 10px;
    width: 20px;
    height: 30px;
    background-image: url(../../assets/botao-lupa-X.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    opacity: 40%;
    transition: var(--transitionFast);
}

.searchTool .searchModalClose {
    opacity: 100%;
}

.searchTool .searchModalClose span {
    background-color: var(--neutral7);
}

.searchModalButton:hover {
    background-color: var(--pinkHover);
}

.searchModalButton img {
    position: absolute;
    right: 20px;
    transform: translate(0px, calc(-50% + 10px));
}

.searchModalButton {
    position: absolute;
    bottom: 100000px;
}

.searchTool form .field {
    width: 100%;
}

.searchTool::-webkit-scrollbar {
    width: 8px;
}

.searchTool::-webkit-scrollbar-track {
    background: var(--neutral1);
    margin-top: 20px;
}

.searchTool::-webkit-scrollbar-thumb {
    background-color: var(--main1);
    border-radius: var(--bigRadius);
}

.sumo_place>.optWrapper>.options li.opt label {
    overflow: hidden;
}

.sumo_place>.optWrapper>.options li.opt label:before {
    content: "";
    display: block;
    width: 10px;
    height: 15px;
    float: left;
    margin-right: 10px;
    background-size: 10px;
    background-repeat: no-repeat;
}

.sumo_place>.optWrapper>.options li.opt.lugar label:before {
    background-image: url(../../assets/mini-icone-casa.svg);
}

.sumo_place>.optWrapper>.options li.opt.pais label:before {
    background-image: url(../../assets/mini-icone-pais.svg);
}

.sumo_place>.optWrapper>.options li.opt.estado label:before {
    background-image: url(../../assets/mini-icone-estado.svg);
}

.sumo_place>.optWrapper>.options li.opt.cidade label:before {
    background-image: url(../../assets/mini-icone-local.svg);
}

.searchTool form .clearButton {
    background-color: var(--neutral1);
    position: absolute;
    right: 8px;
    top: 33px;
    width: 25px;
    height: 35px;
    background-image: url(../../assets/botao-lupa-X.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 13px;
    z-index: -3;
    opacity: 0%;
    padding: 0px;
    border: none;
}

.searchTool .SumoSelect[is-selected="true"]+.clearButton,
.searchTool .SumoSelect.open+.clearButton,
.searchTool input:valid+.clearButton {
    opacity: 100%;
    z-index: 3;
}

.searchTool .SumoSelect[is-selected="true"]+.clearButton:hover,
.searchTool .SumoSelect.open+.clearButton:hover {
    opacity: 100%;
    background-color: var(--neutral1);
}

@media(max-width: 1024px) {

    .searchModalButton {
        bottom: 0px;
    }

    .searchToolModalActive .searchTool {
        top: 25px;
        transition: var(--transitionMedium)
    }

    .searchTool h2 {
        font-size: 18px;
        margin: 50px 0px 20px 20px;
    }

    .searchTool form {
        width: calc(100% - 40px);
        margin-left: 20px;
        margin-right: 20px;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        transition: var(--transitionSlow);
    }

    .searchTool form .field {
        width: 100%;
    }

    .searchTool form label {
        font-size: 14px;
    }

    .searchTool form .go {
        margin-top: 100px;
        margin-bottom: 30px;
        width: 100%;
        border: none;
        font-size: 12px;
    }

    .searchTool .searchModalClose {
        right: 20px;
        top: 18px;
        opacity: 60%;
    }

    .searchTool .searchModalClose:hover {
        opacity: 100%;
    }

    .placeTipActive .searchTool form .placeTip .placeTipOpen {
        top: -210px;
        left: 0px;
    }

    .backgroundModalSearch {
        background-color: var(--neutral3);
        opacity: 0%;
        height: 100vh;
        position: fixed;
        width: 100%;
        transition: var(--transitionFast);
        z-index: -3;
    }

    .searchEventsModalActive .backgroundModalSearch {
        z-index: 11;
        opacity: 80%;
    }

    body.searchEventsModalActive {
        overflow: hidden;
    }

}