.artists .artistHighlights {
    margin-top: 60px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.filterSearchMode .artists .artistHighlights {
    display: none;
}

.artists .artistHighlights .carouselArtists {
    width: 100%
}

.artists .artistHighlights .title {
    margin-bottom: 10px;
    position: relative;
}

.artists .artistHighlights .text {
    display: flex;
    gap: 10px;
    align-items: center;
}

.artists .artistHighlights .carouselArtists .item:hover {
    margin-top: -3px;
}

.artists .artistHighlights .carouselArtists .item a {
    display: block;
    text-decoration: none;
}

.artists .artistHighlights .carouselArtists .item a img {
    width: 100%;
    object-fit: cover;
    border-radius: var(--mediumRadius1);
    margin-bottom: 20px;
}

.artists .artistHighlights .owl-carousel .owl-nav {
    top: -40px;
    margin-top: 0px;
}

.artists .artistHighlights .owl-nav img {
    width: 15px;
    height: 16px;
}

.artists .artistHighlights .owl-carousel.owl-drag .owl-item {
    opacity: 0.3;
    transition: var(--transitionFast);
}

.artists .artistHighlights .owl-carousel.owl-drag .owl-item.active {
    opacity: 1;
}


.artists .artistHighlights .owl-carousel .owl-stage-outer {
    overflow: visible;
}

@media(max-width: 1024px) {

    .artists .artistHighlights .carouselArtists .item a img {
        border-radius: var(--mediumRadius2);
    }

    .artists .artistHighlights .title h2 {
        font-size: 18px;
    }

    .artists .artistHighlights .carouselArtists .item h3 {
        font-size: 13px;
    }

    .artists .artistHighlights .carouselArtists {
        width: calc(100% - 50px)
    }

    .artists .artistHighlights {
        margin-top: 20px;
    }
}