* {
    box-sizing: border-box;
}

.artists .firstContent {
    background-color: var(--neutral1);
    display: flex;
    justify-content: center;
    border-radius: 0px 0px var(--bigRadius) var(--bigRadius);
    position: relative;
}

.artists .container {
    width: calc(100% - 180px);
    gap: 50px;
    margin-top: 100px;
}

.filterSearchMode .artists .container {
    width: calc(100% - 80px);
    max-width: calc(100% - 80px);
}

.artists .darkWave {
    position: absolute;
    top: 87px;
    right: -194px;
}

@media(max-width: 1024px) {
    .artists .container {
        width: calc(100% - 40px);
    }

    .artists .firstContent {
        border-radius: 0px 0px var(--mediumRadius1) var(--mediumRadius1);
    }

    .filterSearchMode .artists .container {
        width: calc(100% - 40px);
        max-width: calc(100% - 40px);
    }

    .artists .darkWave {
        display: none;
    }

}