.artists .searchTool {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}

.modalLupaActive .artists .searchModalButton {
    bottom: 100000px;
}

.artists .searchModalButton {
    width: 100%;
    position: absolute;
    bottom: 100000px;
    border: none;
    z-index: 5;
    margin-bottom: 0px
}

.artists .searchTool form {
    width: 100%;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 95px;
    grid-column-gap: 10px;
}

.artists .searchModalButton:hover {
    background-color: var(--pinkHover);
}

.artists .searchModalButton img {
    position: absolute;
    right: 20px;
}

@media(max-width: 1024px) {

    .artists .searchModalButton {
        position: fixed;
        bottom: 0px;
        border-radius: var(--lowRadius) var(--lowRadius) 0px 0px;
        right: 0px;
        text-align: start;
    }

    .artists .searchTool form {
        width: calc(100% - 40px);
        margin-left: 20px;
        margin-right: 20px;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        transition: var(--transitionSlow);
    }

    .artists .searchTool {
        border-radius: var(--lowRadius);
        position: fixed;
        left: 0px;
        right: 0px;
        bottom: -10000px;
        background-color: var(--neutral1);
        z-index: 12;
        height: min-content;
        border-radius: var(--mediumRadius1);
        margin-bottom: 0px;
        overflow: scroll;
    }

    .searchEventsModalActive .searchTool {
        bottom: 0px;
        transition: var(--transitionMedium);
    }

    .searchTool form .go {
        margin-top: 40px;
        margin-bottom: 20px;
    }
}