.event .artists {
    width: 100%;
    padding: 0px 40px;
    padding-top: 60px;
    background-color: var(--neutral7);
}

.event .artists .title {
    overflow: hidden;
    margin-bottom: 20px;
}

.event .artists .title h2 {
    font-size: 24px;
    font-family: var(--font1);
    color: var(--neutral1);
    float: left;
    margin-right: 10px;
}

.event .artists ul li h3 {
    margin-top: 15px
}

.event .artists .title span {
    font-size: 18px;
    font-family: var(--font2);
    color: var(--neutral3);
    float: left;
}

.event .artists ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 100%;
}

.event .artists ul li {
    border-radius: var(--lowRadius);
    min-width: 100%;
    height: auto;
}

.event .artists ul li:hover {
    margin-top: -3px
}

.event .artists ul li a {
    text-decoration: none;
    display: block;
    width: 100%
}

.event .artists ul li a figure {
    padding-top: 100%;
    width: 100%;
    position: relative;
    height: 0px;
}

.event .artists ul li a img {
    border-radius: var(--mediumRadius2);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    margin-bottom: 10px;
}

.event .artists .seeAll {
    margin-top: 30px;
    color: var(--main1);
    font-family: var(--font1);
    font-size: 14px;
    display: block;
}

.event .artists .seeAll:hover {
    color: var(--pinkHover);
}

@media(max-width: 1024px) {

    .event .artists {
        padding: 0px 20px;
        padding-top: 40px;
    }

    .event .artists ul li a img {
        margin-bottom: 5px;
    }

    .event .artists ul li h3 {
        font-size: 10px;
        margin-top: 10px
    }

    .event .artists .title h2 {
        font-size: 18px;
    }

    .event .artists .title span {
        font-size: 16px;
    }

    .event .artists ul li a img {
        border-radius: var(--lowRadius);
    }

    .event .artists ul {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 10px;
    }

}