.event .info .hotels {
    width: 100%;
    padding: 0px 40px;
    padding-top: 60px;
    background-color: var(--neutral7);
    overflow: hidden;
}

.event .info .hotels .title {
    margin-bottom: 20px;
}

.event .info .hotels .title h2 {
    font-size: 24px;
    font-family: var(--font1);
    color: var(--neutral1)
}

.event .info .hotels .option {
    width: 100%;
    padding: 20px;
    background-color: var(--neutral5);
    border-radius: var(--lowRadius);
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin-bottom: 10px;
}

.event .info .hotels .option .textWrapper {
    float: left;
}

.event .info .hotels .option .textWrapper:before {
    content: "";
    display: block;
    width: 25px;
    height: 100%;
    margin-right: 20px;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../../../../src/assets/icone-hotel.svg);
    float: left;
}

.event .info .hotels .option .textWrapper h3 {
    font-family: var(--font2);
    color: var(--neutral1);
    margin-bottom: 10px;
    font-size: 16px;
}

.event .info .hotels .option .textWrapper p {
    font-family: var(--font2);
    color: var(--neutral3);
    font-size: 14px;
    margin-left: 45px;
}

.event .info .hotels .option a {
    font-size: 16px;
    font-family: var(--font2);
    color: var(--main1);
    display: block;
    margin-top: 20px;
    text-decoration: underline;
    width: max-content;
    justify-self: end;
}

.event .info .hotels .option a:hover {
    color: var(--pinkHover);
}

.event .info .hotels .option a:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../../../assets/abrir-pink.svg);
    float: right;
    margin-top: 4px;
}

@media(max-width: 1024px) {

    .event .info .hotels {
        padding: 0px 20px;
        padding-top: 40px;
    }

    .event .info .hotels .title h2 {
        font-size: 18px;
    }

    .event .info .hotels .option .textWrapper h3 {
        font-size: 14px;
    }

    .event .info .hotels .option .textWrapper p {
        font-size: 12px;
    }

    .event .info .hotels .option {
        grid-template-columns: 1fr;
    }

    .event .info .hotels .option a {
        font-size: 14px;
        justify-self: start;
    }

    .event .info .hotels .option a:after {
        margin-left: 5px;
    }
}