.event .info .more {
    width: 100%;
    padding: 40px 40px 0px 40px;
    background-color: var(--neutral7);
    position: relative;
    overflow: hidden;
}

.event .info .more .title {
    font-size: 24px;
    font-family: var(--font1);
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: 400;
}

.event .info .more h2 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 30px;
    width: 100%;
    font-family: "Lato";
    color: var(--neutral1);
    font-weight: bold;
}

.event .info .more h3 {
    font-size: 16px;
    margin-bottom: 25px;
    margin-top: 25px;
    font-family: "Lato";
    color: var(--neutral1);
    font-weight: bold;
    width: 100%;
    max-width: max-content;
}

.event .info .more h3 a:hover {
    color: var(--pinkHover);
}

.event .info .more p {
    font-size: 16px;
    margin-bottom: 20px;
    width: 100%;
    font-family: "Lato";
    color: var(--neutral1);
    line-height: 1.5em;
}

.event .info .more a {
    text-decoration: underline;
    color: var(--main1);
    font-family: "Lato";
    line-height: 1.5em;
    font-size: 16px;
}

.event .info .more b {
    font-weight: bold;
}

.event .info .more iframe {
    width: 100%;
    margin-top: 30px;
    border-radius: var(--mediumRadius1);
    height: 400px;
}

.event .info .more span {
    font-size: 14px;
    font-weight: bold;
    color: var(--neutral3);
    font-family: "Lato";
    line-height: 1.5em;
    margin-bottom: 20px;
    display: block;
}

.event .info .more ul {
    list-style: disc;
    margin-left: 20px;
}

.event .info .more li {
    font-size: 16px;
    margin-bottom: 20px;
    width: 100%;
    font-family: "Lato";
    color: var(--neutral1);
    line-height: 1.5em;
}

.event .info .more div {
    display: grid;
    width: 100%;
    overflow: visible;
    grid-template-columns: 276px 276px 276px;
    grid-column-gap: 10px;
}

.event .info .more div figure {
    margin-top: 0px;
}

.event .info .more div img {
    height: 173px;
    min-height: 173px;
    width: 100%;
    object-fit: cover;
}

.event .info .more figure {
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 40px;
    border-radius: var(--mediumRadius1);
}

.event .info .more figure:nth-child(3) {
    opacity: 40%;
}

.event .info .more img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--mediumRadius1);
}

.event .info .more figcaption {
    font-size: 14px;
    color: var(--neutral3);
    font-family: "Lato";
    line-height: 1.5em;
    margin-bottom: 10px;
}

.event .info .more a:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../../../../src/assets/abrir-pink.svg);
    float: right;
    margin-top: 4px;
}

@media (max-width: 1024px) {
    .event .info .more {
        width: 100%;
        padding: 40px 20px 0px 20px;
    }

    .event .info .more .title {
        font-size: 18px;
        font-family: var(--font1);
        margin-top: 0px;
        margin-bottom: 20px;
        font-weight: 400;
    }

    .event .info .more h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .event .info .more h3 {
        font-size: 14px;
    }

    .event .info .more p {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .event .info .more a {
        font-size: 14px;
    }

    .event .info .more span {
        font-size: 12px;
    }

    .event .info .more li {
        font-size: 14px;
    }

    .event .info .more figure {
        margin-top: 15px;
    }

    .event .info .more img {
        margin-bottom: 5px;

    }

    .event .info .tickets a {
        font-size: 14px;
    }
}