.event .info .other {
    width: 100%;
    padding: 0px 40px;
    padding-top: 20px;
    background-color: var(--neutral7);
    overflow: hidden;
}

.event .info .other .title {
    margin-bottom: 20px;
    font-size: 24px;
    font-family: var(--font1);
    color: var(--neutral1)
}

.event .info .other div {
    width: 100%;
    background-color: var(--neutral5);
    border-radius: var(--lowRadius);
    margin-bottom: 10px;
    padding: 25px;
    background-image: url(../../../../assets/seta-horizontal-right-pink.svg);
    background-position: calc(100% - 20px) calc(100% - 25px);
    background-repeat: no-repeat;
    background-size: 10px;
    bottom: 0px;
    cursor: pointer;
    transition: var(--transitionFast);
}

.event .info .other div:hover {
    background-color: var(--main1);
    background-image: url(../../../../assets/seta-horizontal-right.svg);
}

.event .info .other div:hover h2 {
    color: var(--neutral7);
}

.event .info .other div h2 {
    font-size: 16px;
    font-family: var(--font2);
    color: var(--neutral1);
    width: 100%;
    text-align: start;
}

@media(max-width: 1024px) {
    .event .info .other {
        padding: 0px 20px;
    }

    .event .info .other .title {
        font-size: 18px;
    }

    .event .info .other div h2 {
        font-size: 14px;
    }

}