.event .info .share {
    width: 100%;
    background-color: var(--neutral7);
    overflow: hidden;
    padding: 0px 40px;
    padding-bottom: 60px;
}

.event .info .share h3 {
    font-family: "Lato";
    font-weight: bold;
    font-size: 16px;
    float: left;
    margin-top: 10px;
    margin-right: 20px;
}

.event .info .share nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 174px;
    float: left;
}

.event .info .share nav a {
    padding: 8px;
    display: block;
    background-color: var(--main1);
    border-radius: var(--lowRadius);
    background-size: 20px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.event .info .share nav .link {
    background-image: url(../../../../../assets/icone-link.svg);
}

.event .info .share nav .facebook {
    background-image: url(../../../../../assets/images/icone-facebook.svg);
}

.event .info .share nav .whatsapp {
    background-image: url(../../../../../assets/icone-whatsapp-pink.svg);
}

.event .info .share nav .message {
    background-image: url(../../../../../assets/icone-mensagem-pink.svg);
}

.event .info .share .border {
    width: 100%;
    border-top: 3px solid var(--neutral5);
    padding-top: 20px;
}

@media (max-width: 1024px) {
    .event .info .share {
        padding: 0px 20px;
        padding-bottom: 10px;
    }

    .event .info .share h3 {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .event .info .share nav {
        width: 150px;
    }

    .event .info .share nav a {
        padding: 8px;
        background-size: 15px;
        width: 15px;
        height: 15px;
    }
}