.event .info .tickets {
    width: 100%;
    padding: 0px 40px;
    padding-top: 60px;
    background-color: var(--neutral7);
}

.event .info .tickets .title {
    margin-bottom: 20px;
}

.event .info .tickets .title h2 {
    font-size: 24px;
    font-family: var(--font1);
    color: var(--neutral1)
}

.event .info .tickets p {
    font-size: 16px;
    line-height: 1.5em;
    font-family: var(--font2);
    color: var(--neutral3);
}

.event .info .tickets a {
    font-size: 16px;
    font-family: var(--font2);
    color: var(--main1);
    display: block;
    margin-top: 20px;
    text-decoration: underline;
    width: max-content;
}

.event .info .tickets a:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../../../assets/abrir-pink.svg);
    float: right;
    margin-top: 4px;
}

.event .info .tickets a:hover {
    color: var(--pinkHover);
}


@media(max-width: 1024px) {
    .event .info .tickets {
        padding: 0px 20px;
        padding-top: 40px;
    }

    .event .info .tickets .title h2 {
        font-size: 18px;
    }

    .event .info .tickets p {
        font-size: 14px;
    }

    .event .info .tickets a {
        font-size: 14px;
    }
}