.event .together {
    width: 100%;
    padding: 0px 40px;
    padding-top: 60px;
    background-color: var(--neutral7);
}

.event .together .title {
    overflow: hidden;
    margin-bottom: 20px;
}

.event .together .title h2 {
    font-size: 24px;
    font-family: var(--font1);
    color: var(--neutral1);
    float: left;
    margin-right: 10px;
}

.event .together ul li h3 {
    margin-top: 15px;
}

.event .together p {
    font-family: var(--font2);
    color: var(--neutral3);
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.5em;
}

.event .together p a {
    color: var(--main1);
    text-decoration: underline;
    cursor: pointer
}

.event .together p a:hover {
    color: var(--pinkHover);
}

.event .together ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 100%;
}

.event .together ul li {
    border-radius: var(--lowRadius);
    min-width: 100%;
}

.event .together ul li:hover {
    margin-top: -3px
}

.event .together ul li a {
    text-decoration: none;
    display: block;
    width: 100%
}

.event .together ul li a figure {
    position: relative;
    padding-top: 100%;
    height: 0px;
    width: 100%;
}

.event .together ul li a img {
    width: 100%;
    border-radius: var(--mediumRadius2);
    position: absolute;
    top: 0px;
}

.event .together .seeAll {
    margin-top: 30px;
    color: var(--main1);
    font-family: var(--font1);
    font-size: 14px;
    display: block;
}

@media(max-width: 1024px) {
    .event .together {
        padding: 0px 20px;
        padding-top: 40px;
    }

    .event .together ul li a img {
        margin-bottom: 5px;
    }

    .event .together ul {
        grid-row-gap: 10px;
    }

    .event .together ul li h3 {
        font-size: 10px;
        margin-top: 10px;
    }

    .event .together ul li a img {
        border-radius: var(--lowRadius);
    }

    .event .together ul {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .event .together .title h2 {
        font-size: 18px;
    }

    .event .together p {
        font-size: 14px;
    }
}