.artist {
    background-color: var(--neutral2);
}

.artist .firstContent {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.artist .container {
    width: 100%;
    gap: 50px;
}

.artist .darkWave {
    position: absolute;
    top: 87px;
    right: -194px;
}

.artist iframe {
    border: 1px solid var(--neutral3);
    height: 155px;
    margin-bottom: 50px;
}

@media(max-width: 1024px) {
    .artist .container {
        width: 100%;
        margin-bottom: 100px;
    }

    .artist iframe {
        height: 86px;
    }

}