.events .extraContent {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
}

.events .extraContent .title {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    align-items: center;
}

.events .extraContent .title .seeAll {
    font-size: 14px;
    font-family: "Fugaz One";
    color: var(--main1);
}

.events .extraContent .title .seeAll:hover {
    color: var(--pinkHover);
}

.events .extraContent .title h2 {
    font-size: 24px;
}

.events .containerExtra {
    display: flex;
    justify-content: center;
    width: calc(100% - 120px);
    flex-direction: column;
    gap: 40px;
    align-self: center;
    position: relative;
}

/* filtro */

.events.filter .title .mobile {
    position: absolute;
    top: -1000px;
    font-size: 14px;
    font-family: var(--font2);
}

.events.filter .filterList {
    width: calc(100% - 40px);
    bottom: 100000px;
    position: fixed;
    overflow: hidden;
    margin: 0 auto;
    z-index: 10;
}

.events.filter .filterList h4 {
    position: absolute;
    left: 0px;
    font-family: var(--font2);
    font-size: 14px;
    color: var(--neutral3);
    margin-top: 13px;
}

.events.filter .filterList .viewMode {
    float: right;
}

.events.filter .filterList .viewMode div {
    background-color: var(--neutral2);
    padding: 5px;
    border-radius: var(--bigRadius);
    float: left;
    overflow: hidden;
    width: 213px;
}

.events.filter .filterList .viewMode a {
    width: 50%;
    padding: 10px 0px;
    border-radius: var(--bigRadius);
    border: none;
    text-decoration: none;
}

.events.filter .filterList .viewMode a:nth-child(1) {
    float: left;
    background-color: var(--neutral1);
}

.events.filter .filterList .viewMode a:nth-child(2) {
    float: left;
    background-color: var(--neutral2);
    opacity: 40%;
}

.events.filter .filterList .viewMode h3 {
    font-family: var(--font2);
    font-size: 16px;
    color: var(--neutral7);
    display: inline;
    margin-right: 10px;
    float: left;
    margin-top: 12px;
}

.events.filter .filterList p {
    font-family: var(--font2);
    font-size: 12px;
    color: var(--neutral7);
    width: max-content;
    margin: 0 auto;
}

.events.filter .filterList p:before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 10px;
    background-size: 15px;
    background-repeat: no-repeat;
}

.events.filter .filterList .filterIcon:before {
    background-image: url(../../../assets/icone-filtro.svg);
}

.events.filter .filterList .viewMode .list:before {
    background-image: url(../../../assets/icone-lista-filtro.svg);
}

.events.filter .filterList .viewMode .map:before {
    background-image: url(../../../assets/icone-mapa-filtro.svg);
}

.events.filter .filterList .filterButton {
    float: left;
    width: 90px;
    background-color: var(--main1);
    margin-top: 0px;
    padding: 15px 0px;
    color: var(--neutral7);
    border: none;
}

@media(max-width: 1024px) {

    .events.filter .title .mobile {
        top: 0px;
    }

    .events.filter .title .desk {
        display: none;
    }

    .events.filter .filterList .filterButton {
        display: block;
        font-size: 12px;
        border-radius: 50px;
    }

    .events.filter .filterList {
        bottom: 40px;
    }

    footer.no-margin {
        margin-top: 0px;
    }

    .events .containerExtra {
        margin-top: 0px;
        gap: 45px;
        width: calc(100% - 40px);
    }

    .events .extraContent .title {
        margin-bottom: 15px;
    }

    .events .extraContent .title h2 {
        font-size: 18px;
    }
}