.events .launchOnTheSite {
    background-color: var(--neutral5);
    justify-content: space-between;
    display: flex;
    border-radius: var(--mediumRadius1);
    position: relative;
    align-items: center;
    padding: 35px 40px;
    overflow: hidden;
    margin-bottom: 80px;
}

.events .launchOnTheSite .launchWave {
    position: absolute;
    bottom: -54px;
    background-image: url(../../../assets/onda-lancamento.svg);
    background-repeat: no-repeat;
    background-size: 790px;
    width: 1312px;
    height: 200px;
    background-size: contain;
    right: 16px;
    z-index: 0;
}

.events .launchOnTheSite a {
    padding: 18px 20px;
    line-height: 21px;
    background-color: var(--main1);
    border-radius: var(--lowRadius);
    border: none;
    z-index: 1;
    font-size: 14px;
    text-decoration: none;
    display: block;
}

.events .launchOnTheSite a:hover {
    background-color: var(--pinkHover);
}

.events .launchOnTheSite div {
    z-index: 1;
    width: 40%;
}

.events .launchOnTheSite h2 {
    margin-bottom: 20px;
    line-height: 1.30em;
    font-size: 24px;
}

.events .launchOnTheSite p {
    line-height: 1.5em;
    font-size: 16px;
}

@media(max-width: 1024px) {

    .events .launchOnTheSite {
        display: none;
    }
}