.artists .allArtists {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.artists .allArtists .title {
    margin-bottom: 10px;
    position: relative;
}

.artists .allArtists .text {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 30px);
}

.artists .allArtists .SumoSelect p {
    border: none;
}

.artists .allArtists .SumoSelect[is-selected=true]>.CaptionCont>span {
    color: var(--main1);
}

.artists .allArtists .SumoSelect>.CaptionCont>label>i {
    background-image: url(../../../assets/seta-pink.svg);
    margin-left: 30px;
    cursor: pointer;
}

.artists .allArtists .SumoSelect>.optWrapper>.options {
    background-color: var(--neutral6);
    color: var(--neutral1);
    padding: 0px 5px;
}

.artists .allArtists .SumoSelect>.optWrapper>.options li {
    margin: 5px 0px;
    border-radius: var(--lowRadius);
}

.artists .allArtists .SumoSelect>.optWrapper {
    margin-top: 0px;
    width: 122px;
    left: -65px;
}

.artists .allArtists .SumoSelect>.optWrapper>.options li.opt:hover {
    color: var(--neutral7);
}

.artists .allArtists .SumoSelect>.optWrapper>.options li.opt:hover {
    background-color: var(--main1);
}

.artists .allArtists .text .filterAZ {
    display: flex;
    gap: 5px;
    align-items: center;
}

.artists .allArtists .listArtists {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 100%;
}

.artists .allArtists .listArtists .item {
    border-radius: var(--mediumRadius1);
}

.artists .allArtists .listArtists .item:hover {
    margin-top: -3px;
}

.artists .allArtists .listArtists .item h3 {
    font-size: 16px;
    color: var(--neutral1);
}

.artists .allArtists .listArtists .item a {
    width: 100%;
    border-radius: var(--mediumRadius1);
    text-decoration: none;
}

.artists .allArtists .listArtists .item a img {
    width: 100%;
    border-radius: var(--mediumRadius1);
    margin-bottom: 10px;
}

.artists .allArtists button {
    align-self: center;
    width: max-content;
    padding: 18px 20px;
    line-height: 21px;
    margin-top: 30px;
    color: var(--neutral6);
    background-color: var(--main1);
    border-radius: var(--lowRadius);
    border: none;
}

.artists .allArtists button:hover {
    background-color: var(--pinkHover);
    cursor: pointer;
}

.filterSearchMode .artists .allArtists button {
    display: none;
}

@media(max-width: 601px) {

    .artists .allArtists .text .filterAZ .orderby {
        display: none;
    }

    .artists .allArtists .listArtists .item h3 {
        font-size: 12px;
    }

    .artists .allArtists .listArtists .item a img {
        border-radius: var(--mediumRadius2);
    }

    .artists .allArtists .listArtists {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 15px;
    }

    .artists .allArtists .text h2 {
        font-size: 18px;
    }

    .artists .allArtists button {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 12px;
    }

}