.home .bestEvents {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.placeTipActive .home .bestEvents {
    z-index: 0;
    position: relative;
}

.home .bestEvents .title {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 40px;
}

.home .bestEvents .title div {
    display: flex;
}

.home .bestEvents .title button {
    width: 20px;
    background-color: var(--neutral1);
    border: none;
}

.home .bestEvents .title .btn-next img {
    width: 100%;
}

.home .bestEvents .title .btn-prev img {
    width: 100%;
}

.home .bestEvents .carouselBestEvents {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%
}

.home .bestEvents .carouselBestEvents a {
    width: 100%;
    background-color: var(--neutral2);
    padding: 0px 25px;
    border-radius: var(--mediumRadius1);
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 90px;
}

.home .bestEvents .carouselBestEvents a p {
    display: flex;
    align-items: center;
    line-height: 1.27em;
}

.home .bestEvents .carouselBestEvents a p.fireIcon:before {
    background-image: url(../../../assets/icone-fogo-branco.svg);
    content: "";
    display: block;
    width: 40px;
    height: 45px;
    float: left;
    margin-right: 10px;
    background-size: 30px;
    background-repeat: no-repeat;
    opacity: 40%;
}


.home .bestEvents .carouselBestEvents a p.placeIcon:before {
    background-image: url(../../../assets/icone-localizacao-branco.svg);
    content: "";
    display: block;
    width: 40px;
    height: 45px;
    float: left;
    margin-right: 10px;
    background-size: 30px;
    background-repeat: no-repeat;
    opacity: 40%;
}

.home .bestEvents .carouselBestEvents a:hover {
    background-color: var(--greyHover);
}

.home .bestEvents .carouselBestEvents a:active {
    background-color: var(--main1);
}

.home .bestEvents .carouselBestEvents a:active p.fireIcon:before,
.home .bestEvents .carouselBestEvents a:active p.placeIcon:before {
    opacity: 100%;
}

.home .bestEvents .owl-carousel .owl-nav {
    top: -65px;
}

.home .bestEvents .owl-carousel .owl-stage-outer {
    overflow: visible;
}

@media(max-width: 1024px) {

    .home .bestEvents {
        margin-bottom: 30px;
    }

    .home .bestEvents .title {
        margin-bottom: 15px;
    }

    .home .bestEvents .title h2 {
        font-size: 18px;
    }

    .home .bestEvents .carouselBestEvents .item {
        width: 100%;
    }

    .home .bestEvents .button {
        width: 100%;
    }

    .home .bestEvents .carouselBestEvents a {
        padding: 35px 20px;
        border-radius: var(--mediumRadius1);
        text-decoration: none;
    }

    .home .bestEvents .carouselBestEvents a p {
        font-size: 14px;
    }

    .home .bestEvents .carouselBestEvents {
        width: calc(100% - 50px);
    }

    .home .bestEvents .owl-carousel .owl-stage-outer {
        overflow: visible;
    }

}