* {
    box-sizing: border-box;
}

.home .firstContent {
    background-color: var(--neutral1);
    display: flex;
    justify-content: center;
    border-radius: 0px 0px var(--bigRadius) var(--bigRadius);
    position: relative;
}

.home .container {
    width: calc(100% - 120px);
    width: calc(100% - 120px);
    gap: 50px;
}

.home .darkWave {
    background-image: url(../../../assets/darkWave.svg);
    position: absolute;
    top: 100px;
    right: -194px;
    background-repeat: no-repeat;
    background-size: 790px;
    width: 790px;
    height: 900px;
}

.home .seeAll:hover {
    color: var(--pinkHover);
}


@media(max-width: 1024px) {
    .home .container {
        width: calc(100% - 40px);
        gap: 50px;
    }

    .home .firstContent {
        border-radius: 0px 0px var(--mediumRadius1) var(--mediumRadius1);
    }

    .home .darkWave {
        display: none;
    }

}