.home .searchEvents {
    margin-top: 40px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 90px;
}

.home .searchEvents .title {
    margin-bottom: 30px;
}

.placeTipActive .searchTool form .placeTip .placeTipOpen {
    padding-bottom: 20px;
}

@media(max-width: 1024px) {
    .home .searchEvents {
        border-radius: var(--lowRadius);
        position: fixed;
        left: 0px;
        right: 0px;
        bottom: -10000px;
        background-color: var(--neutral1);
        z-index: 12;
        border-radius: var(--mediumRadius1);
        height: calc(100vh - 65px);
        overflow-y: scroll;
    }

    .searchEventsModalActive .searchEvents {
        bottom: 0px;
        transition: var(--transitionMedium);
        margin-bottom: 0px;
    }

    .home .searchModalButton {
        margin-bottom: 40px;
        position: relative;
        text-align: start;
    }

    .placeTipActive .home .searchTool form .placeTip .placeTipOpen {
        top: -278px;
    }

    .home .searchTool form .borderTip {
        right: 224px;
    }

}