.together .guide .title {
    margin-bottom: 10px;
    font-size: 24px;
}

.together .guide .title h2 {
    margin-bottom: 25px;
}

.together .guide .text {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 30px);
}

.together .guide .text h3 {
    font-size: 16px;
}

.together .guide .SumoSelect p {
    border: none;
}

.together .guide .SumoSelect>.CaptionCont>label>i {
    background-image: url(../../../assets/seta-pink.svg);
    margin-left: 30px;
    cursor: pointer;
}

.together .guide .SumoSelect>.optWrapper>.options {
    background-color: var(--neutral6);
    color: var(--neutral1);
    padding: 0px 5px;
}

.together .guide .SumoSelect>.optWrapper>.options li {
    margin: 5px 0px;
    border-radius: var(--mediumRadius1);
}

.together .guide .SumoSelect>.optWrapper {
    margin-top: 0px;
    width: 122px;
    left: -65px;
}

.together .guide .SumoSelect>.optWrapper>.options:hover {
    color: var(--neutral7);
}

.together .guide .text .filterAZ {
    display: flex;
    gap: 5px;
    align-items: center;
}

.together .guide .item {
    width: 100%;
}

.together .guide .item:hover {
    margin-top: -3px
}

.together .guide .item div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    gap: 5px;
}

.together .guide .item h2 {
    line-height: 1.5em;
    margin-top: 5px;
    text-transform: uppercase;
}

.together .guide .item a {
    width: 100%;
    border-radius: var(--mediumRadius1);
    text-decoration: none;
    position: relative;
    display: block;
}

.together .guide a figure {
    width: 100%;
    border-radius: var(--mediumRadius1);
    background-color: var(--neutral5);
    margin-bottom: 3px;
    height: 0px;
    padding-top: 100%;
    position: relative;
}

.together .guide img {
    position: absolute;
    top: 0px;
    width: 100%;
    object-fit: cover;
    border-radius: var(--mediumRadius1);
}

.together .guide .listGuide {
    display: grid;
    gap: 20px;
    margin-bottom: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 15px
}

.together .guide button.disabled {
    display: none;
}

.together .guide button {
    width: max-content;
    padding: 10px 20px;
    margin-top: 30px;
    color: var(--neutral6);
    background-color: var(--main1);
    border-radius: var(--lowRadius);
    border: none;
    display: block;
    margin: 0 auto;
}

.together .guide button:hover {
    background-color: var(--pinkHover);
    cursor: pointer;
}

.filterSearchMode .together .guide button {
    display: none;
}

@media (max-width: 1024px) {

    .together .guide .north figure {
        height: 115px;
    }

    .together .guide .listGuide {
        margin-bottom: 40px;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
    }

    .together .guide img {
        border-radius: var(--mediumRadius2);
    }

    .together .guide .title h2 {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .together .guide .item h2 {
        font-size: 9px;
    }
}