* {
    box-sizing: border-box;
}

.events .firstContent {
    background-color: var(--neutral1);
    display: flex;
    justify-content: center;
    border-radius: 0px 0px var(--bigRadius) var(--bigRadius);
    position: relative;
}

.events .firstContent.fixed {
    position: fixed;
    top: 0px;
    z-index: 4;
    width: 100%;
}

.events .container {
    width: calc(100% - 120px);
    width: calc(100% - 120px);
    gap: 50px;
}

.events .darkWave {
    background-image: url(../../../assets/darkWave.svg);
    position: absolute;
    right: -194px;
    background-repeat: no-repeat;
    background-size: 790px;
    width: 790px;
    top: 105px;
    height: 900px;
}

.events .seeAll:hover {
    color: var(--pinkHover);
}

.events .wave1 {
    position: absolute;
    background-image: url(../../../assets/onda-events-esq.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 2378px;
    height: 800px;
    content: "";
    left: -664px;
    top: 171px;
}


@media(max-width: 1024px) {
    .events .container {
        width: calc(100% - 40px);
        gap: 50px;
    }

    .events .wave1 {
        display: none;
    }

    .events .darkWave {
        display: none;
    }

    .events .firstContent {
        border-radius: 0px 0px var(--mediumRadius1) var(--mediumRadius1);
    }

}