@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

a,
img,
button,
.item,
li {
    transition: var(--transitionFast);
}

body {
    width: 100%;
    background-color: var(--neutral7);
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

/* neutral a mais? #373434 */
:root {
    --neutral1: #211E1E;
    --neutral2: #2C2929;
    --neutral3: #707070;
    --neutral4: #E3E3E3;
    --neutral5: #F2F2F2;
    --neutral6: #F4F4F4;
    --neutral7: #FFFFFF;
    --main1: #F83A80;
    --main2: #672DBF;
    --main3: #D1FF00;
    --main4: #FFEC1C;
    --main5: #4DCB6D;
    --main6: #F04242;
    --main7: #3E6DE6;
    --main8: #65FF95;
    --main9: #FA9734;
    --main10: #05E2F2;
    --main11: #FF5C5C;
    --main12: #F07EF2;
    --pinkHover: #DB2065;
    --greyHover: rgb(255, 255, 255, 10%);
    --greenHover: #2ea74c;
    --greyOpacity: #373434;
    --boxShadowOpacity: #969595;
    --hoverSelect: #4E4C4C;
    --font1: "Fugaz One";
    --font2: "Lato";
    --borderRadius1: 3px;
    --borderRadius2: 5px;
    --borderRadius3: 10px;
    --borderRadius4: 20px;
    --transitionFast: all 0.5s;
    --transitionMedium: all 1s;
    --transitionSlow: all 2s;
    --bigRadius: 20px;
    --mediumRadius1: 10px;
    --mediumRadius2: 8px;
    --lowRadius: 5px;

}

body::-webkit-scrollbar-track {
    background: var(--neutral1);
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: var(--neutral1);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--main1);
    border-radius: var(--bigRadius);
}

.fontColor1 {
    color: var(--neutral1)
}

.fontColor2 {
    color: var(--neutral3)
}

.fontColor3 {
    color: var(--neutral6)
}

.fontColor4 {
    color: var(--main1)
}

/* fonts */
.font1 {
    font-family: var(--font1);
}

.font2 {
    font-family: var(--font2);
}

.fontSize1 {
    font-size: 10px;
    font-weight: 400;
}

.fontSize2 {
    font-size: 12px;
    font-weight: 400;
}

.fontSize3 {
    font-size: 14px;
    font-weight: 400;
}

.fontSize4 {
    font-size: 16px;
    font-weight: 400;
}

.fontSize5 {
    font-size: 18px;
    font-weight: 400;
}

.fontSize6 {
    font-size: 24px;
    font-weight: 400;
}

.fontSize7 {
    font-size: 36px;
    font-weight: 400;
}

/* tag */

.tag {
    position: absolute;
    left: 0px;
    top: 10px;
    border-radius: 0px var(--lowRadius) var(--lowRadius) 0px;
    padding: 9px 10px;
    width: fit-content;
    font-size: 10px;
    font-family: "Lato";
}

.tagPromoDiv {
    position: absolute;
    z-index: 3;
    right: 20px;
    top: -10px;
}

.tagPromo {
    display: block;
    color: var(--neutral6);
    background-color: var(--main1);
    padding: 5px;
    border-radius: 3px;
}

.tagPromoTip {
    position: absolute;
    display: block;
    padding-bottom: 10px;
    background-color: var(--main1);
    width: 12px;
    transform: rotate(-45deg);
    bottom: -3px;
    right: 45%;
    z-index: -1;
}

.home figure {
    position: relative;
}

.disabled {
    display: none;
}

/* background TAGS */

.backgroundBlue {
    background-color: var(--main7);
    color: var(--neutral6) !important;
}

.backgroundLightGreen {
    background-color: var(--main8);
    color: var(--neutral1) !important;
}

.backgroundWaterBlue {
    background-color: var(--main10);
    color: var(--neutral6) !important;
}

.backgroundOrange {
    background-color: var(--main9);
    color: var(--neutral4) !important;
}

.backgroundPink {
    background-color: var(--main1);
}

.backgroundSalmon {
    background-color: var(--main11);
    color: var(--neutral4) !important;
}

.backgroundBarbie {
    background-color: var(--main12);
    color: var(--neutral4) !important;
}

.backgroundPurple {
    background-color: var(--main2);
    color: var(--neutral6);
}

.backgroundGreen {
    background-color: var(--main3);
    color: var(--neutral1);
}

.backgroundYellow {
    background-color: var(--main4);
    color: var(--neutral1);
}

.backgroundDarkGreen {
    background-color: var(--main5);
    color: var(--neutral1);
}

.backgroundRed {
    background-color: var(--main6);
    color: var(--neutral1);
}

.backgroundWhite {
    background-color: var(--neutral7);
    color: var(--neutral1);
}

.backgroundGrey {
    background-color: var(--neutral4);
    color: var(--neutral1)
}

/* icon */

.littleIcon {
    width: 16px;
}

a {
    cursor: pointer;
}

button {
    cursor: pointer;
}

/* button */

.buttonPinkLarge {
    width: 100%;
    align-self: center;
    padding: 15px 20px;
    margin-bottom: 5px;
    color: var(--neutral6);
    background-color: var(--main1);
    border-radius: var(--lowRadius);
    text-decoration: none;
    border: none;
    border: 3px solid var(--main1);
    line-height: 21px;
}

.buttonPinkLarge:hover {
    background-color: var(--pinkHover);
    border: 3px solid var(--pinkHover);
}

.buttonPinkSmall {
    width: fit-content;
    align-self: center;
    padding: 20px;
    margin-bottom: 5px;
    color: var(--neutral6);
    background-color: var(--main1);
    border-radius: var(--lowRadius);
    text-decoration: none;
}

.buttonBlackLarge {
    width: 100%;
    align-self: center;
    padding: 15px 20px;
    margin-bottom: 5px;
    color: var(--neutral7);
    background-color: var(--neutral1);
    border: 3px solid var(--neutral7);
    border-radius: var(--lowRadius);
    text-decoration: none;
    line-height: 21px;
}

.buttonBlackLarge:hover {
    background-color: var(--greyHover);
}

.buttonXClose {
    cursor: pointer;
    width: 30px;
    height: 22px;
    max-height: 22px;
    margin-left: 20px;
}

.buttonXClose span {
    display: block;
    height: 2px;
    width: 100%;
    border-radius: 30px;
}

.buttonXClose span:nth-child(1) {
    transform: rotate(-45deg);
}

.buttonXClose span:nth-child(2) {
    transform: rotate(45deg);
}