@media(max-width: 1024px) {

	footer .container {
		width: calc(100% - 40px);
		max-width: calc(100% - 40px);
		gap: 50px;
	}

	footer.variation .sugestions {
		right: 0px;
		position: relative;
	}

	footer.variation .container {
		width: calc(100% - 40px);
		max-width: calc(100% - 40px);
	}

	footer {
		margin-top: 40px;
		border-radius: var(--mediumRadius1) var(--mediumRadius1) 0px 0px;
	}

	footer.hide {
		display: none;
	}

	footer .rights .politics {
		width: 100%;
		gap: 40px;
	}

	.footerWave3 {
		position: absolute;
		bottom: -530px;
		left: -10000px;
		width: 723px;
	}

	.footerWave1 {
		left: -10000px;
	}

	footer .rights {
		flex-direction: column;
		padding-top: 30px;
		margin-top: 40px;
	}

	footer .rights .politics {
		width: 100%;
		gap: 40px;
	}

	footer .rights .logo {
		width: 100%;
		flex-direction: column;
		margin-bottom: 50px;
		align-items: center;
	}

	footer .rights .politics a {
		align-self: center;
	}

	footer .sugestions {
		align-content: center;
		height: 190px;
		margin-bottom: 10px;
		margin-top: 20px;
	}

	footer .sugestions .footerSearch {
		display: none
	}

	footer .sendEventImg {
		position: absolute;
		left: -10000px;
	}

	footer .sugestions .card .content {
		top: 0px;
		height: min-content;
		padding: 0px;
		height: 100%;
		max-height: 100%;
	}

	footer .sugestions .card {
		width: 100%
	}

	footer .sugestions .card .content h2 {
		font-size: 18px;
	}

	footer .sugestions .card .content p {
		color: var(--neutral3)
	}

	footer .sugestions .card .content a {
		font-size: 12px;
	}

	footer .sugestions .card .content h2,
	footer .sugestions .card .content p,
	footer .sugestions .card .content a {
		width: 100%;
		margin: 0px;
		margin-top: 20px;
	}

	footer .utils .newsletter {
		width: 100%;
	}

	footer .utils .newsletter h2 {
		margin-top: 20px;
	}

	footer .utils .navigation,
	footer .utils .highlightEvents,
	footer .utils .follow {
		position: absolute;
		left: -10000px;
	}

	footer .utils .newsletter button {
		margin-bottom: 0px;
		font-size: 12px;
	}

	.searchModalButton {
		bottom: 0px;
	}

	.searchToolModalActive .searchTool {
		top: 25px;
		transition: var(--transitionMedium)
	}

	.searchTool h2 {
		font-size: 18px;
		margin: 50px 0px 20px 20px;
	}

	.searchTool form {
		width: calc(100% - 40px);
		margin-left: 20px;
		margin-right: 20px;
		grid-template-columns: 1fr;
		grid-row-gap: 20px;
		transition: var(--transitionSlow);
	}

	.searchTool form .field {
		width: 100%;
	}

	.searchTool form label {
		font-size: 14px;
	}

	.searchTool form .go {
		margin-top: 100px;
		margin-bottom: 30px;
		width: 100%;
		border: none;
		font-size: 12px;
	}

	.searchTool .searchModalClose {
		right: 20px;
		top: 18px;
		opacity: 60%;
	}

	.searchTool .searchModalClose:hover {
		opacity: 100%;
	}

	.placeTipActive .searchTool form .placeTip .placeTipOpen {
		top: -210px;
		left: 0px;
	}

	.backgroundModalSearch {
		background-color: var(--neutral3);
		opacity: 0%;
		height: 100vh;
		position: fixed;
		width: 100%;
		transition: var(--transitionFast);
		z-index: -3;
	}

	.searchEventsModalActive .backgroundModalSearch {
		z-index: 11;
		opacity: 80%;
	}

	body.searchEventsModalActive {
		overflow: hidden;
	}

	.home .featured {
		flex-direction: column;
		margin-top: 20px;
	}

	.home .countdown .iconWrapper {
		flex-direction: column;
	}

	.home .emphasis {
		width: 100%;
		height: min-content;
		margin-top: 130px;
		overflow: visible;
	}

	.home .emphasis .carouselEvents .item {
		min-height: 450px;
		height: max-content;
		padding: 15px;
		border-radius: var(--mediumRadius2);
		padding-bottom: 60px;
	}

	.home .emphasis .carouselEvents .text p {
		font-size: 10px;
	}

	.home .emphasis .carouselEvents .text h2 {
		font-size: 18px;
		margin-bottom: 5px;
	}

	.home .emphasis .title {
		margin-bottom: 0px;
	}

	.home .emphasis .title h1 {
		font-size: 18px;
	}

	.home .emphasis .carouselEvents .item a {
		flex-direction: column;
		gap: 10px;
	}

	.home .emphasis .carouselEvents .item .star,
	.home .emphasis .carouselEvents .item .music {
		display: none;
	}

	.home .emphasis .carouselEvents .item figure {
		padding-right: 0px;
		padding-top: 100%;
		height: 0px;
		width: 100%;
		border-radius: 6px;
	}

	.home .emphasis .carouselEvents .item figure img {
		top: 0px;
	}

	.home .emphasis .carouselEvents {
		background-color: var(--neutral1);
		width: calc(100% - 50px)
	}

	.home .countdown .carouselCountdown {
		width: calc(100% - 50px)
	}

	.home .emphasis .carouselEvents .item .calendar {
		position: absolute;
		bottom: 10px;
		width: max-content;
	}

	.home .emphasis .carouselEvents .text .iconWrapper {
		flex-direction: row;
	}

	.home .owl-carousel .owl-stage-outer {
		overflow: visible;
	}

	.home .emphasis .carouselEvents .text {
		width: calc(100% - 10px);
		gap: 10px;
	}

	.home .emphasis .carouselEvents .text p {
		font-size: 12px;
		line-height: 15px;
	}

	.home .countdown .carouselCountdown .text h2 {
		font-size: 14px;
		margin-bottom: 5px;
	}

	.home .countdown .title {
		margin-bottom: 0px;
	}

	.home .countdown .title h2 {
		font-size: 18px;
	}

	.home .countdown .text {
		gap: 10px;
		width: calc(100% - 155px);
	}

	.home .countdown .carouselCountdown .text p {
		font-size: 10px;
		line-height: 12px;
	}

	.home .countdown .place {
		flex-direction: column;
	}

	.home .countdown {
		width: 100%;
		overflow: visible;
	}

	.home .countdown .card figure {
		padding-right: 130px;
		height: 100%;
		border-radius: 6px;
	}

	.home .countdown .card img {
		height: 100%;
	}

	.home .countdown .card {
		height: 170px;
		gap: 15px;
		border-radius: var(--mediumRadius2);
		padding: 15px;
	}

	.home .countdown .item .containerItem:nth-child(1) {
		margin-bottom: 0px;
	}

	.home .container {
		width: calc(100% - 40px);
		gap: 50px;
	}

	.home .advertisement .container {
		width: 100%
	}

	.home .firstContent {
		border-radius: 0px 0px var(--mediumRadius1) var(--mediumRadius1);
	}

	.home .darkWave {
		display: none;
	}

	.home .searchEvents {
		border-radius: var(--lowRadius);
		position: fixed;
		left: 0px;
		right: 0px;
		bottom: -10000px;
		background-color: var(--neutral1);
		z-index: 12;
		border-radius: var(--mediumRadius1);
		height: calc(100vh - 65px);
		overflow-y: scroll;
	}

	.searchEventsModalActive .searchEvents {
		bottom: 0px;
		transition: var(--transitionMedium);
		margin-bottom: 0px;
	}

	.home .searchModalButton {
		margin-bottom: 40px;
		position: relative;
		text-align: start;
		bottom: 0px;
		width: 100%;
		border-radius: var(--lowRadius);
	}

	.searchEventsModalActive .home .searchModalButton {
		width: calc(100% - 10px);
	}

	.placeTipActive .home .searchTool form .placeTip .placeTipOpen {
		top: -298px;
	}

	.home .searchTool form .borderTip {
		right: 224px;
	}

	.home .bestEvents {
		margin-bottom: 30px;
	}

	.home .bestEvents .title {
		margin-bottom: 15px;
	}

	.home .bestEvents .title h2 {
		font-size: 18px;
	}

	.home .bestEvents .carouselBestEvents .item {
		width: 100%;
	}

	.home .bestEvents .button {
		width: 100%;
	}

	.menu nav {
		padding: 20px;
	}

	header.noMenuMobile {
		display: none;
	}

	.modalMenu .icons {
		padding: 0px 20px;
	}

	.menuDrop .menu.floated nav {
		padding: 40px 20px;
	}

	.modalLupaActive .menu.floated .logo,
	.modalLupaActive .menu.static .logo {
		display: none;
	}

	.modalMenu h2 {
		padding: 0px 20px;
	}

	.modalMenu .buttons {
		padding: 60px 20px 0px 20px;
	}

	.modalMenu ul {
		padding: 0px 20px;
	}

	.modalLupaActive .menu {
		background-color: var(--neutral2);
	}

	.modalMenu .buttons a {
		width: 100%;
		font-size: 12px;
	}

	.modalMenu .buttons a:nth-child(1) {
		margin-bottom: 20px;
	}

	.menu .containerLupa .modalLupa,
	.menu .containerLupa .modalLupa.mobile {
		padding: 0px;
		padding-top: 20px;
	}

	.modalLupaActive {
		overflow: hidden;
	}

	.modalLupaActive .backgroundModal {
		opacity: 100%;
		background-color: var(--neutral2);
		z-index: 5;
		height: 100vh;
		top: 0px;
	}

	.inputLupaActive .menu .containerLupa .modalLupa.mobile {
		transition: var(--transitionMedium);
		top: 55px;
		z-index: 3;
		overflow: scroll;
	}

	.modalLupaActive .menu.floated .containerLupa,
	.modalLupaActive .menu.static .containerLupa {
		margin-right: 20px;
		width: calc(100% - 40px);
		top: 80px;
	}

	.modalLupaActive .menu.floated .modal {
		z-index: -1;
	}

	.menu.floated {
		top: 0px;
		position: fixed;
		z-index: 10;
	}

	.menu.scroll .containerLupa .modalLupa ul {
		width: calc(100% - 20px);
	}

	.menu .containerLupa .seeAll {
		margin-bottom: 20px;
	}

	.menu.scroll .containerLupa h2,
	.menu.scroll .containerLupa a {
		width: calc(100% - 20px);
	}

	.menu .containerLupa .modalLupa ul li h3 {
		font-size: 12px;
	}

	.menu .containerLupa .modalLupa ul li p {
		font-size: 10px;
	}

	.menu .containerLupa .modalLupa {
		width: 100%;
	}

	.menu .containerLupa .modalLupa .mobile {
		width: 100%;
	}

	.menu.scroll .containerLupa .modalLupa {
		overflow-y: scroll;
	}

	.menu .containerLupa .modalLupa {
		padding: 20px 0px 50px 0px;
		height: calc(100vh - 120px);
	}

	.menu .containerLupa .modalLupa::-webkit-scrollbar {
		width: 8px;
	}

	.menu .containerLupa .modalLupa::-webkit-scrollbar-track {
		background: var(--neutral1);
	}

	.menu .containerLupa .modalLupa::-webkit-scrollbar-thumb {
		background-color: var(--main1);
		border-radius: var(--bigRadius);
	}

	.menu.static {
		display: none;
	}

	body.menuActive .bigLogo.menu .logo {
		transform: translate(calc(50% - 20px), calc(50% + -20px));
	}

	.menu .containerLupa .modalLupa ul li a {
		width: 100%;
		height: 100%;
	}

	.menu .containerLupa .modalLupa ul li figure {
		width: 60px
	}

	.menu .containerLupa .modalLupa ul li {
		width: 100%;
		height: 60px;
		border-radius: var(--lowRadius);
	}

	.modalLupaActive .menu .containerLupa .closeButtonModal {
		position: absolute;
		top: -60px;
		z-index: 11;
		right: 0px;
		opacity: 40%;
	}

	.menu .containerLupa .closeButtonModal:hover {
		opacity: 100%;
	}

	.menu .containerLupa .modalLupa ul li a img {
		border-radius: var(--lowRadius) 0px 0px var(--lowRadius);
	}

	.modalLupaActive .menu .containerLupa {
		transition: var(--transitionSlow);
		box-shadow: 93px 0 0px 241px var(--neutral2);
		border-radius: var(--lowRadius);
		width: calc(100% - 40px);
		margin-right: 20px;
		margin-left: 20px;
		top: 100px;
		position: absolute;
		right: 0px;
		margin-right: 20px;
	}

	.bigLogo.menu .logo {
		width: 52px;
		position: absolute;
		left: 0px;
		right: 0px;
		top: 20px;
		bottom: 0px;
		margin: 0 auto;
	}

	.backgroundMenu .bigLogo.menu .logo {
		width: 44px;
		top: 10px;
	}

	.bigLogo.menu .lupa,
	.bigLogo.menu {
		background-color: transparent
	}

	.menuDrop .bigLogo .lupa,
	.menuDrop .bigLogo {
		background-color: var(--neutral1)
	}

	.backgroundMenu .bigLogo.menu .lupa,
	.backgroundMenu .bigLogo.menu {
		background-color: var(--neutral1)
	}

	.modalMenu {
		width: 100%;
	}

	.menu .containerLupa input,
	.modalLupaActive .menu.static .containerHide,
	.modalLupaActive .menu.floated .containerHide,
	.modalLupaActive .menu .containerLupa .closeLupa {
		background-color: var(--neutral2);
	}

	.artistsHighlights .carouselArtists {
		width: calc(100% - 50px)
	}

	.artistsHighlights .carouselArtists .item a img {
		margin-bottom: 5px;
		border-radius: var(--mediumRadius2);
	}

	.artistsHighlights .carouselArtists .item h3 {
		font-size: 10px;
	}

	.bestEvents .carouselBestEvents a p {
		font-size: 14px;
	}

	.bestEvents .carouselBestEvents {
		width: calc(100% - 50px)
	}

	/* .componentGuide {
		width: 100%
	} */

	.componentGuide .carouselGuide {
		width: calc(100% - 50px);
	}

	.componentGuide .title {
		font-size: 18px;
	}

	.componentGuide .item h2 {
		font-size: 14px;
		margin-top: 5px;
		margin-bottom: 10px;
	}

	.componentGuide figure img {
		border-radius: var(--mediumRadius2);
	}

	.launchOnTheSite {
		flex-direction: column;
		padding: 30px;
	}

	.launchOnTheSite div {
		width: 100%;
	}

	.launchOnTheSite h2 {
		font-size: 18px;
	}

	.launchOnTheSite p {
		margin-bottom: 20px;
		font-size: 14px;
	}

	.launchOnTheSite button {
		width: 100%;
	}

	.home .together {
		flex-direction: column;
		height: min-content;
		gap: 0px;
		margin: 0px;
		border-radius: var(--mediumRadius1);
		padding: 20px;
		padding-bottom: 60px;
		padding-top: 40px;
		margin-bottom: 40px;
	}

	.home .together .owl-carousel .owl-stage-outer {
		overflow: visible;
	}

	.home .together .smokeEffect {
		display: none;
	}

	.home .together .carouselContainer {
		width: 100%
	}

	.home .together .carouseltogether .item a img {
		margin-bottom: 5px;
		border-radius: var(--mediumRadius2);
	}

	.home .together .carouseltogether {
		width: calc(100% - 50px)
	}

	.home .together .text {
		width: 100%;
		gap: 20px;
	}

	.home .together .backgroundWave {
		bottom: -201px;
		width: 1126px;
		left: -256px;
	}

	.home .together .text a {
		margin-bottom: 20px;
		font-size: 12px;
	}

	.home .together .text h2 {
		font-size: 18px;
	}

	.home .together .text h3 {
		font-size: 14px;
	}

	.home .together .carouseltogether .item a p {
		font-size: 10px;
		line-break: strict
	}

	.home .artistHighlights .carouselArtists {
		display: flex;
		gap: 5px;
		width: calc(100% - 50px)
	}

	.home .artistHighlights .carouselArtists .item a img {
		margin-bottom: 5px;
		border-radius: var(--mediumRadius2);
	}

	.home .artistHighlights .carouselArtists .item h3 {
		font-size: 10px;
	}

	.home .containerExtra {
		margin-top: 0px;
		gap: 40px;
		width: calc(100% - 40px);
	}

	.home .extraContent .title {
		margin-bottom: 15px;
	}

	.home .extraContent .title h2 {
		font-size: 18px;
	}

	.home .launchOnTheSite .launchWave {
		display: none;
	}

	.home .launchOnTheSite {
		flex-direction: column;
		padding: 30px;
	}

	.home .launchOnTheSite div {
		width: 100%;
	}

	.home .launchOnTheSite h2 {
		font-size: 18px;
	}

	.home .launchOnTheSite p {
		margin-bottom: 20px;
		font-size: 14px;
	}

	.home .launchOnTheSite a {
		width: 100%;
		text-align: center;
		font-size: 12px;
	}

	footer .sugestions {
		align-content: center;
		height: 190px;
		margin-bottom: 10px;
		margin-top: 20px;
	}

	footer .sugestions .footerSearch {
		display: none
	}

	footer .sendEventImg {
		position: absolute;
		left: -10000px;
	}

	footer .sugestions .card .content {
		top: 0px;
		height: min-content;
		padding: 0px;
		height: 100%;
		max-height: 100%;
	}

	footer .sugestions .card {
		width: 100%
	}

	footer .sugestions .card .content h2 {
		font-size: 18px;
	}

	footer .sugestions .card .content p {
		color: var(--neutral3)
	}

	footer .sugestions .card .content a {
		font-size: 12px;
	}

	footer .sugestions .card .content h2,
	footer .sugestions .card .content p,
	footer .sugestions .card .content a {
		width: 100%;
		margin: 0px;
		margin-top: 20px;
	}

	footer .sugestions {
		align-content: center;
		height: 190px;
		margin-bottom: 10px;
		margin-top: 20px;
	}

	footer .sugestions .footerSearch {
		display: none
	}

	footer .sendEventImg {
		position: absolute;
		left: -10000px;
	}

	footer .sugestions .card .content {
		top: 0px;
		height: min-content;
		padding: 0px;
		height: 100%;
		max-height: 100%;
	}

	footer .sugestions .card {
		width: 100%
	}

	footer .sugestions .card .content h2 {
		font-size: 18px;
	}

	footer .sugestions .card .content p {
		color: var(--neutral3)
	}

	footer .sugestions .card .content a {
		font-size: 12px;
	}

	footer .sugestions .card .content h2,
	footer .sugestions .card .content p,
	footer .sugestions .card .content a {
		width: 100%;
		margin: 0px;
		margin-top: 20px;
	}

	.page404 {
		margin-bottom: 120px;
	}

	.page404 .picture {
		height: 167px;
		background-size: 270px;
	}

	.page404 h1 {
		max-width: calc(100% - 60px);
	}

	.page404 button {
		width: calc(100% - 60px);
		margin-top: 30px;
	}

	.page404 a {
		width: calc(100% - 60px);
		font-size: 12px;
	}

	.about .contact h2 {
		font-size: 18px;
	}

	.about .contact p {
		font-size: 14px;
	}

	.about .contact {
		margin-bottom: 60px;
		width: 100%;
	}

	.about .contact button {
		width: 100%;
		margin-top: 20px;
		font-size: 12px;
	}

	.about .contact .containerForm div {
		float: none;
		width: 100%;
	}

	.about .contact input {
		margin-bottom: 10px;
	}

	.about .contact .SumoSelect {
		margin-bottom: 10px;
	}

	.about .contact .message {
		margin-bottom: 10px;
	}

	.about .aboutTeam iframe {
		width: 100%;
		margin-top: -195px;
		margin-bottom: 60px;
		max-width: 100%;
	}

	.about .aboutTeam {
		margin-top: 50px;
	}

	.about .aboutTeam ul {
		grid-template-columns: 1fr;
	}

	.about .aboutTeam .title {
		font-size: 18px;
	}

	.about .aboutTeam ul li p {
		font-size: 12px;
	}

	.about .aboutTeam ul li h3 {
		font-size: 16px;
	}

	.about .aboutTeam ul li .profile img {
		width: 60px;
		height: 60px;
	}

	.about .festivals {
		margin: 50px 0px;
	}

	.about .festivals span {
		font-size: 12px;
	}

	.about .impact .containerGrid {
		grid-template-columns: 1fr;
		grid-row-gap: 0px;
	}

	.about .impact h2 {
		font-size: 18px;
		margin-bottom: 10px;
	}

	.about .impact .containerGrid .numbers h3:before {
		float: none;
		font-size: 24px;
		display: inline;
		margin-right: 1px;
	}

	.about .impact {
		margin-bottom: 60px;
	}

	.about .impact .text p {
		width: 100%;
		margin-bottom: 15px;
	}

	.about .impact button {
		width: 100%;
		background-position: right 22% bottom 55%;
		text-align: center;
		margin-bottom: 20px;
		font-size: 12px;
	}

	.about .impact .containerGrid .numbers.readingTime {
		position: relative;
	}

	.about .impact button:before {
		width: 180px;
		background-position: 100% 0px;
		margin: 0 auto;
	}

	.about .impact .containerGrid .numbers {
		text-align: center;
		padding: 20px 0px;
		position: relative;
		margin-bottom: 0px;
	}

	.about .impact .containerGrid .numbers h3 {
		font-size: 24px;
		display: inline;
		float: none;
	}

	.about .impact .containerGrid .numbers p {
		font-size: 14px;
		margin-left: 10px;
		display: inline;
		float: none;
		text-wrap: nowrap;
		line-height: 1.5em;
	}

	.about .extraContent {
		border-radius: var 10px 0px 0px;
	}

	.about .containerExtra {
		width: calc(100% - 40px);
	}

	.about .extraContent .wave2 {
		background-image: none;
	}

	.about .extraContent .wave1 {
		background-image: none;
	}

	.about .launchOnTheSite {
		flex-direction: column;
		padding: 30px;
	}

	.about .launchOnTheSite .launchWave {
		top: -100000px;
	}

	.about .launchOnTheSite .waveLaunch2 {
		background-image: url(../assets/images/onda-about-launch1.svg);
		z-index: 1;
		width: 530px;
		height: 250px;
		background-size: 530px;
		background-repeat: no-repeat;
		top: -2px;
		left: -40px;
	}

	.about .launchOnTheSite a {
		font-size: 12px;
	}

	.about .launchOnTheSite .waveLaunch1 {
		background-image: url(../assets/images/onda-about-launch2.svg);
		bottom: -19px;
		right: 1px;
		z-index: 1;
		width: 530px;
		height: 250px;
		background-repeat: no-repeat;
		background-size: 530px;
		transform: rotate(175deg);
	}

	.about .launchOnTheSite div {
		width: 100%;
		position: relative;
		z-index: 2;
	}

	.about .launchOnTheSite p {
		margin-bottom: 20px;
	}

	.about .launchOnTheSite button {
		float: left;
	}

	.about .partners h2 {
		font-size: 18px;
	}

	.about .partners a {
		padding: 20px;
		height: 65px;
	}

	.about .partners {
		margin-bottom: 60px;
	}

	.about .socialMedia h2 {
		font-size: 18px;
		margin-bottom: 15px;
	}

	.about .socialMedia {
		margin-bottom: 50px;
	}

	.about .socialMedia .socials nav a {
		padding: 15px;
		background-size: 15px;
		width: 15px;
		height: 15px;
	}

	.about .socialMedia .socials nav {
		width: 150px;
		margin-left: 15px;
	}

	.about .socialMedia h3 {
		margin-top: 7.5px;
	}

	.about .socialMedia {
		margin-bottom: 55px;
	}

	.about .introduction {
		width: calc(100% - 40px);
		margin-top: 150px;
	}

	.about .introduction h1 {
		font-size: 24px;
		margin-bottom: 35px;
	}

	.about .introduction h2 {
		font-size: 16px;
		margin-bottom: 40px;
	}

	.about .introduction p {
		font-size: 14px;
	}

	.about .firstContent {
		background-image: none;
		padding-bottom: 0px;
	}

	.about .container {
		padding-bottom: 170px;
		background-position: -272px -116px;
		background-size: 500px;
		margin-top: 0px;
	}

	.about .firstContent .waveFirst2 {
		background-size: 500px;
		bottom: 345px;
		right: -590px;
	}

	.artist .fixedContent {
		display: none
	}

	.artist .container {
		width: 100%;
		margin-bottom: 100px;
	}

	.artist iframe {
		height: 86px;
	}

	.artist .info .about {
		border-radius: var(--mediumRadius1) var(--mediumRadius1) 0px 0px;
		padding: 20px 20px 10px 20px;
	}

	.artist .info .about .moreInfo {
		display: none;
	}

	.artist .info .about .moreInfo:hover {
		background-color: var(--neutral7);
	}

	.artist .info .about h2 {
		font-size: 18px;
	}

	.artist .artitstMain {
		display: flex;
		flex-direction: column;
		margin-top: -10px;
		align-items: center;
		width: 100%;
	}

	.artist .artitstMain .photo {
		width: 100%;
		height: 433px;
		padding-right: 0px;
	}

	.artist .artitstMain figure {
		height: 57%;
	}

	.artist .artitstMain .photo .photoArtist {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.artist .artitstMain .tag1 {
		display: none;
	}

	.artist .artitstMain .photo img {
		width: 270px;
		height: 270px;
		border-radius: var(--mediumRadius1);
	}

	.artist .artitstMain .photoBackground {
		width: 100%;
		background-image: url(../assets/images/artist1.jpg);
		background-size: 140%;
		filter: blur(25px);
		height: 140%;
		margin-top: -110px;
		background-position: center;
		background-repeat: no-repeat;
		opacity: 45%;
	}

	.artist .artitstMain .content {
		width: 100%;
		z-index: 1;
		background: linear-gradient(0deg, rgba(44, 41, 41, 1) 0%, rgba(44, 41, 41, 0.8407738095238095) 33%, rgba(44, 41, 41, 0) 100%);
		position: relative;
		padding: 0px 20px;
		border-radius: var(--mediumRadius1) var(--mediumRadius1) 0px 0px;
	}

	.artist .artitstMain .content .icons {
		position: absolute;
		top: -54px;
		width: calc(100% - 40px);
		justify-content: center;
	}

	.artist .artitstMain .content .icons a {
		background-color: transparent;
		width: 25px;
		height: 25px;
	}

	.artist .artitstMain .content h1 {
		font-size: 24px;
		margin: 0 auto;
		margin-bottom: 20px;
	}

	.artist .artitstMain .content .iconWrapper {
		flex-direction: column;
		gap: 15px;
		padding: 10px 0px;
		margin-bottom: 30px;
	}

	.artist .artitstMain .content .country {
		padding: 10px 0px;
	}

	.artist .info .artistNews {
		padding: 40px 20px 40px 20px;
	}

	.artist .content {
		width: 50%;
		float: right;
		position: absolute;
		top: 0px;
	}

	.artist .info .artistNews .listItems .item figure {
		width: 130px;
		border-radius: var(--lowRadius);
	}

	.artist .info .artistNews .listItems .item {
		height: 100px;
	}

	.artist .info .artistNews .blankPart {
		display: none;
	}

	.artist .info .artistNews .listItems .item h2,
	.artist .info .artistNews .listItems .item .date {
		font-size: 12px;
	}

	.artist .info .artistNews .listItems .item div {
		width: calc(100% - 130px);
		padding: 10px;
	}

	.artist .info .artistNews .listItems .item a {
		border-radius: var(--lowRadius);
	}

	.artist .info .artistNews .title h2 {
		font-size: 18px;
	}

	.artist .info .artistNews .listItems {
		gap: 10px;
	}

	.artist .info {
		width: 100%;
		min-width: 300px;
		margin-top: 20px;
	}

	.artist .artitstMain {
		display: flex;
		height: 100%;
		margin: 0px;
		margin: 0px
	}

	.artist .info .lastLaunch {
		padding: 25px 20px 10px 20px;
	}

	.artist .info .lastLaunch .listLaunchItems {
		width: calc(100% - 50px);
		display: block;
	}

	.artist .info .lastLaunch .title h2 {
		font-size: 18px;
	}

	.artist .info .lastLaunch a img {
		border-radius: var(--mediumRadius2);
	}


	.artist .info .nextEvents {
		padding: 25px 20px 10px 20px;
	}


	.artist .info .cardEvent2 .card figure {
		width: 130px;
		height: 130px;
		min-width: 130px;
		border-radius: 6px;
	}

	.artist .info .cardEvent2 .card:hover img {
		width: calc(130px + 10px);
	}

	.artist .info .cardEvent2 .text {
		gap: 5px;
	}

	.artist .info .nextEvents .title h2 {
		font-size: 18px;
	}

	.artist .advertisement {
		padding: 40px 20px 40px 20px;
		height: 400px
	}

	.artist .title {
		font-size: 18px;
	}

	.artist .artistsHighlights {
		padding-top: 25px;
		padding: 0px 20px;
	}

	.artists .advertisement {
		margin-bottom: 40px;
	}

	.artists .allArtists .text .filterAZ .orderby {
		display: none;
	}

	.artists .allArtists .listArtists .item h3 {
		font-size: 12px;
	}

	.artists .allArtists .listArtists .item a img {
		border-radius: var(--mediumRadius2);
	}

	.artists .allArtists .listArtists {
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 10px;
		grid-row-gap: 15px;
	}

	.artists .allArtists .text h2 {
		font-size: 18px;
	}

	.artists .allArtists button {
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 12px;
	}

	.filterSearchMode .artists .containerExtra {
		width: calc(100% - 40px);
	}

	.artists .containerExtra {
		width: calc(100% - 40px);
		margin-top: 30px;
		gap: 20px;
	}

	.artists .artistHighlights .carouselArtists .item a img {
		border-radius: var(--mediumRadius2);
	}

	.artists .artistHighlights .title h2 {
		font-size: 18px;
	}

	.artists .artistHighlights .carouselArtists .item h3 {
		font-size: 13px;
	}

	.artists .artistHighlights .carouselArtists {
		width: calc(100% - 50px)
	}

	.artists .artistHighlights {
		margin-top: 20px;
	}

	.artists .firstContent .container {
		width: calc(100% - 40px);
	}

	.artists .firstContent {
		border-radius: 0px 0px var(--mediumRadius1) var(--mediumRadius1);
	}

	.filterSearchMode .artists .container {
		width: calc(100% - 40px);
		max-width: calc(100% - 40px);
	}

	.artists .darkWave {
		display: none;
	}

	.artists .searchModalButton {
		position: fixed;
		bottom: 0px;
		border-radius: var(--lowRadius) var(--lowRadius) 0px 0px;
		right: 0px;
		text-align: start;
	}

	.artists .searchTool h2 {
		font-size: 18px;
		margin: 50px 0px 20px 20px;
	}

	.artists .searchTool form {
		width: calc(100% - 40px);
		margin-left: 20px;
		margin-right: 20px;
		grid-template-columns: 1fr;
		grid-row-gap: 20px;
		transition: var(--transitionSlow);
	}

	.artists .searchTool {
		border-radius: var(--lowRadius);
		position: fixed;
		left: 0px;
		right: 0px;
		bottom: -10000px;
		background-color: var(--neutral1);
		z-index: 12;
		height: min-content;
		border-radius: var(--mediumRadius1);
		margin-bottom: 0px;
		overflow: scroll;
	}

	.searchEventsModalActive .searchTool {
		bottom: 0px;
		transition: var(--transitionMedium);
	}

	.searchTool form .go {
		margin-top: 40px;
		margin-bottom: 20px;
	}

	.terms .advertisement {
		position: relative;
		width: calc(100% - 40px);
		padding: 0px 20px;
		padding-bottom: 35px;
		height: 400px;
	}

	.terms .advertisement .container {
		width: 100%;
		padding: 20px 0px;
	}

	.terms .advertisement a {
		height: 100%;
	}

	.terms .guide {
		width: calc(100% - 40px);
		padding: 35px 20px;
	}

	.terms .guide .title {
		font-size: 18px;
	}

	.terms .guide .item h2 {
		font-size: 14px;
		margin-top: 5px;
		margin-bottom: 10px;
	}


	.modalLupaActive .terms .extraContent .indexButton {
		bottom: 100000px;
	}

	footer {
		box-shadow: 20px 0px 0px 0px var(--neutral7);
	}

	.terms .beforeMobile h1 {
		font-size: 24px;
		text-align: center;
		bottom: 30px;
		width: 100%;
		position: absolute;
		margin: 0px;
		padding: 0px 60px;
	}

	.terms .extraContent .indexButton {
		width: 100%;
		padding: 20px;
		background-color: var(--neutral1);
		color: var(--neutral7);
		border-radius: var(--lowRadius) var(--lowRadius) 0px 0px;
		font-family: "Fugaz One";
		font-size: 12px;
		background-image: url(../assets/images/seta-vertical-cima.svg);
		background-position: calc(100% - 20px) calc(100% - 25px);
		background-repeat: no-repeat;
		background-size: 20px;
		position: fixed;
		bottom: 0px;
		z-index: 6;
		border: none;
		text-align: start;
	}

	.menuExtraActive .terms .extraContent .indexButton {
		z-index: 11;
		bottom: 540px;
		transition: var(--transitionMedium);
		background-color: var(--neutral2);
		background-image: url(../assets/images/seta-vertical-baixo.svg);
	}

	.terms .info {
		width: 100%;
		min-width: 300px;
		margin-top: -15px;
		border-radius: 0px;
	}

	.terms .info .moreInfo {
		display: none;
	}

	.terms .beforeMobile {
		position: relative;
		height: 200px;
		top: 0px;
		border-radius: 0px 0px var(--mediumRadius1) var(--mediumRadius1);
		z-index: 5;
	}

	.terms .firstExtraContent {
		margin-top: 0px;
	}

	.terms .info .content iframe {
		height: 200px;
		margin-top: 15px
	}

	.terms .menuExtra h1 {
		display: none;
	}

	.terms .menuExtra {
		bottom: -10000px;
		position: fixed;
		left: 0px;
		right: 0px;
		height: min-content;
		z-index: 10;
		width: 100%;
		padding: 20px;
		padding-bottom: 380px;
		border-radius: 0px;
	}

	.menuExtraActive .terms .menuExtra {
		bottom: -50px;
		z-index: 12;
		transition: var(--transitionMedium);
	}

	.terms .info .content {
		width: 100%;
		padding: 0px 20px;
	}

	.terms .info .content h2 {
		font-size: 20px;
		margin-bottom: 20px;
		margin-top: 45px;
	}

	.terms .info .content h3 {
		font-size: 16px;
		margin-bottom: 25px;
		margin-top: 25px;
		width: 100%;
		font-family: "Lato";
		color: var(--neutral1);
		font-weight: bold;
	}

	.terms .info .content p {
		font-size: 14px;
		margin-bottom: 20px;
	}

	.terms .info .content a {
		font-size: 14px;
	}

	.terms .info .content span {
		font-size: 12px;
	}

	.terms .info .content li {
		font-size: 14px;
	}

	.terms .info .content figure {
		margin-top: 15px;
	}

	.terms .info .content img {
		margin-bottom: 5px;
	}

	.terms .info .seeMore {
		width: calc(100% - 40px);
		padding: 0px 20px;
		padding-top: 10px;
	}

	.terms .info .seeMore h2 {
		font-size: 18px;
	}

	.terms .info .seeMore .links {
		padding: 15px;
	}

	.terms .info .seeMore a {
		font-size: 14px;
		padding: 0px;
	}

	.terms .info .seeMore .follow {
		padding: 10px 8px;
	}

	.terms .info .seeMore h3 {
		font-size: 14px;
		margin: 0px;
	}

	.terms .info .seeMore .profile {
		position: relative;
		padding: 15px;
		margin-top: 35px
	}

	.terms .info .seeMore .profile img {
		width: 60px;
		height: 60px;
		float: none;
		display: block;
		margin-bottom: 10px;
	}

	.terms .info .seeMore .profile div {
		width: 100%
	}

	.terms .info .seeMore .profile div h2 {
		position: absolute;
		top: 40px;
		left: 90px;
		float: none;
		font-size: 14px;
	}

	.terms .info .seeMore .profile div p {
		font-size: 12px;
	}

	.terms .info .share {
		width: calc(100% - 40px);
		padding: 0px 20px;
		padding-bottom: 10px;
	}

	.terms .info .share h3 {
		font-size: 14px;
		margin-bottom: 5px;
	}

	.terms .info .share nav {
		width: 150px;
	}

	.terms .info .share nav a {
		padding: 8px;
		background-size: 15px;
		width: 15px;
		height: 15px;
	}

	.event .menuExtra {
		bottom: -10000px;
		position: fixed;
		left: 0px;
		right: 0px;
		height: min-content;
		z-index: 10;
		box-shadow: 0px -500px 0px 0px var(--boxShadowOpacity);
		width: calc(100% - 40px);
		padding: 20px;
		padding-bottom: 160px;
		border-radius: 0px;
	}

	.event .guide {
		padding: 35px 20px;
	}

	.event .guide .title {
		font-size: 18px;
	}

	.event .guide .item h2 {
		font-size: 14px;
		margin-top: 5px;
		margin-bottom: 10px;
	}

	.event .extraContent .indexButton {
		width: 100%;
		padding: 20px;
		background-color: var(--neutral1);
		color: var(--neutral7);
		border-radius: var(--mediumRadius1) var(--mediumRadius1) 0px 0px;
		font-family: "Fugaz One";
		font-size: 12px;
		background-image: url(../assets/images/seta-vertical-cima.svg);
		background-position: calc(100% - 20px) calc(100% - 25px);
		background-repeat: no-repeat;
		background-size: 20px;
		position: fixed;
		bottom: 0px;
		z-index: 6;
		border: none;
		text-align: start;
	}

	.menuExtraActive .event .extraContent .indexButton {
		z-index: 11;
		bottom: 670px;
		transition: var(--transitionMeidum);
		background-color: var(--neutral2);
		background-image: url(../assets/images/seta-vertical-baixo.svg);
	}


	.event .similar .carouselEvents .text p {
		font-size: 12px;
		line-height: 15px;
	}

	.event .similar .carouselEvents {
		width: calc(100% - 50px)
	}

	.event .similar .carouselEvents .item figure {
		height: auto;
		border-radius: 6px;
	}

	.event .similar .carouselEvents .item a {
		border-radius: var(--mediumRadius2);
		padding: 15px;
	}

	.event .similar .title {
		font-size: 18px;
	}

	.event .similar {
		padding: 0px 20px;
		margin-top: 20px;
		margin-bottom: 40px;
	}

	.event .similar .carouselEvents .text h2 {
		font-size: 16px;
	}

	.event .similar .carouselEvents .item .star,
	.event .similar .carouselEvents .item .music {
		display: none;
	}

	.event .fixedContent {
		display: none;
	}

	.event .fixedContent button {
		font-size: 12px;
	}

	.event .artists {
		padding: 0px 20px;
		padding-top: 40px;
	}

	.event .artists ul li a img {
		margin-bottom: 5px;
	}

	.event .artists ul li h3 {
		font-size: 10px;
		margin-top: 10px
	}

	.event .artists .title h2 {
		font-size: 18px;
	}

	.event .artists .title span {
		font-size: 16px;
	}

	.event .artists ul li a img {
		border-radius: var(--lowRadius);
	}

	.event .artists ul {
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 10px;
	}

	.event .info .content {
		padding: 20px 20px 0px 20px;
		border-radius: var(--mediumRadius1) var(--mediumRadius1) 0px 0px;
	}

	.event .info .content iframe {
		height: 200px;
		margin-top: 15px
	}

	.event .info .content .buttonGuide {
		font-size: 12px;

	}

	.event .info .content .title {
		font-size: 18px;
	}

	.event .info .content h2 {
		font-size: 20px;
		margin-bottom: 20px;
	}

	.event .info .content h3 {
		font-size: 16px;
		margin-bottom: 25px;
		margin-top: 25px;
		width: 100%;
		font-family: "Lato";
		color: var(--neutral1);
		font-weight: bold;
	}

	.event .info .content p {
		font-size: 14px;
		margin-bottom: 20px;
	}

	.event .info .content a {
		font-size: 14px;
	}

	.event .info .content span {
		font-size: 12px;
	}

	.event .info .content li {
		font-size: 14px;
	}

	.event .info .content figure {
		margin-top: 15px;
	}

	.event .info .content img {
		margin-bottom: 5px;

	}

	.event .info .content button {
		padding: 20px;
		font-size: 12px;
		width: 100%;
	}


	.event .eventMain {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		background-color: var(--neutral1);
		overflow: hidden;
		margin-bottom: 0px
	}

	.event .eventMain .photo {
		width: 100%;
		padding-right: 0px;
		margin-top: 100px;
		margin-left: 0px;
		height: 280px;
	}

	.event .eventMain .photo img {
		border-radius: var(--mediumRadius1);
	}

	.event .eventMain .timeCounter {
		margin-bottom: 40px;
	}

	.event .eventMain .photo .photoArtist {
		width: 100%;
		height: 90%;
		display: flex;
		align-items: center;
		justify-content: center;
		top: 5px;
	}

	.event .eventMain .tag1 {
		display: none;
	}

	.event .eventMain .photo img {
		width: 270px;
		height: 270px
	}

	.event .eventMain .photoBackground {
		width: 100%;
		background-image: url(../assets/images/event.jpeg);
		background-size: 120%;
		filter: blur(25px);
		height: 140%;
		margin-top: -110px;
		background-position: center;
		background-repeat: no-repeat;
		opacity: 45%;
	}

	.event .eventMain .complementContent {
		text-align: center;
		width: 100%;
		padding-left: 0px;
		background: linear-gradient(0deg, rgba(44, 41, 41, 1) 0%, rgba(44, 41, 41, 0.8407738095238095) 33%, rgba(44, 41, 41, 0) 100%);
		padding: 0px 20px;
		top: 0px;
		z-index: 2;
		position: relative;
	}

	.event .complementContent .text .description {
		margin: 0 auto;
		width: max-content;
	}

	.event .complementContent .text {
		margin-top: 25px;
		margin-bottom: 40px;
	}

	.event .complementContent .text span {
		display: none;
	}

	.event .complementContent .icon:before {
		margin-top: 0px;
	}

	.event .eventMain .complementContent h1 {
		font-size: 24px;
		text-align: center;
		margin: 0;
		margin-bottom: 5px;
		margin-top: 15px;
	}

	.event .eventMain .complementContent p {
		font-size: 12px;
		text-align: start;
	}

	.event .eventMain .complementContent .house {
		margin-bottom: 15px;
	}

	.event .complementContent .houseWrapper a {
		align-self: end;
		font-size: 14px;
	}

	.event .complementContent .music,
	.event .complementContent .calendarWrapper,
	.event .complementContent .houseWrapper {
		padding: 15px 0px;
	}

	.event .eventMain .complementContent button {
		width: 100%;
		margin-bottom: 0px;
		position: fixed;
		bottom: 0px;
		display: block;
		margin: 0 auto;
		left: 0px;
		border-radius: var(--lowRadius) var(--lowRadius) 0px 0px;
	}

	.event .info .getInTheMood {
		padding: 0px 20px;
		padding-top: 40px;
	}

	.event .info .getInTheMood .title h2 {
		font-size: 18px;
	}

	.event .info .hotels {
		padding: 0px 20px;
		padding-top: 40px;
	}

	.event .info .hotels .title h2 {
		font-size: 18px;
	}

	.event .info .hotels .option .textWrapper h3 {
		font-size: 14px;
	}

	.event .info .hotels .option .textWrapper p {
		font-size: 12px;
	}

	.event .info .hotels .option {
		grid-template-columns: 1fr;
	}

	.event .info .hotels .option a {
		font-size: 14px;
		justify-self: start;
	}

	.event .info .hotels .option a:after {
		margin-left: 5px;
	}

	.event .info {
		width: 100%;
		min-width: 300px;
		margin-top: 0px;
		border-radius: 0px;
	}

	.event .info .moreInfo {
		display: none;
	}

	.event .info .moreInfo:hover {
		background-color: var(--neutral7);
	}

	.event .info .more {
		width: 100%;
		padding: 40px 20px 0px 20px;
	}

	.event .info .more .title {
		font-size: 18px;
		font-family: var(--font1);
		margin-top: 0px;
		margin-bottom: 20px;
		font-weight: 400;
	}

	.event .info .more h2 {
		font-size: 20px;
		margin-bottom: 20px;
	}

	.event .info .more h3 {
		font-size: 14px;
	}

	.event .info .more p {
		font-size: 14px;
		margin-bottom: 20px;
	}

	.event .info .more a {
		font-size: 14px;
	}

	.event .info .more span {
		font-size: 12px;
	}

	.event .info .more li {
		font-size: 14px;
	}

	.event .info .more figure {
		margin-top: 15px;
	}

	.event .info .more img {
		margin-bottom: 5px;

	}

	.event .info .tickets a {
		font-size: 14px;
	}

	.event .info .other {
		padding: 0px 20px;
	}

	.event .info .other .title {
		font-size: 18px;
	}

	.event .info .other div h2 {
		font-size: 14px;
	}

	.event .info .questions {
		width: 100%;
		padding: 0px 20px;
		padding-top: 40px;
	}

	.event .info .questions .title h2 {
		font-size: 18px;
	}

	.event .info .questions h3 {
		font-size: 14px;
	}

	.event .info .questions p {
		font-size: 12px;
	}

	.event .info .share {
		padding: 0px 20px;
		padding-bottom: 10px;
	}

	.event .info .share h3 {
		font-size: 14px;
		margin-bottom: 5px;
	}

	.event .info .share nav {
		width: 150px;
	}

	.event .info .share nav a {
		padding: 8px;
		background-size: 15px;
		width: 15px;
		height: 15px;
	}

	.event .info .tickets {
		padding: 0px 20px;
		padding-top: 40px;
	}

	.event .info .tickets .title h2 {
		font-size: 18px;
	}

	.event .info .tickets p {
		font-size: 14px;
	}

	.event .info .tickets a {
		font-size: 14px;
	}

	.event .together {
		padding: 0px 20px;
		padding-top: 40px;
	}

	.event .together ul li a img {
		margin-bottom: 5px;
	}

	.event .together ul {
		grid-row-gap: 10px;
	}

	.event .together ul li h3 {
		font-size: 10px;
		margin-top: 10px;
	}

	.event .together ul li a img {
		border-radius: var(--lowRadius);
	}

	.event .together ul {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.event .together .title h2 {
		font-size: 18px;
	}

	.event .together p {
		font-size: 14px;
	}

	.event .container {
		width: 100%;
		gap: 50px;
		margin-bottom: 0px;
		width: 100%
	}

	.discountModal div {
		width: 100%;
		height: 100%;
		transform: translate(-50%, 0%);
		padding: 60px 20px 40px 20px;
		border-radius: var(--mediumRadius1) var(--mediumRadius1) 0px 0px
	}

	.discountModal div h2 {
		font-size: 16px;
	}

	.discountModal div h3 {
		font-size: 24px;
	}

	.discountModal div .nextDiscount {
		font-size: 12px;
	}

	.eventForm {
		flex-direction: column-reverse;
		background-color: var(--neutral7);
	}

	.send {
		width: 100%;
		margin-top: 0px;
		border-radius: 0px 0px var(--mediumRadius1) var(--mediumRadius1);
		background-position: calc(100% + 175px) 0%;
		background-size: 476px;
		height: max-content;
	}

	.send .container {
		width: calc(100% - 40px);
		margin: 40px 20px;
		padding-top: 90px;
	}

	.send .containerItem {
		display: none;
	}

	.send h1 {
		font-size: 24px;
		margin-bottom: 0px;
	}

	.send .instructions {
		margin-top: 20px;
		font-size: 14px;
	}

	.eventForm form .imgInput .text,
	.releaseForm form .imgInput .text {
		width: calc(100% - 141px);
	}

	.eventForm form .placeTip .placeTipOpen,
	.releaseForm form .placeTip .placeTipOpen {
		left: -210px;
	}

	.eventForm form .borderTip,
	.releaseForm form .borderTip {
		right: 63px;
	}

	.eventForm form .container,
	.releaseForm form .container {
		height: 100%;
		margin: 40px 40px;
		margin-bottom: 80px;
		width: calc(100% - 80px);
		overflow-y: unset;
	}

	.eventForm form .title,
	.releaseForm form .title {
		font-size: 16px;
		margin-bottom: 10px;
	}

	.eventForm form,
	.releaseForm form {
		background-color: var(--neutral7);
		border-radius: 0px;
		width: 100%;
		margin-top: 0px;
	}

	.eventForm form .eventData,
	.releaseForm form .eventData {
		margin-bottom: 30px;
	}

	.eventForm form .container,
	.releaseForm form .container {
		margin: 20px;
		margin-bottom: 70px;
		width: calc(100% - 40px);
		overflow: hidden;
		padding: 0px;
	}

	.eventForm form .sendButton,
	.releaseForm form .sendButton {
		width: 100%;
		margin-top: 20px;
		font-size: 12px;
		margin-right: 0px;
	}

	.eventForm form .eventData,
	.eventForm form .clientData,
	.releaseForm form .eventData,
	.releaseForm form .clientData {
		margin-right: 0px;
		overflow: hidden;
	}

	.eventForm form p,
	.releaseForm form p {
		font-size: 14px;
	}

	.eventForm form .SumoSelect,
	.releaseForm form .SumoSelect {
		margin-bottom: 10px;
	}

	.eventForm form textarea,
	.releaseForm form textarea {
		margin-bottom: 10px;
	}

	.eventForm form .block .field,
	.releaseForm form .block .field {
		float: none;
		width: 100%;
		margin-bottom: 10px;
	}

	.eventForm form .fieldWrapper,
	.releaseForm form .fieldWrapper {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr;
	}

	.eventForm form .fieldWrapper .explanation,
	.releaseForm form .fieldWrapper .explanation {
		padding: 0px;
		margin-bottom: 15px;
	}

	.eventForm form .imgInput .picture,
	.releaseForm form .imgInput .picture {
		width: 121px;
		height: 121px;
	}

	.eventForm form .imgInput .text h3,
	.releaseForm form .imgInput .text h3 {
		font-size: 14px;
	}

	.eventForm form .imgInput .text p,
	.releaseForm form .imgInput .text p {
		font-size: 10px;
	}

	.releaseForm {
		flex-direction: column-reverse;
		background-color: var(--neutral7);
	}

	.releaseForm .send {
		width: 100%;
		margin-top: 0px;
		border-radius: 0px 0px var(--mediumRadius1) var(--mediumRadius1);
		background-position: calc(100% + 175px) 0%;
		background-size: 476px;
	}

	.releaseForm .send .container {
		width: calc(100% - 40px);
		margin: 40px 20px;
		padding-top: 90px;
	}

	.releaseForm .send .containerItem {
		display: none;
	}

	.releaseForm .send h1 {
		font-size: 24px;
		margin-bottom: 0px;
	}

	.releaseForm .send .instructions {
		margin-top: 20px;
		font-size: 14px;
	}

	.events.filter .filterButton {
		display: block
	}

	.events.filter .firstContent {
		display: none;
	}

	.events.filter .title .mobile {
		top: 0px;
	}

	.events.filter .title .desk {
		display: none;
	}

	.events.filter .filterList .filterButton {
		display: block;
		font-size: 12px;
		border-radius: 50px;
	}

	.events.filter .filterList {
		bottom: 40px;
	}

	footer.no-margin {
		margin-top: 0px;
	}

	.events .containerExtra {
		margin-top: 0px;
		gap: 45px;
		width: calc(100% - 40px);
	}

	.events .extraContent .title {
		margin-bottom: 15px;
	}

	.events .extraContent .title h2 {
		font-size: 18px;
	}

	.events .launchOnTheSite {
		display: none;
	}

	.events .nextEvents .listItems .item:hover {
		margin-top: 0px;
	}

	.events.filter .nextEvents {
		margin-top: 130px;
	}

	.events .nextEvents .listItems .ads {
		display: none;
	}

	.events .nextEvents .icon:before {
		margin-right: 5px;
	}

	.events .nextEvents button {
		width: 100%;
		display: block;
		margin-top: 20px;
		font-size: 12px;
	}

	.events .nextEvents .tagPromoDiv {
		top: -15px;
	}

	.events .nextEvents .listItems {
		grid-template-columns: 1fr;
		grid-row-gap: 15px;
	}

	.events.filter .nextEvents .listItems {
		padding-top: 20px;
	}

	.events .nextEvents .listItems .text .star,
	.events .nextEvents .listItems .text .music {
		display: none;
	}

	.events .nextEvents .listItems .text .calendar {
		bottom: 0px;
		position: relative;
		margin-top: 5px;
	}

	.events .nextEvents .listItems .text .iconWrapper {
		flex-direction: column;
		align-self: baseline;
		margin-left: 5px;
	}

	.events .nextEvents .listItems .text {
		gap: 0px;
	}

	.events .nextEvents .listItems .item figure {
		width: 130px;
		max-width: 130px;
		min-width: 130px;
		height: 130px;
		padding: 0px;
		border-radius: 6px;
	}

	.events .nextEvents .listItems a img {
		width: 100%;
		height: 100%;
		position: relative;
	}

	.events .nextEvents .listItems a {
		flex-direction: row;
		gap: 10px;
		padding: 15px;
		height: 100%;
		border-radius: var(--mediumRadius2);
	}

	.events .nextEvents .listItems .text h2 {
		font-size: 14px;
		margin-bottom: 5px;
		margin-left: 5px;
	}

	.events .nextEvents .listItems .text p {
		font-size: 10px;
	}

	.events .bestEvents {
		margin-bottom: 30px;
		width: calc(100% - 50px)
	}

	.events .bestEvents .title {
		margin-bottom: 15px;
	}

	.events .bestEvents .title h2 {
		font-size: 18px;
	}

	.events .bestEvents .carouselBestEvents .item {
		width: 100%;
	}

	.events .bestEvents .button {
		width: 100%;
	}

	.events .bestEvents .carouselBestEvents a {
		padding: 35px 20px;
		border-radius: var(--mediumRadius1);
		text-decoration: none;
	}

	.events .bestEvents .carouselBestEvents a p {
		font-size: 14px;
	}

	.events .bestEvents .owl-carousel .owl-stage-outer {
		overflow: visible;
	}

	.events .featured {
		flex-direction: column;
		margin-top: 20px;
	}

	.events .emphasis {
		width: 100%;
		height: min-content;
		margin-top: 100px;
		overflow: visible;
	}

	.events .emphasis .carouselEvents .text p {
		font-size: 10px;
	}

	.events .emphasis .carouselEvents .text h2 {
		font-size: 18px;
		margin-bottom: 5px;
	}

	.events .emphasis .title {
		margin-bottom: 0px;
	}

	.events .emphasis .title h1 {
		font-size: 18px;
	}

	.events .emphasis .carouselEvents .item a {
		min-height: 450px;
		height: max-content;
		padding: 15px;
		padding-bottom: 60px;
		border-radius: var(--mediumRadius2);
		flex-direction: column;
		gap: 10px;
	}

	.events .emphasis .carouselEvents .item .star,
	.events .emphasis .carouselEvents .item .music {
		display: none;
	}

	.events .emphasis .carouselEvents .item figure {
		width: 100%;
		height: 0px;
		padding-right: 0px;
		padding-top: 100%;
		border-radius: 6px;
	}

	.events .emphasis .carouselEvents .item figure img {
		height: 100%;
		width: 100%;
		top: 0px;
		position: absolute;
	}

	.events .emphasis .carouselEvents {
		background-color: var(--neutral1);
		width: calc(100% - 50px)
	}

	.events .emphasis .carouselEvents .item .calendar {
		position: absolute;
		bottom: 7.5px;
		width: max-content;
	}

	.events .emphasis .carouselEvents .text .iconWrapper {
		flex-direction: row;
	}

	.events .emphasis .owl-carousel .owl-stage-outer {
		overflow: visible;
	}

	.events .emphasis .carouselEvents .text {
		width: calc(100% - 10px);
		gap: 10px;
	}

	.events .emphasis .carouselEvents .text p {
		font-size: 12px;
		line-height: 15px;
	}

	.events .container {
		width: calc(100% - 40px);
		gap: 50px;
	}

	.events .wave1 {
		display: none;
	}

	.events .darkWave {
		display: none;
	}

	.events .firstContent {
		border-radius: 0px 0px var(--mediumRadius1) var(--mediumRadius1);
	}

	.events .searchEvents {
		border-radius: var(--lowRadius);
		position: fixed;
		left: 0px;
		right: 0px;
		top: -10000px;
		background-color: var(--neutral1);
		z-index: 12;
		border-radius: var(--mediumRadius1);
		height: calc(100vh - 65px);
		overflow: scroll;
	}

	.searchEventsModalActive .events .searchEvents .filter {
		display: none;
	}

	.searchEventsModalActive .events .searchEvents {
		top: 25px;
		transition: var(--transitionMedium);
	}

	.events .searchModalButton {
		margin-bottom: 35px;
		position: relative;
		text-align: start;
		bottom: 0px;
	}

	.placeTipActive .events .searchTool form .placeTip .placeTipOpen {
		top: -298px;
	}

	.events .searchTool form .borderTip {
		right: 224px;
	}

	.events.events-map .containerExtra {
		width: 100%
	}

	.events-map .maps {
		width: 100%;
		float: none;
		margin-top: 0px;
		position: relative;
		height: 100vh;
	}

	.events-map .maps iframe {
		height: 100%;
		width: 100%;
	}

	.events-map .nextEvents .filter .viewMode div {
		width: 213px;
	}

	.events-map .nextEvents {
		width: 100%;
		z-index: 1;
		position: absolute;
		margin-bottom: 0px;
		bottom: 0px;
		margin-top: 0px;
		margin-left: 20px;
	}

	.events-map .filter {
		margin-left: 20px;
		bottom: 40px;
		width: calc(100% - 50px);
	}

	.events-map .nextEvents .containerExtra {
		margin: 20px 20px 0px 20px;
		height: 100%;
	}

	.events-map .nextEvents button {
		width: 100%;
		display: block;
		margin-top: 20px;
		font-size: 12px;
		border-radius: 50px;
	}

	.events-map .nextEvents .filter .viewMode h3,
	.events-map .nextEvents .listItems .ads {
		display: none;
	}

	.events-map .nextEvents .listItems .title {
		display: none
	}

	.events-map .owl-carousel .owl-stage-outer {
		padding-top: 20px;
		overflow: visible;
	}

	.events-map .nextEvents .listItems {
		width: calc(100% - 50px);
		display: block;
		position: absolute;
		bottom: 110px;
	}

	.events-map .nextEvents .listItems .text .star,
	.events-map .nextEvents .listItems .text .music {
		display: none;
	}

	.events-map .nextEvents .listItems .text .calendar {
		position: relative;
	}

	.events-map .nextEvents .icon.location:before {
		margin-top: -2px;
	}

	.events-map .nextEvents .listItems .text .iconWrapper {
		flex-direction: column;
		align-self: baseline;
		margin-bottom: 10px
	}

	.events-map .nextEvents .listItems .text {
		gap: 0px;
	}

	.events-map .nextEvents .listItems .item figure {
		padding-top: 0px;
		height: 130px;
		width: 130px;
		border-radius: 6px;
	}

	.events-map .nextEvents .listItems a img {
		height: 100%;
		width: 100%;
	}

	.events-map .nextEvents .listItems a {
		flex-direction: row;
		height: 100%;
		padding: 15px;
		border-radius: var(--mediumRadius2);
	}

	.events-map .nextEvents .listItems .text h2 {
		font-size: 14px;
		margin-bottom: 5px;
	}

	.events-map .nextEvents .listItems .item a {
		gap: 10px;
	}

	.events-map .nextEvents .listItems .text p {
		font-size: 10px;
	}

	.events-map .firstContent {
		border-radius: 0px 0px var(--mediumRadius1) var(--mediumRadius1);
	}

	.events-map .firstContent {
		border-radius: 0px 0px 5px 5px;
		margin-bottom: 40px;
	}

	.events-map .container {
		width: calc(100% - 40px);
		margin-top: 0px;
	}

	.filterSearchMode .events-map .container {
		width: calc(100% - 40px);
		max-width: calc(100% - 40px);
	}

	.events-map .searchEvents {
		border-radius: var(--lowRadius);
		position: fixed;
		left: 0px;
		right: 0px;
		top: -10000px;
		background-color: var(--neutral1);
		z-index: 10;
		box-shadow: 2px -70px 5px 0px var(--greyOpacity);
		border-radius: var(--mediumRadius1);
		height: calc(100vh - 65px);
		overflow-y: scroll;
	}

	.searchEventsModalActive .events-map .searchEvents {
		top: 25px;
		transition: var(--transitionMedium)
	}

	.events-map .searchModalButton {
		margin-bottom: 35px;
		position: relative;
	}

	.linktree .cards {
		grid-template-columns: 1fr;
		gap: 10px;
		margin: 0;
	}

	.linktree .cards a {
		width: calc(100% - 60px);
		margin: 0px 30px;
	}

	.headerLinktree img {
		width: 35px;
		margin: 0px;
		margin-left: 30px;
		margin-top: 20px;
	}

	.headerLinktree .go {
		font-size: 12px;
	}

	.linktree p {
		margin-top: 40px;
	}

	.linktree h2 {
		font-size: 16px;
		margin-top: 100px;
		margin-bottom: 30px
	}

	.linktree .socials a {
		padding: 20px;
		background-size: 20px;
		width: 20px;
		height: 20px;
	}

	.news .guide .SumoSelect>.optWrapper {
		width: 120px;
		left: 0px;
	}

	.news .guide .text h3 {
		font-size: 14px;
	}

	.news .advertisement {
		position: absolute;
		left: -10000px;
	}

	.news .guide .item:hover {
		margin-top: 0px;
	}

	.news .guide .listGuide {
		grid-template-columns: 1fr;
		grid-row-gap: 10px;
		margin-bottom: 20px;
	}

	.news .guide .item {
		width: 100%;
	}

	.news .guide .item a {
		border-radius: var(--lowRadius);
		background-color: var(--neutral5);
	}

	.news .guide .item figure {
		width: 130px;
		height: 100px;
		float: left;
		margin-bottom: 0px;
	}

	.news .guide .item div {
		padding: 5px 10px;
		width: calc(100% - 150px);
		float: left;
		overflow: hidden;
	}

	.news .guide button {
		width: 100%;
		margin-bottom: 40px;
		margin-top: 0px;
		font-size: 12px;
	}

	.news .guide .item div h2,
	.news .guide .item div span {
		font-size: 12px;
		line-height: 20px;
		margin-bottom: 0px;
	}

	.news .guide .item h2 {
		line-height: 20px;
	}

	.news .guide .item a img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: var(--lowRadius) 0px 0px var(--lowRadius);
	}

	.news .guide .text .filterAZ p:nth-child(1) {
		position: absolute;
		left: -10000px;
	}

	.news .guide .title {
		margin-bottom: 0px;
	}

	.news .guide .title h2 {
		font-size: 18px;
		margin-bottom: 0px;
	}

	.filterSearchMode .news .containerExtra {
		width: calc(100% - 40px);
	}

	.news .containerExtra {
		width: calc(100% - 40px);
		margin-top: 0px;
		gap: 50px;
	}

	.news .firstContent {
		border-radius: 0px 0px var(--mediumRadius1) var(--mediumRadius1);
		margin-bottom: 20px;
	}

	.news .container {
		width: calc(100% - 40px);
		margin-top: 0px;
	}

	.filterSearchMode .news .container {
		width: calc(100% - 40px);
		max-width: calc(100% - 40px);
	}

	.news .darkWave {
		display: none;
	}

	.news .searchEvents .titleDescription {
		width: 100%;
	}

	.news .searchEvents .titleDescription {
		margin-bottom: 0px;
	}

	.news .searchEvents h2 {
		font-size: 24px;
	}

	.news .searchEvents p {
		font-size: 14px;
	}

	.news .searchEvents .SumoSelect>.optWrapper>.options {
		max-height: 100px;
	}

	.news .searchEvents {
		border-radius: var(--lowRadius);
		background-color: var(--neutral1);
		z-index: 10;
		border-radius: var(--mediumRadius1);
		margin-bottom: 0px;
		margin-top: 40px;
	}

	.searchEventsModalActive .news .searchEvents {
		bottom: 0px;
		transition: var(--transitionMedium);
	}

	.news .searchEvents h2 {
		font-size: 24px;
		margin: 0px;
		margin-top: 80px;
	}

	.news .searchEvents .goSearch {
		display: none;
	}

	.news .searchEvents form {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr;
		grid-row-gap: 20px;
		gap: 20px;
		width: 100%;
		z-index: 4;
		margin: 0 auto;
		margin-bottom: 40px;
	}

	.news .searchEvents form .field {
		width: 100%;
	}

	.news .searchEvents form label {
		font-size: 14px;
	}

	.news .searchEvents .searchModalClose {
		right: 20px;
		top: 18px;
	}

	.placeTipActive .news .searchEvents form .placeTip .placeTipOpen {
		top: -210px;
		left: 0px;
	}

	.filterSearchMode .notFound .containerExtra {
		width: calc(100% - 40px);
	}

	.notFound .containerExtra h1 {
		margin-bottom: 0px;
		font-size: 18px;
	}

	.notFound .containerExtra h2 {
		font-size: 18px;
	}

	.notFound .containerExtra h4 {
		font-size: 14px;
	}

	.notFound .containerExtra .notFoundImg {
		width: calc(100% - 160px);
	}

	.notFound .containerExtra {
		width: calc(100% - 40px);
		margin-top: 0px;
		gap: 20px;
	}

	.notFound .containerExtra .leftWave,
	.notFound .containerExtra .rightWave {
		display: none;
	}

	.notFound .containerExtra .notFoundImg {
		margin-top: 50px;
		margin-bottom: 0px;
	}

	.notFound .firstContent {
		border-radius: 0px 0px var(--mediumRadius1) var(--mediumRadius1);
		margin-bottom: 40px;
	}

	.notFound .container {
		width: calc(100% - 40px);
		margin-top: 0px;
	}

	.filterSearchMode .notFound .container {
		width: calc(100% - 40px);
		max-width: calc(100% - 40px);
	}

	.notFound .darkWave {
		display: none;
	}

	.notFound .searchEvents .titleDescription {
		width: 100%;
	}

	.notFound .searchEvents {
		margin-top: 100px;
	}

	.notFound .searchEvents h2 {
		font-size: 24px;
	}

	.notFound .searchEvents p {
		font-size: 14px;
	}

	.notFound .searchEvents .SumoSelect>.optWrapper>.options {
		max-height: 100px;
	}

	.notFound .searchEvents {
		border-radius: var(--lowRadius);
		background-color: var(--neutral1);
		z-index: 10;
		border-radius: var(--mediumRadius1);
		margin-bottom: 0px
	}

	.searchEventsModalActive .notFound .searchEvents {
		bottom: 0px;
		transition: var(--transitionMedium);
	}

	.notFound .searchEvents h2 {
		font-size: 24px;
		margin-top: 80px;
	}

	.notFound .searchEvents .goSearch {
		display: none;
	}

	.notFound .searchEvents form {
		width: 100%;
		grid-template-columns: 1fr;
		grid-row-gap: 20px;
		gap: 10px;
		margin-bottom: 20px;
	}

	.notFound .searchEvents form .field {
		width: 100%;
	}

	.notFound .searchEvents form label {
		font-size: 14px;
	}

	.notFound .searchEvents form button {
		margin-top: 40px;
		margin-bottom: 30px;
		width: 100%;
		border: none;
	}

	.notFound .searchEvents .searchModalClose {
		right: 20px;
		top: 18px;
	}

	.placeTipActive .notFound .searchEvents form .placeTip .placeTipOpen {
		top: -210px;
		left: 0px;
	}

	.release .releaseHighlights {
		padding: 0px 20px;
	}

	.release .releaseHighlights .title h2 {
		font-size: 18px
	}

	.release .releaseHighlights .carouselRelease .item h3 {
		font-size: 16px;
	}

	.release .releaseHighlights .carouselRelease .item p,
	.release .releaseHighlights .carouselRelease .item .icon {
		font-size: 12px;
	}

	.release .releaseHighlights .carouselRelease {
		width: calc(100% - 50px);
	}

	.release .releaseHighlights .item figure {
		border-radius: 6px;
	}


	.release .releaseHighlights .item a {
		gap: 5px;
		border-radius: var(--mediumRadius2);
	}

	.release .releaseHighlights .carouselRelease .item .icon {
		margin-top: 10px;
	}

	.release .fixedContent {
		display: none;
	}

	.release .advertisement {
		padding: 40px 20px;
	}

	.release .info .about {
		border-radius: var(--mediumRadius1) var(--mediumRadius1) 0px 0px;
		padding: 20px 20px 10px 20px;
		margin-top: 0px;
	}

	.release .info .about h2 {
		font-size: 18px;
	}

	.release .info .about p {
		font-size: 14px
	}

	.release .info .about .moreInfo {
		display: none
	}

	.release .info .about .moreInfo:hover {
		background-color: var(--neutral7);
	}

	.release .info .about q {
		font-size: 14px;
	}

	.release .guide {
		padding: 40px 20px 10px 20px;
	}

	.release .guide .listGuide {
		gap: 10px;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.release .guide .item {
		display: flex;
		flex-direction: column;
		gap: 10px;
		width: 100%;
		margin-top: 10px;
	}

	.release .guide .item h2 {
		font-size: 9px;
	}

	.release .guide .title h2 {
		font-size: 18px;
	}

	.release .guide a img {
		border-radius: var(--mediumRadius2);
	}

	.release .info {
		width: 100%;
		min-width: 300px
	}

	.release .launchOnTheSite {
		padding: 40px 20px 10px 20px;
	}

	.release .launchOnTheSite .blankPart {
		display: none;
	}

	.release .launchOnTheSite a {
		font-size: 12px;
	}

	.release .launchOnTheSite .content h2 {
		font-size: 18px;
		margin-bottom: 25px;
	}

	.release .launchOnTheSite p {
		font-size: 14px;
	}

	.release .releasetMain .photo {
		height: min-content;
	}

	.release .releasetMain {
		display: flex;
		flex-direction: column;
		margin-top: 50px;
		align-items: center;
		margin-left: 0px;
		height: 100%
	}

	.release .releasetMain iframe {
		height: 86px;
	}

	.release .releasetMain .photo {
		width: 100%;
		padding-right: 0px;
	}

	.release .releasetMain figure {
		margin-right: 0px;
		width: 270px;
		height: 100%
	}

	.release .releasetMain .photo .photoArtist {
		width: 100%;
		height: 270px;
		margin-top: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.release .releasetMain .tag1 {
		display: none;
	}

	.release .releasetMain .photo img {
		height: 100%;
		width: 100%;
		border-radius: var(--mediumRadius1);
	}

	.release .releasetMain .photoBackground {
		width: 100%;
		background-image: url(../assets/images/release.jpg);
		background-size: 120%;
		filter: blur(25px);
		height: 440px;
		margin-top: -110px;
		background-position: center;
		background-repeat: no-repeat;
		opacity: 45%;
	}

	.release .releasetMain .content {
		width: 100%;
		z-index: 1;
		background: linear-gradient(0deg, rgba(44, 41, 41, 1) 0%, rgba(44, 41, 41, 0.8407738095238095) 33%, rgba(44, 41, 41, 0) 100%);
		position: relative;
		padding: 0px 20px;
		top: 0px;
		margin-bottom: 40px;
	}

	.release .releasetMain .content h1 {
		font-size: 24px;
		margin: 20px auto;
	}

	.release .releasetMain .content .iconWrapper {
		gap: 15px;
	}

	.release .container {
		width: 100%;
		gap: 50px;
	}

	.releases .advertisement {
		margin-bottom: 80px;
	}

	.releases .advertisement .container {
		width: 100%;
	}

	.releases .artistHighlights {
		display: flex;
		flex-direction: column;
		width: 100%;
		transition: var(--transitionFast);
	}

	.filterSearchMode .releases .artistHighlights {
		display: none;
	}

	.releases .containerExtra {
		margin-top: 0px;
		gap: 40px;
		width: calc(100% - 40px);
	}

	.filterSearchMode .releases .containerExtra {
		width: calc(100% - 40px);
	}

	.releases .lastLaunch {
		margin-top: 20px;
		gap: 0px;
	}

	.releases .lastLaunch .text h2 {
		font-size: 18px;
	}

	.releases .lastLaunch .item {
		overflow: hidden;
		width: 100%;
		padding: 15px;
		border-radius: var(--mediumRadius2);
	}

	.releases .lastLaunch .item div {
		gap: 5px
	}

	.releases .lastLaunch .item div span {
		margin-top: 5px;
		line-height: 1.5em;
		font-size: 10px;
	}

	.releases .lastLaunch .item div h3 {
		font-size: 14px;
	}

	.releases .lastLaunch .item div p {
		font-size: 14px;
	}

	.releases .lastLaunch .item figure {
		width: 130px;
		min-width: 130px;
		float: left;
		border-radius: 6px;
		margin-right: 20px;
		margin-bottom: 0px;
		height: 130px;
		padding-top: 0px;
	}

	.releases .lastLaunch button {
		font-size: 12px;
	}

	.releases .lastLaunch .item a img {
		margin-bottom: 0px;
		position: relative;
		object-fit: cover;
	}

	.releases .lastLaunch .content {
		grid-template-columns: 1fr;
	}

	.releases .launchOnTheSite {
		flex-direction: column;
		height: min-content;
	}

	.releases .launchOnTheSite .content {
		width: 100%;
		justify-content: center;
	}

	.releases .launchOnTheSite .content h2 {
		font-size: 18px;
		max-width: 100%;
	}

	.releases .launchOnTheSite .content p {
		font-size: 16px;
		max-width: 100%;
	}

	.releases .launchOnTheSite button {
		font-size: 12px;
	}

	.releases .launchOnTheSite .content .text {
		margin: 40px;
		gap: 0px;
	}

	.releases .launchOnTheSite iframe {
		height: 440px;
		width: 100%;
	}

	.releases .launchOnTheSite .launchWave1 {
		position: absolute;
		top: -346px;
		left: -730px;
		background-image: url(../assets/images/top-wave-releases.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		width: 1000px;
		height: 500px;
	}

	.releases .launchOnTheSite .launchWave2 {
		bottom: -360px;
	}

	.releases .launchOnTheSite .launchWave1 {
		top: -360px;
	}

	.releases .launchOnTheSite a {
		font-size: 12px;
	}

	.releases .highlightLaunch .content iframe {
		width: 100%;
	}

	.releases .highlightLaunch .carouselHighlightLaunch {
		width: calc(100% - 50px)
	}

	.releases .highlightLaunch {
		margin-top: 100px;
		margin-bottom: 20px;
		gap: 0px;
	}

	.releases .highlightLaunch .content .item span,
	.releases .highlightLaunch .content .item h3,
	.releases .highlightLaunch .content .item p {
		font-size: 12px;
	}

	.releases .highlightLaunch .carouselHighlightLaunch .item {
		width: 100%;
	}

	.releases .highlightLaunch .carouselHighlightLaunch .item a img {
		border-radius: var(--mediumRadius2);
	}

	.releases .highlightLaunch .text h2 {
		font-size: 18px;
	}

	.releases .container {
		width: calc(100% - 40px);
		gap: 50px;
		margin-top: 20px;
	}

	.releases .firstContent {
		border-radius: 0px 0px var(--mediumRadius1) var(--mediumRadius1);
	}

	.filterSearchMode .container {
		width: calc(100% - 40px);
	}

	.releases .darkWave {
		display: none;
	}

	.releases .searchTool {
		border-radius: var(--mediumRadius1) var(--mediumRadius1) 0px 0px;
		position: fixed;
		left: 0px;
		right: 0px;
		bottom: -10000px;
		background-color: var(--neutral1);
		z-index: 12;
		margin-bottom: 0px;
		overflow: scroll;
		max-height: 100%;
	}

	.searchEventsModalActive .searchTool {
		bottom: 0px;
		transition: var(--transitionMedium);
	}

	.releases .searchModalButton {
		width: 100%;
		position: fixed;
		bottom: 0px;
		right: 0px;
		border: none;
		z-index: 5;
		margin-bottom: 0px;
		text-align: start;
		border-radius: var(--lowRadius) var(--lowRadius) 0px 0px;
	}

	.modalLupaActive .releases .searchModalButton {
		bottom: 10000px;
	}

	.releases .searchTool h2 {
		font-size: 18px;
		margin: 50px 0px 20px 20px;
	}

	.releases .searchTool .searchModalClose {
		right: 20px;
		top: 18px;
	}

	.releases .searchTool form {
		grid-template-columns: 1fr;
		grid-row-gap: 20px;
		width: calc(100% - 40px);
		margin: 0 auto;
	}

	.releases .searchTool form .go {
		margin-top: 40px;
		margin-bottom: 30px;
		width: 100%;
		border: none;
	}

	.search .containerExtra .searchResultText {
		font-size: 18px;
		margin-bottom: 20px;
	}

	.search .emphasis .carouselEvents .text h2 {
		font-size: 14px;
		margin-bottom: 5px;
	}

	.search .emphasis .carouselEvents {
		width: calc(100% - 50px);
	}

	.search .emphasis .carouselEvents .item a {
		gap: 10px;
		flex-direction: row;
		height: 100%;
		min-height: inherit;
		padding: 15px;
	}

	.search .emphasis .carouselEvents .item .star,
	.search .emphasis .carouselEvents .item .music {
		display: none;
	}

	.emphasis .carouselEvents .text p {
		font-size: 10px;
	}

	.search .emphasis .seeAll {
		margin-top: 0px;
	}

	.search .emphasis .title {
		margin-bottom: 0px;
	}

	.search .title h3 {
		font-size: 14px;
	}

	.search .title p {
		font-size: 12px;
	}

	.search .firstContent {
		border-radius: 0px 0px var(--mediumRadius1) var(--mediumRadius1);
		margin-bottom: 20px;
	}

	.search .container {
		width: calc(100% - 40px);
		margin-top: 0px;
	}

	.filterSearchMode .search .container {
		width: calc(100% - 40px);
		max-width: calc(100% - 40px);
	}

	.search .artistsHighlights {
		margin-bottom: 35px;
	}

	.search .emphasis {
		margin-bottom: 35px;
	}

	.search .emphasis .carouselEvents .text h2 {
		margin-left: 5px;
	}

	.search .emphasis .carouselEvents .item {
		flex-direction: row;
	}

	.search .emphasis .carouselEvents .text .star,
	.search .emphasis .carouselEvents .text .music {
		display: none;
	}

	.search .emphasis .carouselEvents .text .calendar {
		bottom: 15px;
	}

	.search .emphasis .carouselEvents .text .iconWrapper {
		flex-direction: column;
		align-self: baseline;
		margin-left: 5px;
	}

	.search .emphasis .carouselEvents .text {
		gap: 0px;
		width: calc(100% - 140px);
	}

	.search .emphasis .carouselEvents .item figure {
		width: 130px;
		padding: 0px;
		height: 130px;
		border-radius: 6px;
	}

	.search .emphasis .carouselEvents a img {
		width: 100%;
		height: 100%;
	}

	.emphasis .carouselEvents a {
		flex-direction: row;
		height: 100%;
		min-height: inherit;
		padding: 15px;
		border-radius: var(--mediumRadius2);
	}

	.search .emphasis .house:before {
		margin-top: 0px;
	}

	.search .emphasis .location:before {
		margin-top: -4px;
	}

	.search .componentGuide {
		margin-bottom: 35px;
	}

	.filterSearchMode .search .containerExtra {
		width: calc(100% - 40px);
	}

	.search .containerExtra {
		width: calc(100% - 40px);
		margin-top: 0px;
		margin-bottom: 35px;
	}

	.search .lastLaunch .item div span {
		margin-top: 5px
	}

	.search .lastLaunch .carouselLaunch {
		width: calc(100% - 50px);
	}

	.search .lastLaunch {
		margin-top: 20px;
		margin-bottom: 35px;
	}

	.search .lastLaunch .item a {
		border-radius: var(--mediumRadius2);
		flex-direction: row;
		display: flex;
	}

	.search .lastLaunch .item figure {
		padding-top: 0px;
		width: 130px;
		height: 130px;
		margin-right: 10px;
		border-radius: 6px;
	}

	.search .lastLaunch .item div {
		gap: 5px;
		width: calc(100% - 140px);
	}

	.search .lastLaunch .item div span {
		margin-bottom: 10px
	}

	.search .together .carouselCommunity {
		width: calc(100% - 50px);
	}

	.search .together {
		margin-bottom: 0px;
	}

	.search .together .item h2 {
		font-size: 10px;
	}

	.search .together a img {
		margin-bottom: 5px;
		border-radius: var(--mediumRadius2);
	}

	.singleNews .tag2 {
		position: absolute;
		left: 0px;
	}

	.singleNews .firstContent .container {
		width: 100%;
		gap: 50px;
		margin-bottom: 0px;
		width: calc(100% - 40px);
		height: min-content;
		margin-top: 90px;
	}

	.singleNews .firstContent {
		height: min-content
	}

	.singleNews .newsMain {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		margin-top: 20px;
	}

	.singleNews .newsMain .photo {
		padding: 0px 40px;
		width: 100%;
		height: 270px;
	}

	.singleNews .newsMain .photo .photoArtist {
		position: relative;
		width: 270px;
		margin: 0 auto
	}

	.singleNews .newsMain .content {
		font-size: 24px;
		text-align: center;
		width: 100%;
		padding-right: 0px;
	}

	.singleNews .content .text .description {
		margin: 0 auto;
		width: max-content;
	}

	.singleNews .content .text {
		margin-top: 25px;
		margin-bottom: 40px;
	}

	.singleNews .content .text span {
		display: none;
	}

	.singleNews .newsMain .content h1 {
		font-size: 24px;
		text-align: center;
		margin: 0;
		margin-bottom: 30px;
	}

	.singleNews .newsMain .photo img {
		border-radius: var(--mediumRadius1);
	}

	.singleNews .content .text h3 {
		font-size: 12px;
		line-height: 15px;
		float: right;
	}

	.singleNews .content .text .profile .description {
		overflow: visible;
	}

	.singleNews .content .text .profile {
		margin-right: 20px;
	}

	.singleNews .content .text .date h3:before,
	.singleNews .content .text .profile img {
		margin-right: 10px;
	}

	.singleNews .advertisement {
		padding: 0px 20px;
		padding-bottom: 35px;
	}

	.singleNews .advertisement .container {
		height: min-content;
	}

	.singleNews .componentGuide {
		width: 100%;
		padding: 35px 20px;
	}

	.singleNews .componentGuide .title {
		font-size: 18px;
	}

	.singleNews .extraContent .indexButton {
		width: 100%;
		padding: 20px;
		background-color: var(--neutral1);
		color: var(--neutral7);
		border-radius: var(--lowRadius) var(--lowRadius) 0px 0px;
		font-family: "Fugaz One";
		font-size: 12px;
		background-image: url(../assets/images/seta-vertical-cima.svg);
		background-position: calc(100% - 20px) calc(100% - 25px);
		background-repeat: no-repeat;
		background-size: 20px;
		position: fixed;
		bottom: 0px;
		z-index: 6;
		border: none;
		text-align: start;
	}

	.menuExtraActive .singleNews .extraContent .indexButton {
		z-index: 11;
		bottom: calc(100vh - 110px);
		transition: var(--transitionMedium);
		background-color: var(--neutral2);
		background-image: url(../assets/images/seta-vertical-baixo.svg);
	}

	.singleNews .info .content iframe {
		height: 200px;
		margin-top: 15px
	}

	.singleNews .info .content {
		padding: 20px 20px 0px 20px;
		border-radius: var(--mediumRadius1) var(--mediumRadius1) 0px 0px;
	}

	.modalContent-inner {
		position: relative;
		margin: 0px 20px;
		margin-bottom: 60px;
	}

	.close-button {
		top: -30px;
	}

	.modalContent img {
		max-height: 400px;
	}

	.singleNews .info .content h2 {
		font-size: 20px;
		margin-bottom: 20px;
	}

	.singleNews .info .content h3 {
		font-size: 16px;
		margin-bottom: 25px;
		margin-top: 25px;
		width: 100%;
		font-family: "Lato";
		color: var(--neutral1);
		font-weight: bold;
	}

	.singleNews .info .content p {
		font-size: 14px;
		margin-bottom: 20px;
	}

	.singleNews .info .content a {
		font-size: 14px;
	}

	.singleNews .info .content span {
		font-size: 12px;
	}

	.singleNews .info .content li {
		font-size: 14px;
	}

	.singleNews .info .content figure {
		margin-top: 15px;
	}

	.singleNews .info .content img {
		margin-bottom: 5px;
	}

	.singleNews .info {
		width: 100%;
		min-width: 300px
	}

	.singleNews .info .moreInfo {
		display: none;
	}

	.singleNews .info .seeMore {
		padding: 0px 20px;
		padding-top: 10px;
	}

	.singleNews .info .seeMore h2 {
		font-size: 18px;
	}

	.singleNews .info .seeMore .links {
		padding: 15px;
	}

	.singleNews .info .seeMore a {
		font-size: 14px;
		padding: 0px;
	}

	.singleNews .info .seeMore .follow {
		padding: 10px 8px;
	}

	.singleNews .info .seeMore h3 {
		font-size: 14px;
		margin: 0px;
	}

	.singleNews .info .seeMore .profile {
		position: relative;
		padding: 15px;
		margin-top: 35px
	}

	.singleNews .info .seeMore .profile img {
		width: 60px;
		height: 60px;
		float: none;
		display: block;
		margin-bottom: 10px;
	}

	.singleNews .info .seeMore .profile div {
		width: 100%
	}

	.singleNews .info .seeMore .profile div h2 {
		position: absolute;
		top: 40px;
		left: 90px;
		float: none;
		font-size: 14px;
	}

	.singleNews .info .seeMore .profile div p {
		font-size: 12px;
	}

	.singleNews .info .share {
		padding: 0px 20px;
		padding-bottom: 10px;
	}

	.singleNews .info .share h3 {
		font-size: 14px;
		margin-bottom: 5px;
	}

	.singleNews .info .share nav {
		width: 150px;
	}

	.singleNews .info .share nav a {
		padding: 15px;
		background-size: 15px;
		width: 15px;
		height: 15px;
	}

	.singleNews .info .share nav button {
		padding: 15px;
		background-size: 15px;
		width: 15px;
		height: 15px;
	}

	.singleNews .menuExtra {
		bottom: -10000px;
		position: fixed;
		left: 0px;
		right: 0px;
		height: calc(100% - 110px);
		z-index: 12;
		padding: 20px;
		padding-bottom: 160px;
		border-radius: 0px;
		width: 100%;
		transition: var(--transitionMedium);
		overflow-y: scroll;
	}

	.together .guide .north figure {
		height: 115px;
	}

	.together .guide .listGuide {
		margin-bottom: 40px;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 15px;
	}

	.together .guide img {
		border-radius: var(--mediumRadius2);
	}

	.together .guide .title h2 {
		font-size: 18px;
		margin-bottom: 20px;
	}

	.together .guide .item h2 {
		font-size: 9px;
	}

	.filterSearchMode .together .containerExtra {
		width: calc(100% - 40px);
	}

	.together .containerExtra {
		width: calc(100% - 40px);
		margin-top: 20px;
		gap: 50px;
	}

	.together .bestEvents .titleDescription {
		font-size: 14px;
		width: 100%;
		margin-bottom: 35px;
	}

	.together .bestEvents .titleName {
		font-size: 24px;
		margin-bottom: 15px;
	}

	.together .bestEvents .title {
		margin-bottom: 20px;
	}

	.together .bestEvents {
		margin-bottom: 20px;
	}

	.together .bestEvents .carouselBestEvents {
		width: calc(100% - 150px);
	}

	.together .bestEvents .carouselBestEvents a {
		padding: 15px;
		border-radius: var(--mediumRadius1);
	}

	.together .bestEvents .carouselBestEvents a p {
		grid-template-columns: 15px 1fr;
		font-size: 12px;
	}

	.together .bestEvents .carouselBestEvents a .icon:before {
		width: 15px;
		height: 20px;
		background-size: 15px;
	}

	.together .firstContent {
		border-radius: 0px 0px var(--mediumRadius1) var(--mediumRadius1);
	}

	.together .container {
		width: calc(100% - 40px);
		margin-top: 120px;
	}

	.filterSearchMode .together .container {
		width: calc(100% - 40px);
		max-width: calc(100% - 40px);
	}

	.together .darkWave {
		display: none;
	}

	.terms.politicsAndTerms .advertisement {
		position: relative;
		width: calc(100% - 40px);
		padding: 0px 20px;
		padding-bottom: 35px;
		height: 400px;
	}

	.terms.politicsAndTerms .advertisement .container {
		width: 100%;
		padding: 20px 0px;
	}

	.terms.politicsAndTerms .advertisement a {
		height: 100%;
	}

	.terms.politicsAndTerms .guide {
		width: calc(100% - 40px);
		padding: 35px 20px;
	}

	.terms.politicsAndTerms .guide .title {
		font-size: 18px;
	}

	.terms.politicsAndTerms .guide .item h2 {
		font-size: 14px;
		margin-top: 5px;
		margin-bottom: 10px;
	}

	.terms.politicsAndTerms .firstExtraContent {
		margin-top: 0px;
	}

	.terms.politicsAndTerms .menuExtra h1 {
		display: none;
	}

	.terms.politicsAndTerms .menuExtra {
		bottom: -10000px;
		position: fixed;
		left: 0px;
		right: 0px;
		height: min-content;
		z-index: 10;
		width: 100%;
		padding: 20px;
		padding-bottom: 380px;
		border-radius: 0px;
	}

	.menuExtraActive .terms.politicsAndTerms .menuExtra {
		bottom: -50px;
		z-index: 12;
		transition: var(--transitionMedium);
	}

	.terms.politicsAndTerms .info .content iframe {
		height: 200px;
		margin-top: 15px
	}

	.terms.politicsAndTerms .info .content {
		width: 100%;
		padding: 0px 20px;
	}

	.terms.politicsAndTerms .info .content h2 {
		font-size: 20px;
		margin-bottom: 20px;
		margin-top: 45px;
	}

	.terms.politicsAndTerms .info .content h3 {
		font-size: 16px;
		margin-bottom: 25px;
		margin-top: 25px;
		width: 100%;
		font-family: "Lato";
		color: var(--neutral1);
		font-weight: bold;
	}

	.terms.politicsAndTerms .info .content p {
		font-size: 14px;
		margin-bottom: 20px;
	}

	.terms.politicsAndTerms .info .content a {
		font-size: 14px;
	}

	.terms.politicsAndTerms .info .content span {
		font-size: 12px;
	}

	.terms.politicsAndTerms .info .content li {
		font-size: 14px;
	}

	.terms.politicsAndTerms .info .content figure {
		margin-top: 15px;
	}

	.terms.politicsAndTerms .info .content img {
		margin-bottom: 5px;
	}

	.terms.politicsAndTerms .info {
		width: 100%;
		min-width: 300px;
		margin-top: -15px;
		border-radius: 0px;
	}

	.terms.politicsAndTerms .info .moreInfo {
		display: none;
	}

	.terms.politicsAndTerms .beforeMobile {
		position: relative;
		height: 200px;
		top: 0px;
		border-radius: 0px 0px var(--mediumRadius1) var(--mediumRadius1);
		z-index: 5;
	}

	.terms.politicsAndTerms .info .seeMore {
		width: calc(100% - 40px);
		padding: 0px 20px;
		padding-top: 10px;
	}

	.terms.politicsAndTerms .info .seeMore h2 {
		font-size: 18px;
	}

	.terms.politicsAndTerms .info .seeMore .links {
		padding: 15px;
	}

	.terms.politicsAndTerms .info .seeMore a {
		font-size: 14px;
		padding: 0px;
	}

	.terms.politicsAndTerms .info .seeMore .follow {
		padding: 10px 8px;
	}

	.terms.politicsAndTerms .info .seeMore h3 {
		font-size: 14px;
		margin: 0px;
	}

	.terms.politicsAndTerms .info .seeMore .profile {
		position: relative;
		padding: 15px;
		margin-top: 35px
	}

	.terms.politicsAndTerms .info .seeMore .profile img {
		width: 60px;
		height: 60px;
		float: none;
		display: block;
		margin-bottom: 10px;
	}

	.terms.politicsAndTerms .info .seeMore .profile div {
		width: 100%
	}

	.terms.politicsAndTerms .info .seeMore .profile div h2 {
		position: absolute;
		top: 40px;
		left: 90px;
		float: none;
		font-size: 14px;
	}

	.terms.politicsAndTerms .info .seeMore .profile div p {
		font-size: 12px;
	}

	.terms.politicsAndTerms .info .share {
		width: calc(100% - 40px);
		padding: 0px 20px;
		padding-bottom: 10px;
	}

	.terms.politicsAndTerms .info .share h3 {
		font-size: 14px;
		margin-bottom: 5px;
	}

	.terms.politicsAndTerms .info .share nav {
		width: 150px;
	}

	.terms.politicsAndTerms .info .share nav a {
		padding: 8px;
		background-size: 15px;
		width: 15px;
		height: 15px;
	}

	.modalLupaActive .terms.politicsAndTerms .extraContent .indexButton {
		bottom: 100000px;
	}

	/* footer {
        box-shadow: 20px 0px 0px 0px var(--neutral7);
    } */

	.terms.politicsAndTerms .beforeMobile h1 {
		font-size: 24px;
		text-align: center;
		bottom: 30px;
		width: 100%;
		position: absolute;
		margin: 0px;
		padding: 0px 60px;
	}

	.terms.politicsAndTerms .extraContent .indexButton {
		width: 100%;
		padding: 20px;
		background-color: var(--neutral1);
		color: var(--neutral7);
		border-radius: var(--lowRadius) var(--lowRadius) 0px 0px;
		font-family: "Fugaz One";
		font-size: 12px;
		background-image: url(../assets/images/seta-vertical-cima.svg);
		background-position: calc(100% - 20px) calc(100% - 25px);
		background-repeat: no-repeat;
		background-size: 20px;
		position: fixed;
		bottom: 0px;
		z-index: 6;
		border: none;
		text-align: start;
	}

	.menuExtraActive .terms.politicsAndTerms .extraContent .indexButton {
		z-index: 11;
		bottom: 540px;
		transition: var(--transitionMedium);
		background-color: var(--neutral2);
		background-image: url(../assets/images/seta-vertical-baixo.svg);
	}

	.home .highlightLaunch .owl-carousel .owl-stage-outer {
		overflow: visible;
	}

	.home .highlightLaunch .carouselHighlightLaunch .item a img {
		border-radius: var(--mediumRadius2);
	}

	.home .highlightLaunch .carouselContainer {
		width: 100%
	}

	.home .highlightLaunch .carouselHighlightLaunch {
		width: calc(100% - 50px)
	}

	.home .highlightLaunch .content {
		flex-direction: column;
		gap: 15px;
	}

	.home .highlightLaunch .content iframe {
		width: 100%;
		position: relative;
		height: 440px;
	}

	.home .highlightLaunch .carouselHighlightLaunch .item h3 {
		font-size: 16px;
		margin: 10px 0px;
	}

	.home .highlightLaunch .carouselHighlightLaunch .item .tag {
		font-size: 8px;
	}

	.home .highlightLaunch .carouselHighlightLaunch .item p,
	.home .highlightLaunch .carouselHighlightLaunch .item span {
		font-size: 12px;
	}

	.home .highlightLaunch .owl-carousel .owl-stage-outer {
		overflow: visible;
	}

	.home .highlightLaunch .carouselHighlightLaunch .item a img {
		border-radius: var(--mediumRadius2);
	}

	.home .highlightLaunch .carouselContainer {
		width: 100%
	}

	.home .highlightLaunch .carouselHighlightLaunch {
		width: calc(100% - 50px)
	}

	.home .highlightLaunch .content {
		flex-direction: column;
		gap: 15px;
	}

	.home .highlightLaunch .content iframe {
		width: 100%;
		position: relative;
		height: 440px;
	}

	.home .highlightLaunch .carouselHighlightLaunch .item h3 {
		font-size: 16px;
		margin: 10px 0px;
	}

	.home .highlightLaunch .carouselHighlightLaunch .item .tag {
		font-size: 8px;
	}

	.home .highlightLaunch .carouselHighlightLaunch .item p,
	.home .highlightLaunch .carouselHighlightLaunch .item span {
		font-size: 12px;
	}

	.eventForm.formSucess form {
		background-color: var(--neutral7);
		border-radius: 0px;
		width: 100%;
		margin-top: 0px;
	}

	.eventForm.formSucess form .container {
		margin: 20px;
		margin-bottom: 70px;
		width: calc(100% - 40px);
		overflow: hidden;
	}

	.eventForm.formSucess form h2 {
		font-size: 16px;
		margin-bottom: 10px;
		text-transform: uppercase;
	}

	.eventForm.formSucess form h3 {
		font-size: 14px;
	}

	.eventForm.formSucess form p {
		font-size: 12px;
	}

	.eventForm.formSucess .lastContent p {
		margin: 25px 0px;
	}

	.eventForm.formSucess form .middleContent {
		padding: 20px 0px;
		margin-bottom: 0px;
	}

	.eventForm.formSucess form .middleContent a:nth-child(1) {
		margin-bottom: 15px;
		margin-right: 0px;
	}

	.eventForm.formSucess form .middleContent a:nth-child(2) {
		margin-top: 0px;
	}

	.eventForm.formSucess form .middleContent a:nth-child(2),
	.eventForm.formSucess form .middleContent a:nth-child(1),
	.eventForm.formSucess form .lastContent p,
	.eventForm.formSucess form .lastContent a {
		width: 100%;
		float: none;
		font-size: 12px;
	}

	.eventForm.formSucess form input {
		margin-bottom: 10px;
	}

	.eventForm.formSucess form .SumoSelect {
		margin-bottom: 10px;
	}

	.eventForm.formSucess form textarea {
		margin-bottom: 10px;
	}

	.eventForm.formSucess form .block .field {
		float: none;
		width: 100%;
	}

	.eventForm.formSucess form .field label {
		color: var(--neutral1);
	}

	.eventForm.formSucess form .fieldWrapper {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr;
	}

	.eventForm.formSucess form .fieldWrapper .explanation {
		padding: 0px;
		margin-bottom: 15px;
	}

	.eventForm.formSucess form .imgInput .picture {
		background-image: url(../assets/images/adicionar-imagem-form.svg);
		width: 121px;
		height: 121px;
		margin-right: 20px;
		background-size: 100%;
		background-repeat: no-repeat;
		display: block;
		float: left;
	}

	.eventForm.formSucess form .imgInput .text h3 {
		font-size: 14px
	}

	.eventForm.formSucess form .imgInput .text p {
		font-size: 10px
	}

	.eventForm.formSucess {
		flex-direction: column-reverse;
		background-color: var(--neutral7);
	}

	.eventFormformSucess .send {
		width: 100%;
		margin-top: 0px;
		border-radius: 0px 0px var(--mediumRadius1) var(--mediumRadius1);
	}

	.eventFormformSucess .send .container {
		width: calc(100% - 40px);
		margin: 40px 20px;
		padding-top: 90px;
	}

	.eventFormformSucess .send .containerItem {
		display: none;
	}

	.eventFormformSucess .send h1 {
		font-size: 24px;
		margin-bottom: 0px;
	}

	.eventFormformSucess .send .instructions {
		margin-top: 20px;
		font-size: 14px;
	}

	.search .searchEvents .titleDescription {
		width: 100%;
	}

	.search .searchEvents {
		margin-top: 100px;
	}

	.search .searchEvents h2 {
		font-size: 24px;
	}

	.search .searchEvents p {
		font-size: 14px;
	}

	.search .searchEvents .SumoSelect>.optWrapper>.options {
		max-height: 200px;
	}

	.search .searchEvents {
		border-radius: var(--lowRadius);
		background-color: var(--neutral1);
		z-index: 10;
		border-radius: var(--mediumRadius1);
		margin-bottom: 0px
	}

	.searchEventsModalActive .search .searchEvents {
		bottom: 0px;
		transition: var(--transitionMedium);
	}

	.search .searchEvents h2 {
		font-size: 24px;
		margin-top: 80px;
	}

	.search .searchEvents .goSearch {
		display: none;
	}

	.search .searchEvents form {
		width: 100%;
		grid-template-columns: 1fr;
		gap: 10px;
		margin-bottom: 20px;
		grid-row-gap: 20px;
	}

	.search .searchEvents form .field {
		width: 100%;
	}

	.search .searchEvents form label {
		font-size: 14px;
	}

	.search .searchEvents form button {
		margin-top: 40px;
		margin-bottom: 30px;
		width: 100%;
		border: none;
	}

	.search .searchEvents .searchModalClose {
		right: 20px;
		top: 18px;
	}

	.placeTipActive .search .searchEvents form .placeTip .placeTipOpen {
		top: -210px;
		left: 0px;
	}
}

@media(max-width: 650px) {
	.event .complementContent .houseWrapper p:nth-child(1) {
		margin-right: 0px;
	}
}

@media(max-width: 600px) {
	.footerWave3 {
		bottom: -517px;
		left: -174px;
		width: 690px;
	}

	.footerWave2 {
		display: none;
	}
}

@media(max-width: 450px) {
	.about .aboutTeam iframe {
		height: 200px;
		margin-top: -195px;
		margin-bottom: 50px;
		max-width: 100%;
	}
}

@media(min-width: 1025px) {

	.advertisement {
		height: min-content;
	}

	.advertisement .pictureMobile {
		display: none;
	}

	.advertisement .pictureDesk {
		position: relative;
		width: 100%;
		top: 0px;
	}

	.advertisement .pictureDesk img {
		width: 1000px;
		max-width: 100%;
		margin: 0 auto;
		display: block;
		border-radius: var(--mediumRadius1);
		height: 100%;
	}

	.advertisement {
		position: relative;
	}

	.advertisement .container {
		width: 100%;
		padding: 20px;
		height: 130px;
	}

	.advertisement figure {
		width: 100%;
	}

	.home .advertisement .container {
		height: 100%;
	}

	.lastWave {
		background-image: url(../assets/images/ultima-onda.svg);
		background-repeat: no-repeat;
		width: 800px;
		height: 1000px;
		background-position: center;
		position: absolute;
		z-index: -1;
		top: -530px;
		right: -426px;
	}

	.home .featuredNews {
		gap: 40px;
		max-height: 730px;
		justify-content: space-between;
		flex-direction: row;
	}

	.home .highlightNews {
		width: calc(60% - 20px);
		margin-bottom: 0px;
	}

	.home .highlightNews ul li {
		width: 100%;
		height: 320px;
	}

	.home .highlightNews ul li a {
		border-radius: var(--mediumRadius1);
	}

	.home .highlightNews ul li div h3 {
		margin-left: 20px;
		margin-right: 20px;
		line-height: 1.5em;
		font-size: 18px;
	}

	.home .highlightNews ul {
		grid-template-columns: 1fr 1fr;
		gap: 20px;
		row-gap: 20px;
		width: 100%;
		max-height: 100%;
	}

	.home .highlightNews ul li div span {
		margin-left: 20px;
		margin-right: 20px;
		font-size: 14px;
	}

	.home .launch li div h3,
	.home .launch li div span {
		font-size: 14px;
		line-height: 20px;
	}

	.home .launch {
		width: 40%;
	}

	.home .launch ul {
		gap: 20px;
		max-height: 100%;
		width: 100%;
		grid-row-gap: 20px
	}

	.home .launch li {
		border-radius: var(--mediumRadius2);
		height: 150px;
	}

	.home .launch li div {
		gap: 10px;
		padding: 15px;
		width: calc(100% - 200px);
	}

	.home .launch li a figure {
		width: 200px;
		height: 100%;
		width: 200px;
		overflow: hidden;
		border-radius: var(--mediumRadius2) 0px 0px 8px;
	}

	.home .launch li a img {
		height: 100%;
		width: 100%;
	}

	.home .featuredWave {
		bottom: -279px;
	}

	.release .advertisement {
		height: 290px;
		position: relative;
		padding: 80px 0px;
	}

	.release .advertisement .container {
		width: calc(100% - 80px);
		padding: 20px;
	}

	.releases .artistHighlights .carouselArtists .item a img {
		border-radius: var(--mediumRadius1);
		object-fit: cover;
	}

	.releases .artistHighlights .text h2 {
		font-size: 24px;
	}

	.releases .artistHighlights .item h3 {
		font-size: 14px;
	}

	.releases .artistHighlights .carouselArtists {
		width: 100%
	}

	.event .info .news .title h2 {
		font-size: 24px;
	}

	.event .info .news li div span {
		font-size: 14px;
	}

	.event .info .news li div h3 {
		font-size: 16px;
	}

	.event .info .news {
		padding: 0px 40px;
		padding-top: 60px;
		padding-bottom: 40px;
	}

	.event .info .news ul {
		gap: 20px;
		max-height: 100%;
		width: calc(100% - 10px);
	}

	.event .info .news li {
		height: 150px;
	}

	.event .info .news li figure {
		height: 150px;
		width: 200px;
		border-radius: var(--mediumRadius2) 0px 0px var(--mediumRadius2);
	}

	.event .info .news li div {
		gap: 10px;
		padding: 15px;
		width: calc(100% - 200px);
	}
}