.together .bestEvents {
    width: 100%;
    margin-bottom: 40px;
    z-index: 4;
    position: relative;
}

.modalLupaActive .together .bestEvents {
    z-index: 1;
}

.together .bestEvents .titleName {
    font-size: 56px;
    margin-bottom: 30px;
}


.together .bestEvents .titleDescription {
    font-size: 16px;
    line-height: 1.5em;
    width: 75%;
    margin-bottom: 45px;
}

.together .bestEvents .title {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
}

.together .bestEvents .title div {
    display: flex;
}

.together .bestEvents .carouselBestEvents a .icon:before {
    background-image: url(../../../assets/icone-chat-branco.svg);
    content: "";
    display: block;
    width: 30px;
    height: 40px;
    float: left;
    background-size: 30px;
    background-repeat: no-repeat;
    opacity: 40%;
}

@media(max-width: 1024px) {

    .together .bestEvents .titleDescription {
        font-size: 14px;
        width: 100%;
        margin-bottom: 35px;
    }

    .together .bestEvents .titleName {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .together .bestEvents .title {
        margin-bottom: 20px;
    }

    .together .bestEvents {
        margin-bottom: 20px;
    }

    .together .bestEvents .carouselBestEvents {
        width: calc(100% - 150px);
    }

    .together .bestEvents .carouselBestEvents a {
        padding: 15px;
        border-radius: var(--mediumRadius1);
    }

    .together .bestEvents .carouselBestEvents a p {
        grid-template-columns: 15px 1fr;
        font-size: 12px;
    }

    .together .bestEvents .carouselBestEvents a .icon:before {
        width: 15px;
        height: 20px;
        background-size: 15px;
    }

}