* {
    box-sizing: border-box;
}

.together .firstContent {
    background-color: var(--neutral1);
    border-radius: 0px 0px var(--bigRadius) var(--bigRadius);
    position: relative;
}

.together .container {
    margin: 0 auto;
    width: calc(100% - 160px);
    gap: 50px;
    margin-top: 120px
}

.filterSearchMode .together .container {
    width: calc(100% - 80px);
    max-width: calc(100% - 80px);
}

.together .darkWave {
    position: absolute;
    top: -290px;
    right: -702px;
    z-index: 1;
    background-image: url(../../../assets/darkWave.svg);
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: center;
    width: 1500px;
    height: 1000px;
}


@media(max-width: 1024px) {
    .together .firstContent {
        border-radius: 0px 0px var(--mediumRadius1) var(--mediumRadius1);
    }

    .together .container {
        width: calc(100% - 40px);
        margin-top: 120px;
    }

    .filterSearchMode .together .container {
        width: calc(100% - 40px);
        max-width: calc(100% - 40px);
    }

    .together .darkWave {
        display: none;
    }

}