.artist .info .about {
    width: 100%;
    padding: 40px 40px 10px 40px;
    background-color: var(--neutral7);
    border-radius: var(--bigRadius) var(--bigRadius) 0px 0px;
    position: relative;
}

.artist .info .about h2 {
    font-size: 24px;
    margin-bottom: 10px;
    width: 100%;
}

.artist .info .about p {
    font-size: 16px;
    margin-bottom: 10px;
    width: 100%;
    line-height: 1.5em;
    color: var(--neutral1);
    font-family: var(--font2);
}

.artist .info .about .moreInfo {
    margin: 0 auto;
    padding: 18px 20px;
    line-height: 21px;
    color: var(--neutral6);
    background-color: var(--main1);
    border-radius: var(--lowRadius) var(--lowRadius) 0px 0px;
    position: absolute;
    top: -57px;
    border: none;
    z-index: 2;
    left: 0px;
    right: 0px;
    width: 150px;
    background-image: url(../../../../assets/images/seta-vertical-cima.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right calc(0% + 20px) bottom 55%;
    text-align: initial;
    font-size: 14px;
}

.artist .info .about .moreInfo:hover {
    background-color: var(--pinkHover);
}

@media (max-width: 1024px) {
    .artist .info .about {
        border-radius: var(--mediumRadius1) var(--mediumRadius1) 0px 0px;
        padding: 20px 20px 10px 20px;
    }

    .artist .info .about .moreInfo {
        display: none;
    }

    .artist .info .about .moreInfo:hover {
        background-color: var(--neutral7);
    }

    .artist .info .about h2 {
        font-size: 18px;
    }
}