.artist .info .artistNews {
    width: 100%;
    padding: 60px 40px 10px 40px;
    background-color: var(--neutral7);
    position: relative;
}

.artist .info .artistNews .title {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    gap: 10px;
}

.artist .info .artistNews .title h2 {
    font-size: 24px
}

.artist .info .artistNews .title .seeAll {
    font-size: 14px;
}

.artist .info .artistNews .listItems {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.artist .info .artistNews .listItems .item {
    width: 100%;
    height: 150px;
}

.artist .info .artistNews .listItems .item a:hover {
    margin-top: -3px;
}

.artist .info .artistNews .listItems .item a:hover img {
    margin-top: -5px;
    margin-left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 5px);
}

.artist .info .artistNews .listItems .item a {
    width: 100%;
    display: flex;
    text-decoration: none;
    height: 100%;
    border-radius: var(--mediumRadius2);
    position: relative;
    background-color: var(--neutral5);
}

.artist .info .artistNews .listItems .item h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 1.5em;
}

.artist .info .artistNews .listItems .item .date {
    font-size: 14px;
}

.artist .info .artistNews .listItems .item figure {
    width: 200px;
    border-radius: var(--mediumRadius2) 0px 0px 8px;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.artist .info .artistNews .listItems .item div {
    width: calc(100% - 200px);
    padding: 20px;
    height: 100%;
}

.artist .info .artistNews .listItems .item figure img {
    border-radius: var(--mediumRadius1) 0px 0px var(--mediumRadius1);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.artist .content {
    width: 50%;
    float: right;
    position: absolute;
    top: -10000px;
}

.artist .content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(50% - 40px);
    padding-left: 40px;
    height: calc(100% - 80px);
}

.artist .content .icons {
    display: flex;
    gap: 5px;
    margin-bottom: 35px;
}

.artist .content .icons a {
    padding: 20px;
    display: block;
    display: flex;
    background-color: var(--neutral1);
    border-radius: var(--lowRadius);
    width: 20px;
    height: 20px;
    justify-content: center;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.artist .content .icons a.insta {
    background-image: url(../../../../assets/icone-instagram-branco.svg);
}

.artist .content .icons a.facebook {
    background-image: url(../../../../assets/images/icone-facebook.svg);
}

.artist .content .icons a.spotify {
    background-image: url(../../../../assets/images/icone-spotify.svg);
}

.artist .content .icons a.tiktok {
    background-image: url(../../../../assets/icone-tiktok.svg);
}

.artist .content .icons a:hover {
    background-color: var(--greyHover);
}

.artist .content h1 {
    font-size: 56px;
    margin-bottom: 10px;
}

.artist .content p {
    font-size: 14px;
}

.artist .content .country {
    border-bottom: 1px solid var(--greyHover);
    padding: 20px 0px;
    display: flex;
    align-items: center;
}

.artist .content .iconWrapper {
    display: flex;
    border-bottom: 1px solid var(--greyHover);
    padding: 20px 0px;
    margin-bottom: 40px;
    gap: 10px;
}

.artist .content .music:before {
    background-image: url(../../../../assets/images/icone-musica.svg);
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 10px;
    background-size: 15px;
    background-repeat: no-repeat;
}

.artist .content .record:before {
    background-image: url(../../../../assets/icone-gravadora.svg);
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 10px;
    background-size: 15px;
    background-repeat: no-repeat;
}

.artist .content .country:before {
    background-image: url(../../../../assets/icone-localizacao.svg);
    content: "";
    display: block;
    width: 15px;
    height: 20px;
    float: left;
    margin-right: 10px;
    background-size: 15px;
    background-repeat: no-repeat;
}

.artist .blankPart {
    width: 100px;
    height: 100px;
    position: absolute;
    right: -100px;
    background: var(--neutral2);
    bottom: 0px;
    border-radius: var(--bigRadius);
    box-shadow: -43px 52px 0px 0px #fff;
}


@media(max-width: 1024px) {
    .artist .info .artistNews {
        padding: 40px 20px 40px 20px;
    }

    .artist .content {
        width: 50%;
        float: right;
        position: absolute;
        top: 0px;
    }

    .artist .info .artistNews .listItems .item figure {
        width: 130px;
        border-radius: var(--lowRadius);
    }

    .artist .info .artistNews .listItems .item {
        height: 100px;
    }

    .artist .info .artistNews .blankPart {
        display: none;
    }

    .artist .info .artistNews .listItems .item h2,
    .artist .info .artistNews .listItems .item .date {
        font-size: 12px;
    }

    .artist .info .artistNews .listItems .item div {
        width: calc(100% - 130px);
        padding: 10px;
    }

    .artist .info .artistNews .listItems .item a {
        border-radius: var(--lowRadius);
    }

    .artist .info .artistNews .title h2 {
        font-size: 18px;
    }

    .artist .info .artistNews .listItems {
        gap: 10px;
    }
}