.artist .info .lastLaunch {
    width: 100%;
    padding: 40px 40px 10px 40px;
    background-color: var(--neutral7);
}

.artist .info .lastLaunch .title {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    gap: 10px;
}

.artist .info .lastLaunch .title h2 {
    font-size: 24px
}

.artist .info .lastLaunch .title .seeAll {
    font-size: 14px;
}

.artist .info .lastLaunch .item:hover {
    margin-top: -3px;
}

.artist .info .lastLaunch .item div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 5px;
}

.artist .info .lastLaunch .item h3 {
    line-height: 25px;
    margin: 5px 0px;
}

.artist .info .lastLaunch .item .icon:before {
    background-image: url(../../../../assets/images/icone-musica-dark.svg);
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 10px;
    background-size: 15px;
    background-repeat: no-repeat;
}

.artist .info .lastLaunch .item a {
    text-decoration: none;
    display: block;
}

.artist .info .lastLaunch .item figure {
    width: 100%;
    border-radius: var(--mediumRadius2);
    position: relative;
    overflow: hidden
}

.artist .info .lastLaunch a img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
    border-radius: var(--mediumRadius1);
}

.artist .info .lastLaunch .listLaunchItems {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 100%;
}

.artist .info .lastLaunch .owl-carousel .owl-stage-outer {
    overflow: visible;
}

@media(max-width: 1024px) {
    .artist .info .lastLaunch {
        padding: 25px 20px 10px 20px;
    }

    .artist .info .lastLaunch .listLaunchItems {
        width: calc(100% - 50px);
        display: block;
    }

    .artist .info .lastLaunch .title h2 {
        font-size: 18px;
    }

    .artist .info .lastLaunch a img {
        border-radius: var(--mediumRadius2);
    }
}