.search .extraContent {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    position: relative;
}

.search .containerExtra {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    width: calc(100% - 120px);
    flex-direction: column;
    align-self: center;
}

.filterSearchMode .search .containerExtra {
    width: calc(100% - 80px);
}

.search .containerExtra .notFoundImg {
    content: "";
    display: block;
    align-self: center;
    width: 300px;
    margin-bottom: 50px;
    margin-top: 150px;
    background-image: url(../../../assets/resultado-nao-encontrado.svg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 170px;
    z-index: 2;
}

.search .containerExtra h1 {
    font-size: 36px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    z-index: 2;
}

.search .containerExtra h2 {
    font-size: 24px;
    z-index: 2;
}

.search .containerExtra h4 {
    font-size: 16px;
    display: block;
    margin: 0 auto;
    margin-bottom: 150px;
    text-align: center;
    z-index: 2;
    line-height: 1.5em;
}

.search .containerExtra .leftWave {
    position: absolute;
    top: 190px;
    left: -637px;
    transition: 45g;
    transform: rotate(-15deg);
    background-image: url(../../../assets/onda-esquerda-notFound.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 880px;
    width: 1000px;
}

.search .containerExtra .rightWave {
    position: absolute;
    top: 12px;
    right: -549px;
    transform: rotate(32deg);
    background-image: url(../../../assets/onda-direita-notFound.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 880px;
    width: 1000px;
}

@media(max-width: 1024px) {
    .filterSearchMode .search .containerExtra {
        width: calc(100% - 40px);
    }

    .search .containerExtra h1 {
        margin-bottom: 0px;
        font-size: 18px;
    }

    .search .containerExtra h2 {
        font-size: 18px;
    }

    .search .containerExtra h4 {
        font-size: 14px;
    }

    .search .containerExtra .notFoundImg {
        width: calc(100% - 160px);
    }

    .search .containerExtra {
        width: calc(100% - 40px);
        margin-top: 0px;
        gap: 20px;
    }

    .search .containerExtra .leftWave,
    .search .containerExtra .rightWave {
        display: none;
    }

    .search .containerExtra .notFoundImg {
        margin-top: 50px;
        margin-bottom: 0px;
    }

}