.event .fixedContent {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    height: 100vh;
    padding-right: 40px;
    margin-top: 50px;
}

.event .fixedContent h1 {
    font-size: 56px;
    font-family: "Fugaz One";
    line-height: 1.24em;
    color: var(--neutral7);
}

.event .fixedContent span {
    border-radius: var(--lowRadius);
    padding: 10px;
    width: fit-content;
    font-size: 10px;
    font-family: "Lato";
    background-color: var(--main2);
    vertical-align: middle;
}

.event .fixedContent .tag2 {
    position: absolute;
    top: 15px;
}

.event .fixedContent figure {
    position: relative;
    height: 100%;
    border-radius: var(--bigRadius);
}

.event .fixedContent p {
    font-family: "Lato";
    font-size: 14px;
    line-height: 1.70em;
    color: var(--neutral7);
}

.event .fixedContent .music,
.event .fixedContent .calendarWrapper,
.event .fixedContent .houseWrapper {
    padding: 20px 0px;
    border-bottom: 1px solid var(--greyOpacity);
    overflow: hidden;
}

.event .fixedContent .calendarWrapper p:nth-child(1),
.event .fixedContent .houseWrapper p:nth-child(1) {
    margin-right: 30px;
}

.event .fixedContent .calendarWrapper p,
.event .fixedContent .houseWrapper p,
.event .fixedContent .linkWrapper {
    float: left;
}

.event .fixedContent .houseWrapper a {
    float: right;
    line-height: 24px;
}

.event .houseWrapper a {
    color: var(--main1);
    font-family: var(--font2);
    display: block;
    align-self: center;
    justify-self: end;
}

.event .fixedContent .description {
    width: 100%;
    overflow: hidden;
}

.event .fixedContent .icon:before {
    content: "";
    display: block;
    width: 16px;
    height: 20px;
    float: left;
    margin-right: 10px;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 1px;
}

.event .fixedContent .calendar:before {
    background-image: url(../../../../assets/images/icone-calendario.svg);
}

.event .fixedContent .clock:before {
    background-image: url(../../../../assets/icone-relogio.svg);
}

.event .fixedContent .music:before {
    background-image: url(../../../../assets/images/icone-musica.svg);
}

.event .fixedContent .house:before {
    background-image: url(../../../../assets/images/icone-casa.svg);
}

.event .fixedContent .place:before {
    background-image: url(../../../../assets/icone-localizacao-branco.svg);
    height: 21px;
}

.event .fixedContent button {
    padding: 18px 20px;
    line-height: 21px;
    width: 350px;
    background-color: var(--main1);
    color: var(--neutral7);
    font-size: 14px;
    font-family: var(--font1);
    border: none;
    border-radius: var(--lowRadius);
    margin-top: 20px;
}

.event .fixedContent button:hover {
    background-color: var(--pinkHover);
}

.event .fixedContent .timeCounter {
    text-align: left;
    margin-top: 20px;
    font-size: 16px
}

@media(max-width: 1024px) {

    .event .fixedContent {
        display: none;
    }

    .event .fixedContent button {
        font-size: 12px;
    }
}