* {
    box-sizing: border-box;
}

.news .firstContent {
    background-color: var(--neutral1);
    display: flex;
    justify-content: center;
    border-radius: 0px 0px var(--bigRadius) var(--bigRadius);
    position: relative;
}

.news .container {
    width: calc(100% - 180px);
    gap: 50px;
    margin-top: 50px;
}

.filterSearchMode .news .container {
    width: calc(100% - 80px);
    max-width: calc(100% - 80px);
}

.news .darkWave {
    position: absolute;
    top: -265px;
    right: -702px;
    background-image: url(../../../assets/darkWave.svg);
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: center;
    width: 1500px;
    height: 1000px;
}


@media(max-width: 1024px) {
    .news .firstContent {
        border-radius: 0px 0px var(--mediumRadius1) var(--mediumRadius1);
        margin-bottom: 40px;
    }

    .news .container {
        width: calc(100% - 40px);
        margin-top: 0px;
    }

    .filterSearchMode .news .container {
        width: calc(100% - 40px);
        max-width: calc(100% - 40px);
    }

    .news .darkWave {
        display: none;
    }

}