.news .searchEvents {
    margin-top: 80px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
    z-index: 2;
}

.news .searchEvents h2 {
    font-size: 56px;
}

.news .searchEvents .titleDescription {
    font-size: 16px;
    line-height: 1.5em;
    width: 75%;
    margin-bottom: 20px;
}

.news .searchEvents form {
    display: grid;
    grid-template-columns: 3fr 1fr 140px;
    gap: 10px;
    width: 100%;
    z-index: 4;
}

.news .searchEvents form div {
    width: 100%;
}

.news .searchEvents form .go {
    width: 140px;
    padding: 15px 20px;
    align-self: flex-end;
    color: var(--neutral5);
    background-color: var(--main1);
    border-radius: var(--lowRadius);
    border: none;
}

.news .searchTool .SumoSelect>.CaptionCont {
    background-color: var(--neutral1);
}

.news .searchEvents form .go:hover {
    background-color: var(--pinkHover);
}

.news .searchEvents form input:hover {
    border-color: var(--neutral3);
}

.news .searchEvents form input:focus {
    box-shadow: 0 0 2px var(--neutral7);
    border-color: var(--neutral7)
}

.searchEvents form .field {
    width: 14%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-content: center;
}

.searchEvents form .name {
    width: 20%;
}

.searchEvents form .arrowOff label {
    display: none;
}

.searchEvents .searchModalClose {
    background-color: var(--neutral1);
    position: absolute;
    top: -10000px;
    transition: var(--transitionMedium);
    margin-top: 10px;
}

.searchEvents .searchModalClose span {
    background-color: var(--greyOpacity);
}

.news .searchModalButton {
    width: 105%;
    position: fixed;
    bottom: 0px;
    border: none;
    z-index: 5;
    margin-bottom: 0px
}

.news .searchModalButton:hover {
    background-color: var(--pinkHover);
}

.news .searchModalButton img {
    position: absolute;
    right: 30px;
}

.searchEvents form .field {
    width: 100%;
}

.sumo_place>.optWrapper>.options li.opt label {
    overflow: hidden;
}

.sumo_place>.optWrapper>.options li.opt label:before {
    content: "";
    display: block;
    width: 10px;
    height: 15px;
    float: left;
    margin-right: 10px;
    background-size: 10px;
    background-repeat: no-repeat;
}

.sumo_place>.optWrapper>.options li.opt.lugar label:before {
    background-image: url(../../assets/mini-icone-casa.svg);
}

.sumo_place>.optWrapper>.options li.opt.pais label:before {
    background-image: url(../../assets/mini-icone-pais.svg);
}

.sumo_place>.optWrapper>.options li.opt.estado label:before {
    background-image: url(../../assets/mini-icone-estado.svg);
}

.sumo_place>.optWrapper>.options li.opt.cidade label:before {
    background-image: url(../../assets/mini-icone-local.svg);
}

@media(max-width: 1024px) {

    .news .searchEvents .titleDescription {
        width: 100%;
    }

    .news .searchEvents .titleDescription {
        margin-bottom: 0px;
    }

    .news .searchEvents h2 {
        font-size: 24px;
    }

    .news .searchEvents p {
        font-size: 14px;
    }

    .news .searchEvents .SumoSelect>.optWrapper>.options {
        max-height: 100px;
    }

    .news .searchEvents {
        border-radius: var(--lowRadius);
        background-color: var(--neutral1);
        z-index: 10;
        border-radius: var(--mediumRadius1);
        margin-bottom: 0px;
        margin-top: 40px;
    }

    .searchEventsModalActive .searchEvents {
        bottom: 0px;
        transition: var(--transitionMedium);
    }

    .news .searchEvents h2 {
        font-size: 24px;
        margin: 0px;
        margin-top: 80px;
    }

    .news .searchEvents .goSearch {
        display: none;
    }

    .news .searchEvents form {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        gap: 20px;
        width: 100%;
        z-index: 4;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .news .searchEvents form .field {
        width: 100%;
    }

    .news .searchEvents form label {
        font-size: 14px;
    }

    .searchEvents .searchModalClose {
        right: 20px;
        top: 18px;
    }

    .placeTipActive .searchEvents form .placeTip .placeTipOpen {
        top: -210px;
        left: 0px;
    }

}