/* options (where to put the class and type of header)
header > noBackground (background transparent)
modalMenu > activeHighlight (active-on nav)
links > highlightLink (active-on link)
header > bigLogo (bigger mobile logo)
header > scroll (header scroll) 
*/

.menu {
    background-color: var(--neutral1);
    position: fixed;
    z-index: 5;
    width: 100%;
    justify-content: center;
    transition: var(--transitionMedium)
}

header a {
    display: block;
}

.menu.floated {
    z-index: 5;
    position: fixed;
    top: -100px;
    left: 0px;
    right: 0px;
}

.menu.noBackground {
    background-color: transparent;
}

.menuDrop .menu.noBackground {
    background-color: var(--neutral1);
}

.menu.floated.on {
    z-index: 5;
    position: fixed;
    top: 0px;
    width: 100%;
    box-shadow: 80px 0px 0px 0px var(--greyOpacity);
}

.menu nav a {
    display: block;
}

.menu .containerLupa .lupaContainerItem {
    width: 40px;
    left: 5px;
    bottom: 0px;
    top: 0px;
    border: solid var(--neutral2);
    position: absolute;
    background-color: transparent;
    border: none;
}

.modalLupaActive .menu .containerLupa .lupaContainerItem {
    margin-bottom: 0px;
    width: 30px;
    bottom: 8px;
}

.aboutMenu.menu.static {
    z-index: 3;
}

.menu .containerLupa .lupaContainerItem img {
    width: 100%;
}

.menu .containerLupa .closeLupa {
    width: 30px;
    right: 5px;
    bottom: 10px;
    position: absolute;
    background-color: var(--neutral1);
    border: none;
    opacity: 00%;
    margin-bottom: 2px;
    z-index: -1;
}

.modalLupaActive .menu .containerLupa .closeLupa {
    opacity: 60%;
    z-index: 1;
}

.modalLupaActive .menu .containerLupa .closeLupa:hover {
    opacity: 100%;
}

/* desativado */

.menu.floated .containerLupa,
.menu.static .containerLupa {
    width: 50px;
    margin-right: 40px;
    height: 50px;
}

.modalLupaActive .menu.floated .containerLupa,
.modalLupaActive .menu.static .containerLupa {
    width: 470px;
    background-color: var(--neutral2);
}

.menu.floated .containerHide,
.menu.static .containerHide {
    transition: var(--transitionFast);
    background-color: transparent;
    border-radius: var(--lowRadius);
    width: 100%;
    position: relative
}

/* ativado */

.modalLupaActive .menu.static .lupa,
.modalLupaActive .menu.floated .lupa {
    display: block;
    margin-bottom: 2px;
    top: 10px;
}

.modalLupaActive .menu.static .containerHide,
.modalLupaActive .menu.floated .containerHide {
    border: 3px solid var(--neutral3);
    background-color: var(--neutral1);
}

.modalLupaActive .menu.static .containerLupa,
.modalLupaActive .menu.floated .containerLupa {
    transition: var(--transitionFast);
    opacity: 100%;
    z-index: 1;
    margin-right: 0px;
}

.menu .containerLupa input {
    padding: 15px 0px;
    margin-bottom: 2px;
    background-color: var(--neutral1);
    border: none;
    margin-left: 35px;
    margin-right: 35px;
    transition: var(--transitionMedium);
    opacity: 0%;
}

.modalLupaActive .containerLupa input {
    opacity: 100%;
    width: calc(100% - 70px);
    color: var(--neutral7);
}

.modalLupaActive .containerLupa::placeholder {
    color: var(--neutral3);
}

.menu .containerLupa input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.modalLupaActive .menu .containerHide:hover,
.modalLupaActive .menu .containerHide:focus {
    box-shadow: 0 0 2px var(--neutral7);
    border: 3px solid var(--neutral7)
}

.menu .lupa {
    border: solid var(--neutral2);
    background-color: var(--neutral1);
    border: none;
    width: 40px;
    opacity: 60%;
    transition: var(--transitionFast);
    cursor: pointer;
}

.menu .lupa:hover {
    opacity: 100%;
}

.bigLogo.menu .lupa {
    background-color: var(--neutral1);
}

.menu .containerLupa .modalLupa,
.menu .containerLupa .modalLupa.mobile {
    background-color: var(--neutral2);
    position: absolute;
    top: -10000px;
    padding: 20px;
    border-radius: var(--lowRadius);
    width: 100%;
}

.inputLupaActive .menu .modalLupa.desk {
    transition: var(--transitionMedium);
    top: 67px;
    z-index: 3;
}

.menu .containerLupa .modalLupa ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 50px;
}

.menu .containerLupa .modalLupa ul li {
    width: calc(50% - 5px);
    border-radius: var(--mediumRadius2);
    height: 70px;
    background-color: var(--greyHover);
    transition: var(--transitionFast);
}

.menu .containerLupa .modalLupa ul li a {
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    height: 100%;
}

.menu .containerLupa .modalLupa ul li figure {
    width: calc(35% - 10px);
    min-width: 50px;
    height: 100%;
}

.menu .containerLupa .modalLupa ul li:hover {
    opacity: 60%;
}

.menu .containerLupa .closeButtonModal {
    position: absolute;
    top: -1000px;
    transition: var(--transitionFast);
    background-image: url(../../../assets/botao-lupa-X.svg);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-color: var(--neutral2);
    border: none;
}

.menu .containerLupa .seeAll {
    margin-top: 40px;
    display: block;
}

.menu .containerLupa .seeAll:hover {
    color: var(--pinkHover);
}

.menu .containerLupa .modalLupa ul li h3 {
    margin-bottom: 5px;
    font-size: 14px;
}

.menu .containerLupa .modalLupa ul li p {
    font-size: 12px;
}

.menu .containerLupa .modalLupa ul li a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--mediumRadius2) 0px 0px 8px;
}

.menu .containerLupa .modalLupa .sugestions {
    font-size: 18px;
    margin: 10px 0px;
}

.menu .containerLupa .modalLupa .textModal {
    font-size: 14px;
    padding: 10px 0px;
    border-bottom: 1px solid var(--greyHover);
    display: block;
    text-decoration: none;
}

.menu .containerLupa .modalLupa .textModal:hover {
    color: var(--pinkHover);
}

body.menuActive .menu.floated {
    top: 0px;
    width: 100%;
    background-color: var(--neutral1);
}

body.menuActive .bigLogo.menu .logo {
    width: 45px;
    top: 10px;
}

body.menuDrop .menu.floated {
    top: 0px;
    width: 100%;
    box-shadow: 80px 0px 0px 0px var(--greyOpacity);
}

.menu .logo {
    width: 45px;
    opacity: 80%;
}

.menu .logo:hover {
    opacity: 100%;
}

.menu nav {
    width: calc(100% + 50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    transition: var(--transitionMedium);
}

.modalLupaActive .menu nav {
    width: 100%;
}

.menu .links {
    display: flex;
    align-self: center;
    gap: 40px;
}

.menu .links a {
    text-decoration: none;
    filter: brightness(0.9);
}

.menu .links a:hover {
    filter: brightness(3);
}

.menu .links.activeHighlight a {
    text-decoration: none;
    opacity: 40%;
    filter: brightness(1);
}

.menu .links.activeHighlight a:hover,
.menu .links.activeHighlight .highlightLink {
    opacity: 100%;
    filter: brightness(1);
}

.menu .lupa img {
    width: 100%;
}

.modalLupaActive.menuDrop .modalMenu {
    top: -10000px;
}

.modalMenu {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: var(--neutral1);
    left: 0px;
    top: -10000px;
    z-index: 10;
    margin-bottom: 0px;
    transition: var(--transitionMedium);
    gap: 20px;
    height: calc(100vh - 100px);
    overflow-y: scroll;
    width: 100%;
    box-shadow: 80px 0px 0px 0px var(--greyOpacity);
}

.modalMenu::-webkit-scrollbar {
    width: 8px;
}

.modalMenu::-webkit-scrollbar-track {
    background: var(--neutral1);
}

.modalMenu::-webkit-scrollbar-thumb {
    background-color: var(--main1);
    border-radius: var(--bigRadius);
}

.modalMenu ul {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.modalMenu ul li {
    padding: 15px 0px;
    display: flex;
    border-bottom: 1px solid var(--greyOpacity);
    text-decoration: none;
}

.modalMenu ul li a {
    text-decoration: none;
    filter: brightness(0.9);
}

.modalMenu ul li a:hover {
    filter: brightness(3);
}

.modalMenu.activeHighlight ul li a {
    text-decoration: none;
    filter: brightness(1);
    opacity: 40%;
}

.modalMenu.activeHighlight ul li a:hover,
.modalMenu.activeHighlight ul li .highlightLink {
    opacity: 100%;
    filter: brightness(1);
}

.modalMenu .buttons {
    padding: 60px 40px 0px 40px;
    gap: 10px;
}

.modalMenu .buttons a {
    width: calc(50% - 10px);
    float: right;
    text-align: center;
}

.modalMenu .buttons a:nth-child(2) {
    float: left;
    border: 3px solid var(--main1);
}

.modalMenu .buttons a:nth-child(2):hover {
    border: 3px solid var(--pinkHover);
}

.modalMenu .icons a {
    display: block;
    display: flex;
    background-color: var(--neutral2);
    border-radius: var(--lowRadius);
    width: 50px;
    height: 50px;
    justify-content: center;
    align-content: center;
    transition: var(--transitionFast);
}

.modalMenu .icons a img {
    width: 60%;
}

.modalMenu .icons {
    display: flex;
    gap: 5px;
    padding: 0px 40px;
    margin-bottom: 100px;
}

.modalMenu .icons a:hover {
    background-color: var(--greyHover);
}

.modalMenu h2 {
    padding: 0px 40px;
    margin-top: 10px;
}

body.menuDrop,
body.modalLupaActive {
    overflow: hidden;
}

.menuDrop .modalMenu {
    top: 100px;
}

.menuDrop .menu.floated nav {
    z-index: 3;
    padding: 40px;
}

.menuDrop .menu.floated nav .modal span {
    color: var(--greyOpacity);
}

.menuDrop .home .emphasis {
    z-index: 0;
}

.menuDrop .home .countdown {
    z-index: 0;
}

.modalLupaActive .backgroundModal {
    position: fixed;
    z-index: 2;
    opacity: 0%;
    content: "";
    width: 100%;
    height: 100vh;
}

.menu.menuDrop .containerHide {
    opacity: 0%;
}

.modalLupaActive .containerHide {
    position: relative
}

@media(max-width: 1024px) {
    .menu nav {
        padding: 20px;
    }

    header.noMenuMobile {
        display: none;
    }

    .modalMenu .icons {
        padding: 0px 20px;
    }

    .menuDrop .menu.floated nav {
        padding: 40px 20px;
    }

    .modalLupaActive .menu.floated .logo,
    .modalLupaActive .menu.static .logo {
        display: none;
    }

    .modalMenu h2 {
        padding: 0px 20px;
    }

    .modalMenu .buttons {
        padding: 60px 20px 0px 20px;
    }

    .modalMenu ul {
        padding: 0px 20px;
    }

    .modalLupaActive .menu {
        background-color: var(--neutral2);
    }

    .modalMenu .buttons a {
        width: 100%;
        font-size: 12px;
    }

    .modalMenu .buttons a:nth-child(1) {
        margin-bottom: 20px;
    }

    .menu .containerLupa .modalLupa,
    .menu .containerLupa .modalLupa.mobile {
        padding: 0px;
        padding-top: 20px;
    }

    .modalLupaActive {
        overflow: hidden;
    }

    .modalLupaActive .backgroundModal {
        opacity: 100%;
        background-color: var(--neutral2);
        z-index: 5;
        height: 100vh;
        top: 0px;
    }

    .inputLupaActive .menu .containerLupa .modalLupa.mobile {
        transition: var(--transitionMedium);
        top: 55px;
        z-index: 3;
        overflow: scroll;
    }

    .modalLupaActive .menu.floated .containerLupa,
    .modalLupaActive .menu.static .containerLupa {
        margin-right: 20px;
        width: calc(100% - 40px);
        top: 80px;
    }

    .modalLupaActive .menu.floated .modal {
        z-index: -1;
    }

    .menu.floated {
        top: 0px;
        position: fixed;
        z-index: 10;
    }

    .menu.scroll .containerLupa .modalLupa ul {
        width: calc(100% - 20px);
    }

    .menu .containerLupa .seeAll {
        margin-bottom: 20px;
    }

    .menu.scroll .containerLupa h2,
    .menu.scroll .containerLupa a {
        width: calc(100% - 20px);
    }

    .menu .containerLupa .modalLupa ul li h3 {
        font-size: 12px;
    }

    .menu .containerLupa .modalLupa ul li p {
        font-size: 10px;
    }

    .menu .containerLupa .modalLupa {
        width: 100%;
    }

    .menu .containerLupa .modalLupa .mobile {
        width: 100%;
    }

    .menu.scroll .containerLupa .modalLupa {
        overflow-y: scroll;
    }

    .menu .containerLupa .modalLupa {
        padding: 20px 0px 50px 0px;
        height: calc(100vh - 120px);
    }

    .menu .containerLupa .modalLupa::-webkit-scrollbar {
        width: 8px;
    }

    .menu .containerLupa .modalLupa::-webkit-scrollbar-track {
        background: var(--neutral1);
    }

    .menu .containerLupa .modalLupa::-webkit-scrollbar-thumb {
        background-color: var(--main1);
        border-radius: var(--bigRadius);
    }

    .menu.static {
        display: none;
    }

    body.menuActive .bigLogo.menu .logo {
        transform: translate(calc(50% - 20px), calc(50% + -20px));
    }

    .menu .containerLupa .modalLupa ul li a {
        width: 100%;
        height: 100%;
    }

    .menu .containerLupa .modalLupa ul li figure {
        width: 60px
    }

    .menu .containerLupa .modalLupa ul li {
        width: 100%;
        height: 60px;
        border-radius: var(--lowRadius);
    }

    .modalLupaActive .menu .containerLupa .closeButtonModal {
        position: absolute;
        top: -60px;
        z-index: 11;
        right: 0px;
        opacity: 40%;
    }

    .menu .containerLupa .closeButtonModal:hover {
        opacity: 100%;
    }

    .menu .containerLupa .modalLupa ul li a img {
        border-radius: var(--lowRadius) 0px 0px var(--lowRadius);
    }

    .modalLupaActive .menu .containerLupa {
        transition: var(--transitionSlow);
        box-shadow: 93px 0 0px 241px var(--neutral2);
        border-radius: var(--lowRadius);
        width: calc(100% - 40px);
        margin-right: 20px;
        margin-left: 20px;
        top: 100px;
        position: absolute;
        right: 0px;
        margin-right: 20px;
    }

    .bigLogo.menu .logo {
        width: 52px;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 20px;
        bottom: 0px;
        margin: 0 auto;
    }

    .backgroundMenu .bigLogo.menu .logo {
        width: 44px;
        top: 10px;
    }

    .bigLogo.menu .lupa,
    .bigLogo.menu {
        background-color: transparent
    }

    .menuDrop .bigLogo .lupa,
    .menuDrop .bigLogo {
        background-color: var(--neutral1)
    }

    .backgroundMenu .bigLogo.menu .lupa,
    .backgroundMenu .bigLogo.menu {
        background-color: var(--neutral1)
    }

    .modalMenu {
        width: 100%;
    }

    .menu .containerLupa input,
    .modalLupaActive .menu.static .containerHide,
    .modalLupaActive .menu.floated .containerHide,
    .modalLupaActive .menu .containerLupa .closeLupa {
        background-color: var(--neutral2);
    }
}