* {
    box-sizing: border-box
}

.news .guide .title {
    margin-bottom: 10px;
    font-size: 24px;
}

.news .guide .title h2 {
    margin-bottom: 10px;
}

.news .guide .SumoSelect[is-selected=true]>.CaptionCont>span {
    color: var(--main1);
}

.news .guide .text {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 30px);
}

.news .guide .text h3 {
    font-size: 16px;
}

.news .guide .SumoSelect p {
    border: none;
}

.news .guide .SumoSelect>.CaptionCont>label>i {
    background-image: url(../../../assets/seta-pink.svg);
    margin-left: 30px;
    cursor: pointer;
}

.news .guide .SumoSelect>.optWrapper>.options {
    background-color: var(--neutral6);
    color: var(--neutral1);
    padding: 0px 5px;
}

.news .guide .SumoSelect>.optWrapper>.options li {
    margin: 5px 0px;
    border-radius: var(--lowRadius);
}


.news .guide .SumoSelect>.optWrapper {
    margin-top: 0px;
    width: 180px;
    left: -65px;
}


.news .guide .text .filterAZ {
    display: flex;
    gap: 5px;
    align-items: center;
}

.news .guide .item {
    width: 100%;
    margin-top: 10px;
}

.news .guide .item:hover {
    margin-top: -3px;
}

.news .guide .item h2 {
    margin-bottom: 10px;
    line-height: 1.5em;
    text-transform: uppercase;
}

.news .guide .SumoSelect>.optWrapper>.options li.opt:hover {
    color: var(--neutral7);
}

.news .guide .SumoSelect>.optWrapper>.options li.opt:hover {
    background-color: var(--main1);
}

.news .guide .item a {
    display: block;
    text-decoration: none;
    height: 100%;
}

.news .guide .item figure {
    width: 100%;
    text-decoration: none;
    position: relative;
    margin-bottom: 10px;
}

.news .guide a img {
    object-fit: cover;
    width: 100%;
    border-radius: var(--mediumRadius1);
    height: 100%;
}

.news .guide .listGuide {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 100%;
}

.news .guide button.disabled {
    display: none;
}

.news .guide button {
    width: max-content;
    padding: 18px 20px;
    margin-top: 30px;
    color: var(--neutral6);
    background-color: var(--main1);
    border-radius: var(--lowRadius);
    border: none;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    line-height: 21px;
}

.news .guide button:hover {
    background-color: var(--pinkHover);
    cursor: pointer;
}

.filterSearchMode .news .guide button {
    display: none;
}

@media (max-width: 1024px) {

    .news .guide .item:hover {
        margin-top: 0px;
    }

    .news .guide .listGuide {
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
        margin-bottom: 20px;
    }

    .news .guide .item {
        width: 100%;
        border-radius: var(--lowRadius);
        background-color: var(--neutral5);
        height: 100px;
    }

    .news .guide .item figure {
        width: 130px;
        height: 100%;
        float: left;
        margin-bottom: 0px;
    }

    .news .guide .item div {
        padding: 5px 10px;
        width: calc(100% - 150px);
        float: left;
        overflow: hidden;
    }

    .news .guide button {
        width: 100%;
        margin-bottom: 40px;
        margin-top: 0px;
        font-size: 12px;
    }

    .news .guide .item div h2,
    .news .guide .item div span {
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 0px;
    }

    .news .guide .item h2 {
        line-height: 20px;
    }

    .news .guide .item a img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: var(--lowRadius) 0px 0px var(--lowRadius);
    }

    .news .guide .text .filterAZ p:nth-child(1) {
        position: absolute;
        left: -10000px;
    }
}