.singleNews {
    background-color: var(--neutral2);
}

.singleNews .firstContent {
    display: flex;
    justify-content: center;
    border-radius: 0px 0px var(--bigRadius) var(--bigRadius);
    position: relative;
    height: calc(100vh - 40px);
}

.singleNews .container {
    width: 100%;
    margin: 0px 40px;
    gap: 50px;
}

.singleNews .darkWave {
    position: absolute;
    top: 87px;
    right: -194px;
}

.tag2 {
    position: absolute;
    left: -10000px;
}

@media(max-width: 1024px) {

    .tag2 {
        position: absolute;
        left: 0px;
    }

    .singleNews .container {
        width: 100%;
        gap: 50px;
        margin-bottom: 0px;
        width: calc(100% - 40px);
        height: min-content;
        margin-top: 90px;
    }

    .singleNews .firstContent {
        height: min-content
    }
}