.home .artistHighlights {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.home .artistHighlights .carouselArtists {
    display: flex;
    gap: 5px;
    width: 100%
}

.home .artistHighlights .carouselArtists .item {
    border-radius: var(--mediumRadius1);
    transition: var(--transitionFast);
}

.home .artistHighlights .carouselArtists .item:hover {
    margin-top: -3px;
}

.home .artistHighlights .carouselArtists .item a {
    width: 100%;
    border-radius: var(--mediumRadius1);
    display: block;
    text-decoration: none;
}

.home .artistHighlights .carouselArtists .item a img {
    width: 100%;
    border-radius: var(--mediumRadius1);
    margin-bottom: 20px;
}

.home .artistHighlights .owl-carousel .owl-nav {
    top: -45px;
}

.home .artistHighlights .owl-nav img {
    width: 15px;
    height: 16px;
}

.home .artistHighlights .owl-carousel .owl-stage-outer {
    overflow: visible;
}

@media(max-width: 1024px) {

    .home .artistHighlights .carouselArtists {
        display: flex;
        gap: 5px;
        width: calc(100% - 50px)
    }

    .home .artistHighlights .carouselArtists .item a img {
        margin-bottom: 5px;
        border-radius: var(--mediumRadius2);
    }

    .home .artistHighlights .carouselArtists .item h3 {
        font-size: 10px;
    }
}