.home .together {
    background-color: var(--neutral5);
    border-radius: var(--mediumRadius1);
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-top: 100px;
    position: relative;
    margin-left: 60px;
    margin-right: 60px;
    overflow: hidden;
    padding: 75px 0px 75px 80px;
}


.home .together .backgroundWave {
    position: absolute;
    bottom: -116px;
    background-image: url(../../../assets/onda-community.svg);
    background-repeat: no-repeat;
    background-size: 790px;
    width: 1312px;
    height: 500px;
    background-size: contain;
    left: -52px;
}

.home .together .smokeEffect {
    top: 0px;
    position: absolute;
    transform: translate(0px, -50%);

    height: 50%;
    width: 60px;
    bottom: 50%;
    top: 50%;
    right: -10px;
    z-index: 2;
    background: rgb(242, 242, 242);
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(242, 242, 242, 0) 0%, rgba(237, 237, 237, 0) 0%, rgba(237, 237, 237, 0.74) 56%, rgba(237, 237, 237, 0.76) 56%, rgba(243, 243, 243, 1) 81%, rgba(255, 255, 255, 1) 96%, rgba(255, 255, 255, 1) 96%, rgba(255, 255, 255, 1) 96%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(242, 242, 242, 0) 0%, rgba(237, 237, 237, 0) 0%, rgba(237, 237, 237, 0.74) 56%, rgba(237, 237, 237, 0.76) 56%, rgba(243, 243, 243, 1) 81%, rgba(255, 255, 255, 1) 96%, rgba(255, 255, 255, 1) 96%, rgba(255, 255, 255, 1) 96%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(242, 242, 242, 0) 0%, rgba(237, 237, 237, 0) 0%, rgba(237, 237, 237, 0.74) 56%, rgba(237, 237, 237, 0.76) 56%, rgba(243, 243, 243, 1) 81%, rgba(255, 255, 255, 1) 96%, rgba(255, 255, 255, 1) 96%, rgba(255, 255, 255, 1) 96%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#ffffff', GradientType=1);
}

.home .together .carouselContainer {
    width: calc(50% - 20px);
    display: flex;
    align-self: center;
    z-index: 1;
}

.home .together .owl-carousel .owl-stage-outer {
    padding-top: 10px;
}

.home .together .carouseltogether {
    width: 100%;
}

.home .together .carouseltogether .item a {
    text-decoration: none;
    display: block;
    width: 100%;
}

.home .together .carouseltogether .item {
    width: 100%;
    transition: var(--transitionFast);
}

.home .together .carouseltogether .item:hover {
    margin-top: -3px;
}

.home .together .carouseltogether .item a img {
    margin-bottom: 20px;
    width: 100%;
    object-fit: cover;
    border-radius: var(--mediumRadius1);
}

.home .together .carouseltogether .item a p {
    line-height: 1.5em;
    max-width: 100%;
}

.home .together .text {
    align-self: center;
    display: flex;
    gap: 40px;
    flex-direction: column;
    z-index: 1;
    width: calc(50% - 80px);
}

.home .together .text h2 {
    line-height: 1.33em;
}

.home .together .text h3 {
    line-height: 1.5em;
}

.home .together .text a {
    width: max-content;
    padding: 20px;
    margin-bottom: 5px;
    color: var(--neutral6);
    background-color: var(--main1);
    border-radius: var(--lowRadius);
    text-decoration: none;
    align-self: flex-start;
    margin-bottom: 40px;
}

.home .together .text a:hover {
    background-color: var(--pinkHover);
    cursor: pointer;
}


@media(max-width: 1024px) {
    .home .together {
        flex-direction: column;
        height: min-content;
        gap: 0px;
        margin: 0px;
        border-radius: var(--mediumRadius1);
        padding: 20px;
        padding-bottom: 60px;
        padding-top: 40px;
        margin-bottom: 40px;
    }

    .home .together .owl-carousel .owl-stage-outer {
        overflow: visible;
    }

    .home .together .smokeEffect {
        display: none;
    }

    .home .together .carouselContainer {
        width: 100%
    }

    .home .together .carouseltogether .item a img {
        margin-bottom: 5px;
        border-radius: var(--mediumRadius2);
    }

    .home .together .carouseltogether {
        width: calc(100% - 50px)
    }

    .home .together .text {
        width: 100%;
        gap: 20px;
    }

    .home .together .backgroundWave {
        bottom: -201px;
        width: 1126px;
        left: -256px;
    }

    .home .together .text a {
        margin-bottom: 20px;
        font-size: 12px;
    }

    .home .together .text h2 {
        font-size: 18px;
    }

    .home .together .text h3 {
        font-size: 14px;
    }

    .home .together .carouseltogether .item a p {
        font-size: 10px;
        line-break: strict
    }
}