.home .featuredNews {
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
}

/* hightlightNews */

.home .highlightNews {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.home .highlightNews ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    grid-row-gap: 10px;
    width: 100%;
}

.home .highlightNews ul li {
    width: 100%;
    position: relative;
    height: 280px;
}

.home .highlightNews ul li:hover {
    margin-top: -3px;
}

.home .highlightNews ul li:hover img {
    margin-top: -5px;
    margin-left: -5px;
    width: calc(100% + 10px);
}

.home .highlightNews ul li div {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    bottom: 0px;
    color: var(--neutral6);
    border-radius: 0px 0px var(--mediumRadius1) var(--mediumRadius1);
    gap: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    background: linear-gradient(175deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.048) 0%, rgba(0, 0, 0, 0.507) 56%, rgba(0, 0, 0, 0.507) 56%, rgb(0, 0, 0) 81%, rgb(0, 0, 0) 96%, rgb(0, 0, 0) 96%, rgb(0, 0, 0) 96%)
}

.home .highlightNews ul li div span {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 12px;
    line-height: 1.71em;
}

.home .highlightNews ul li div h3 {
    margin-left: 15px;
    margin-right: 15px;
    line-height: 1.5em;
    font-size: 14px;
}

.home .highlightNews ul li a {
    display: block;
    width: 100%;
    border-radius: var(--mediumRadius2);
    height: 100%;
    overflow: hidden;
}

.home .highlightNews ul li a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* launch */

.home .launch {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.home .launch ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    max-height: 700px;
}

.home .launch li {
    width: 100%;
    border-radius: var(--lowRadius);
    background-color: var(--neutral5);
    height: 100px;
    transition: var(--transitionFast);
}

.home .launch li a {
    height: 100%;
    display: flex;
    gap: 5px;
    text-decoration: none;
}


.home .launch li:hover img {
    margin-top: -5px;
    margin-left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 5px);
}

.home .launch li figure {
    display: flex;
    gap: 5px;
    position: relative;
    width: 130px;
    height: 100%;
    overflow: hidden;
    border-radius: var(--lowRadius) 0px 0px var(--lowRadius);
}

.home .launch li div {
    display: flex;
    flex-direction: column;
    width: calc(100% - 130px);
    padding: 10px;
}

.home .launch li div h3,
.home .launch li div span {
    font-size: 12px;
    line-height: 20px;
}

.home .launch li a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home .featuredWave {
    background-image: url(../../../assets/images/featuredWave.svg);
    background-repeat: no-repeat;
    background-size: 790px;
    position: absolute;
    bottom: 100000px;
    right: -258px;
    width: 790px;
    height: 488px;
    z-index: -1;
    transform: rotate(165deg);
}

@media(min-width: 1024px) {
    .home .featuredNews {
        gap: 40px;
        max-height: 730px;
        justify-content: space-between;
        flex-direction: row;
    }

    .home .highlightNews {
        width: calc(60% - 20px);
        margin-bottom: 0px;
    }

    .home .highlightNews ul li {
        width: 100%;
        height: 320px;
    }

    .home .highlightNews ul li a {
        border-radius: var(--mediumRadius1);
    }

    .home .highlightNews ul li div h3 {
        margin-left: 20px;
        margin-right: 20px;
        line-height: 1.5em;
        font-size: 18px;
    }

    .home .highlightNews ul {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        row-gap: 20px;
        width: 100%;
        max-height: 100%;
    }

    .home .highlightNews ul li div span {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 14px;
    }

    .home .launch li div h3,
    .home .launch li div span {
        font-size: 14px;
        line-height: 20px;
    }

    .home .launch {
        width: 40%;
    }

    .home .launch ul {
        gap: 20px;
        max-height: 100%;
        width: 100%;
        grid-row-gap: 20px
    }

    .home .launch li {
        border-radius: var(--mediumRadius2);
        height: 150px;
    }

    .home .launch li div {
        gap: 10px;
        padding: 15px;
        width: calc(100% - 200px);
    }

    .home .launch li a figure {
        width: 200px;
        height: 100%;
        width: 200px;
        overflow: hidden;
        border-radius: var(--mediumRadius2) 0px 0px 8px;
    }

    .home .launch li a img {
        height: 100%;
        width: 100%;
    }

    .home .featuredWave {
        bottom: -279px;
    }
}