.home .highlightLaunch {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.home .highlightLaunch .content {
    position: relative;
}

.home .extraContent .highlightLaunch .title {
    margin-bottom: 0px;
}

.home .highlightLaunch .content .icon:before {
    margin-top: 2px;
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 10px;
    background-size: 15px;
    background-repeat: no-repeat;
    background-image: url("../assets/images/icone-musica-dark.svg?17072023");
}

.home .highlightLaunch iframe {
    width: calc(25% - 10px);
    height: 100%;
    position: absolute;
    float: left;
    margin-top: 20px;
}

.home .highlightLaunch .carouselContainer {
    width: calc(75% - 10px);
    float: right;
}

.home .highlightLaunch .carouselHighlightLaunch {
    width: 100%
}

.home .highlightLaunch .carouselHighlightLaunch .item {
    border-radius: var(--mediumRadius1);
    position: relative;
    width: 100%;
    transition: var(--transitionFast);
}

.home .highlightLaunch .owl-carousel .owl-stage-outer {
    padding-top: 20px;
}

.home .highlightLaunch .carouselHighlightLaunch .item:hover {
    margin-top: -3px;
}

.home .highlightLaunch .carouselHighlightLaunch .item a {
    border-radius: var(--mediumRadius1);
    display: block;
    text-decoration: none;
}

.home .highlightLaunch .carouselHighlightLaunch .item h3 {
    margin: 15px 0px;
    font-size: 18px;
    font-family: var(--font1);
    line-height: 1.5em;
    color: var(--neutral1);
}

.home .highlightLaunch .carouselHighlightLaunch .item p,
.home .highlightLaunch .carouselHighlightLaunch .item span {
    font-size: 14px;
    font-family: var(--font2);
    line-height: 1.5em;
    color: var(--neutral1);
}

.home .highlightLaunch .carouselHighlightLaunch .item a img {
    width: 100%;
    object-fit: cover;
    border-radius: var(--mediumRadius1);
    margin-bottom: 10px;
    transition: var(--transitionFast);
}

.home .highlightLaunch .owl-carousel .owl-nav {
    top: -30px;
}

.home .highlightLaunch .carouselHighlightLaunch .item .tag {
    font-size: 10px;
}

@media(max-width: 1024px) {
    .home .highlightLaunch .owl-carousel .owl-stage-outer {
        overflow: visible;
    }

    .home .highlightLaunch .carouselHighlightLaunch .item a img {
        border-radius: var(--mediumRadius2);
    }

    .home .highlightLaunch .carouselContainer {
        width: 100%
    }

    .home .highlightLaunch .carouselHighlightLaunch {
        width: calc(100% - 50px)
    }

    .home .highlightLaunch .content {
        flex-direction: column;
        gap: 15px;
    }

    .home .highlightLaunch .content iframe {
        width: 100%;
        position: relative;
        height: 440px;
    }

    .home .highlightLaunch .carouselHighlightLaunch .item h3 {
        font-size: 16px;
        margin: 10px 0px;
    }

    .home .highlightLaunch .carouselHighlightLaunch .item .tag {
        font-size: 8px;
    }

    .home .highlightLaunch .carouselHighlightLaunch .item p,
    .home .highlightLaunch .carouselHighlightLaunch .item span {
        font-size: 12px;
    }

    .home .highlightLaunch .owl-carousel .owl-stage-outer {
        overflow: visible;
    }

    .home .highlightLaunch .carouselHighlightLaunch .item a img {
        border-radius: var(--mediumRadius2);
    }

    .home .highlightLaunch .carouselContainer {
        width: 100%
    }

    .home .highlightLaunch .carouselHighlightLaunch {
        width: calc(100% - 50px)
    }

    .home .highlightLaunch .content {
        flex-direction: column;
        gap: 15px;
    }

    .home .highlightLaunch .content iframe {
        width: 100%;
        position: relative;
        height: 440px;
    }

    .home .highlightLaunch .carouselHighlightLaunch .item h3 {
        font-size: 16px;
        margin: 10px 0px;
    }

    .home .highlightLaunch .carouselHighlightLaunch .item .tag {
        font-size: 8px;
    }

    .home .highlightLaunch .carouselHighlightLaunch .item p,
    .home .highlightLaunch .carouselHighlightLaunch .item span {
        font-size: 12px;
    }
}