.home .launchOnTheSite {
    background-color: var(--neutral5);
    justify-content: space-between;
    display: flex;
    border-radius: var(--mediumRadius1);
    position: relative;
    align-items: center;
    padding: 35px 40px;
    overflow: hidden
}

.home .launchOnTheSite .launchWave {
    position: absolute;
    bottom: -54px;
    background-image: url(../../../assets/onda-lancamento.svg);
    background-repeat: no-repeat;
    background-size: 790px;
    width: 1312px;
    height: 200px;
    background-size: contain;
    right: 16px;
    z-index: 0;
}

.home .launchOnTheSite a {
    padding: 20px;
    background-color: var(--main1);
    border-radius: var(--lowRadius);
    border: none;
    z-index: 1;
    font-size: 14px;
    text-decoration: none;
    display: block;
}

.home .launchOnTheSite a:hover {
    background-color: var(--pinkHover);
}

.home .launchOnTheSite div {
    z-index: 1;
    width: 40%;
}

.home .launchOnTheSite h2 {
    margin-bottom: 20px;
    line-height: 1.30em;
    font-size: 24px;
}

.home .launchOnTheSite p {
    line-height: 1.5em;
    font-size: 16px;
}

@media(max-width: 1024px) {

    .home .launchOnTheSite .launchWave {
        display: none;
    }

    .home .launchOnTheSite {
        flex-direction: column;
        padding: 30px;
    }

    .home .launchOnTheSite div {
        width: 100%;
    }

    .home .launchOnTheSite h2 {
        font-size: 18px;
    }

    .home .launchOnTheSite p {
        margin-bottom: 20px;
        font-size: 14px;
    }

    .home .launchOnTheSite a {
        width: 100%;
        text-align: center;
        font-size: 12px;
    }
}