.events-map .maps {
    width: 50%;
    margin-top: 155px;
    height: 100%;
    position: absolute;
    right: 0px;
}

.events-map .maps iframe {
    height: calc(100vh - 155px);
    position: fixed;
    width: 50%;
}

@media(max-width: 1024px) {
    .events-map .maps {
        width: 100%;
        float: none;
        margin-top: 0px;
        position: relative;
        height: 100vh;
    }


    .events-map .maps iframe {
        height: 100%;
        width: 100%;
    }
}