.search .searchEvents {
    margin-top: 80px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
    z-index: 2;
}

.search .searchEvents h2 {
    font-size: 56px;
}

.search .searchEvents .titleDescription {
    font-size: 16px;
    line-height: 20px;
    width: 75%;
    margin-bottom: 20px;
}

.search .searchEvents form {
    display: grid;
    grid-template-columns: 1fr 1fr 140px;
    gap: 10px;
    width: 100%;
    z-index: 4;
}

.search .searchEvents form div {
    width: 100%;
}

.search .searchEvents form button {
    width: 100%;
    padding: 18px 20px;
    align-self: flex-end;
    color: var(--neutral5);
    background-color: var(--main1);
    border-radius: var(--lowRadius);
    border: none;
    height: 50px;
    font-size: 14px;
    font-family: var(--font1);
    text-transform: uppercase;
}

.search .SumoSelect>.CaptionCont {
    height: 50px;
}

.search .searchEvents form button:hover {
    background-color: var(--pinkHover);
}

.search .searchEvents form input {
    background-color: var(--enutral1);
    border: 3px solid var(--neutral2);
    padding: 14.5px 8px;
    border-radius: var(--lowRadius);
}

.search .searchEvents form input:hover {
    border-color: var(--neutral3)
}

.search .searchEvents form input:focus {
    box-shadow: 0 0 2px var(--neutral7);
    border-color: var(--neutral7);
    outline: 0
}

.searchEvents form .field {
    width: 14%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-content: center;
}

.searchEvents form .name {
    width: 20%;
}

.searchEvents form .placeTip {
    display: flex;
    flex-direction: row;
    gap: 5px;
    position: relative;
}

.searchEvents form .placeTip img {
    width: 15px;
}

.searchEvents form .placeTip .placeTipOpen {
    width: 290px;
    height: 225px;
    padding: 10px 20px;
    background-color: var(--neutral3);
    position: absolute;
    top: -20000px;
    z-index: 3;
    border-radius: var(--mediumRadius1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.placeTipActive .searchEvents form .placeTip .placeTipOpen {
    top: -263px;
    left: -111px;
    transition: var(--transitionMedium);
}

.searchEvents form .placeTip .placeTipOpen .description {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
}

.searchEvents form .placeTip .placeTipOpen p,
.searchEvents form .placeTip .placeTipOpen h4 {
    font-weight: bold;
    line-height: 20px;
}

.searchEvents form .placeTip .placeTipOpen h4 {
    margin-top: 30px;
}


.searchEvents form .placeTip .placeTipOpen .buttonXClose {
    background-color: var(--neutral3);
    position: absolute;
    right: 20px;
    top: 18px;
    width: 20px;
    max-height: min-content;
}

.searchEvents form .placeTip .placeTipOpen .buttonXClose span {
    background-color: var(--greyOpacity);
    max-height: min-content;
}

.searchEvents form .borderTip {
    display: block;
    background-color: var(--neutral3);
    transform: rotate(-45deg);
    padding: 10px 10px;
    position: absolute;
    bottom: -10px;
    right: 160px;
}

.searchEvents form .arrowOff label {
    display: none;
}

.searchEvents .searchModalClose {
    background-color: var(--neutral1);
    position: absolute;
    top: -10000px;
    transition: var(--transitionMedium);
    margin-top: 10px;
}

.searchEvents .searchModalClose span {
    background-color: var(--greyOpacity);
}

.search .searchModalButton {
    width: 105%;
    position: fixed;
    bottom: 0px;
    border: none;
    z-index: 5;
    margin-bottom: 0px
}

.search .searchModalButton:hover {
    background-color: var(--pinkHover);
}

.search .searchModalButton img {
    position: absolute;
    right: 30px;
}

.searchEvents form .field {
    width: 100%;
}

.searchEvents::-webkit-scrollbar {
    width: 8px;
}

.searchEvents::-webkit-scrollbar-track {
    background: var(--neutral1);
}

.searchEvents::-webkit-scrollbar-thumb {
    background-color: var(--main1);
    border-radius: var(--bigRadius);
}

.sumo_place>.optWrapper>.options li.opt label {
    overflow: hidden;
}

.sumo_place>.optWrapper>.options li.opt label:before {
    content: "";
    display: block;
    width: 10px;
    height: 15px;
    float: left;
    margin-right: 10px;
    background-size: 10px;
    background-repeat: no-repeat;
}

.sumo_place>.optWrapper>.options li.opt.lugar label:before {
    background-image: url(../../assets/mini-icone-casa.svg);
}

.sumo_place>.optWrapper>.options li.opt.pais label:before {
    background-image: url(../../assets/mini-icone-pais.svg);
}

.sumo_place>.optWrapper>.options li.opt.estado label:before {
    background-image: url(../../assets/mini-icone-estado.svg);
}

.sumo_place>.optWrapper>.options li.opt.cidade label:before {
    background-image: url(../../assets/mini-icone-local.svg);
}

@media(max-width: 1024px) {

    .search .searchEvents .titleDescription {
        width: 100%;
    }

    .search .searchEvents {
        margin-top: 100px;
    }

    .search .searchEvents h2 {
        font-size: 24px;
    }

    .search .searchEvents p {
        font-size: 14px;
    }

    .search .searchEvents .SumoSelect>.optWrapper>.options {
        max-height: 100px;
    }

    .search .searchEvents {
        border-radius: var(--lowRadius);
        background-color: var(--neutral1);
        z-index: 10;
        border-radius: var(--mediumRadius1);
        margin-bottom: 0px
    }

    .searchEventsModalActive .searchEvents {
        bottom: 0px;
        transition: var(--transitionMedium);
    }

    .search .searchEvents h2 {
        font-size: 24px;
        margin-top: 80px;
    }

    .search .searchEvents .goSearch {
        display: none;
    }

    .search .searchEvents form {
        width: 100%;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        gap: 10px;
        margin-bottom: 20px;
    }

    .search .searchEvents form .field {
        width: 100%;
    }

    .search .searchEvents form label {
        font-size: 14px;
    }

    .search .searchEvents form button {
        margin-top: 40px;
        margin-bottom: 30px;
        width: 100%;
        border: none;
    }

    .searchEvents .searchModalClose {
        right: 20px;
        top: 18px;
    }

    .placeTipActive .searchEvents form .placeTip .placeTipOpen {
        top: -210px;
        left: 0px;
    }

}