* {
    box-sizing: border-box;
}

.page404 {
    margin-bottom: 200px;
}

.page404 .picture {
    width: 100%;
    height: 325px;
    background-image: url(../../assets/images/404.jpg);
    background-size: 600px;
    background-repeat: no-repeat;
    display: block;
    background-position: center;
    margin-bottom: 15px;
    margin-top: 150px;
}

.page404 h1 {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    line-height: 1.5em;
    font-family: var(--font2);
    font-size: 16px;
    color: var(--neutral1);
}

.page404 a {
    width: 210px;
    margin: 0 auto;
    margin-top: 40px;
    background-color: var(--main1);
    color: var(--neutral7);
    font-family: var(--font1);
    font-size: 14px;
    border: none;
    padding: 18px 20px;
    line-height: 21px;
    border-radius: var(--lowRadius);
    text-decoration: none;
    text-align: center;
}

.page404 a:hover {
    background-color: var(--pinkHover);
}

@media(max-width: 1025px) {

    .page404 {
        margin-bottom: 120px;
    }

    .page404 .picture {
        height: 167px;
        background-size: 270px;
    }

    .page404 h1 {
        max-width: calc(100% - 60px);
    }

    .page404 button {
        width: calc(100% - 60px);
        margin-top: 30px;
    }

    .page404 a {
        width: calc(100% - 60px);
        font-size: 12px;
    }


}