.singleNews .info .content {
    width: 100%;
    padding: 40px 40px 0px 40px;
    background-color: var(--neutral7);
    border-radius: var(--bigRadius) var(--bigRadius) 0px 0px;
    position: relative;
}

.singleNews .info .content h2 {
    font-size: 24px;
    margin-bottom: 25px;
    margin-top: 30px;
    width: 100%;
    font-family: "Lato";
    color: var(--neutral1);
    font-weight: bold;
}

.singleNews .info .content h3 {
    font-size: 18px;
    margin-bottom: 25px;
    margin-top: 25px;
    width: 100%;
    font-family: "Lato";
    color: var(--neutral1);
    font-weight: bold;
}

.singleNews .info .content p {
    font-size: 16px;
    margin-bottom: 20px;
    width: 100%;
    font-family: "Lato";
    color: var(--neutral1);
    line-height: 1.5em;
}

.singleNews .info .content a {
    text-decoration: underline;
    color: var(--main1);
    font-family: "Lato";
    line-height: 1.5em;
    font-size: 16px;
}

.singleNews .info .content a:hover {
    color: var(--pinkHover);
    transition: var(--transitionFast);
}

.singleNews .info .content b {
    font-weight: bold;
}

.singleNews .info .content iframe {
    width: 100%;
    margin-top: 30px;
    border-radius: var(--mediumRadius1);
    height: 400px;
}

.singleNews .info .content span {
    font-size: 14px;
    font-weight: bold;
    color: var(--neutral3);
    font-family: "Lato";
    line-height: 1.5em;
    margin-bottom: 20px;
    display: block;
}

.modalContent {
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.2s, top 1s;
}

.modalContent.show {
    top: 0;
    opacity: 1;
}

.modalContent-inner {
    position: relative;
    margin: 60px 200px;
    width: 100%;
}

.modalContent img {
    width: 100%;
    max-height: calc(100vh - 100px);
    border-radius: var(--mediumRadius1);
}

.close-button {
    position: absolute;
    background: none;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    z-index: 12;
    top: -40px;
    right: 0px;
}

.modalContent figcaption {
    position: absolute;
    color: var(--neutral7);
    bottom: -20px;
}

.singleNews .info .content ul {
    list-style: disc;
    margin-left: 20px;
}

.singleNews .info .content li {
    font-size: 16px;
    margin-bottom: 20px;
    width: 100%;
    font-family: "Lato";
    color: var(--neutral1);
    line-height: 1.5em;
}

.singleNews .info .content figure {
    border-radius: var(--mediumRadius1);
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 40px;
}

.singleNews .info .content figure span {
    width: 28px;
    height: 28px;
    border-radius: var(--lowRadius);
    position: absolute;
    background-image: url(../../../../../assets/icone-olho.svg);
    background-position: center;
    background-size: 16px;
    background-repeat: no-repeat;
    display: block;
    background-color: var(--main1);
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.singleNews .info .content figure span:hover {
    background-color: var(--pinkHover);
}

.singleNews .info .content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: var(--mediumRadius1);
}

.singleNews .info .content figcaption {
    font-size: 14px;
    color: var(--neutral3);
    font-family: "Lato";
    line-height: 1.5em;
    margin-bottom: 10px;
}

@media (max-width: 1024px) {
    .singleNews .info .content iframe {
        height: 200px;
        margin-top: 15px
    }
}

@media (max-width: 1024px) {
    .singleNews .info .content {
        padding: 20px 20px 0px 20px;
        border-radius: var(--mediumRadius1) var(--mediumRadius1) 0px 0px;
    }

    .modalContent-inner {
        position: relative;
        margin: 0px 20px;
        margin-bottom: 60px;
    }

    .close-button {
        top: -30px;
    }

    .modalContent img {
        max-height: 400px;
    }

    .singleNews .info .content h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .singleNews .info .content h3 {
        font-size: 16px;
        margin-bottom: 25px;
        margin-top: 25px;
        width: 100%;
        font-family: "Lato";
        color: var(--neutral1);
        font-weight: bold;
    }

    .singleNews .info .content p {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .singleNews .info .content a {
        font-size: 14px;
    }

    .singleNews .info .content span {
        font-size: 12px;
    }

    .singleNews .info .content li {
        font-size: 14px;
    }

    .singleNews .info .content figure {
        margin-top: 15px;
    }

    .singleNews .info .content img {
        margin-bottom: 5px;

    }
}