.singleNews .info {
    width: 50%;
    position: relative;
    background-color: var(--neutral7);
    border-radius: var(--bigRadius) var(--bigRadius) 0px 0px;
}

.singleNews .info .moreInfo {
    margin: 0 auto;
    padding: 18px 20px;
    line-height: 21px;
    color: var(--neutral6);
    background-color: var(--main1);
    border-radius: var(--lowRadius) var(--lowRadius) 0px 0px;
    position: absolute;
    top: -57px;
    border: none;
    z-index: 2;
    left: 0px;
    right: 0px;
    width: 150px;
    background-image: url(../../../../../assets/images/seta-vertical-cima.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right calc(0% + 20px) bottom 55%;
    text-align: initial;
    font-size: 14px;
}

.singleNews .info .moreInfo:hover {
    background-color: var(--pinkHover);
}

@media (max-width: 1024px) {
    .singleNews .info {
        width: 100%;
        min-width: 300px
    }

    .singleNews .info .moreInfo {
        display: none;
    }
}