.singleNews .info .share {
    width: 100%;
    background-color: var(--neutral7);
    overflow: hidden;
    padding: 0px 40px;
    padding-bottom: 60px;
}

.singleNews .info .share h3 {
    font-family: "Lato";
    font-weight: bold;
    font-size: 16px;
    float: left;
    margin-top: 10px;
    margin-right: 20px;
}

.singleNews .info .share nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    float: left;
}

.singleNews .info .share nav a,
.singleNews .info .share nav button {
    padding: 20px;
    display: block;
    background-color: var(--main1);
    border-radius: var(--lowRadius);
    background-size: 20px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    border: none;
    background-position: center;
}

.singleNews .info .share nav a:hover,
.singleNews .info .share nav button:hover {
    background-color: var(--pinkHover);
    transition: var(--transitionFast);
}

.singleNews .info .share nav .link {
    background-image: url(../../../../../assets/icone-link.svg);
}

.singleNews .info .share nav .facebook {
    background-image: url(../../../../../assets/images/icone-facebook.svg);
}

.singleNews .info .share nav .whatsapp {
    background-image: url(../../../../../assets/icone-whatsapp-pink.svg);
}

.singleNews .info .share nav .twitter {
    background-image: url(../../../../../assets/icone-twitter.svg);
}

.singleNews .info .share .border {
    width: 100%;
    border-top: 3px solid var(--neutral5);
    padding-top: 20px;
}

.modal-content {
    position: fixed;
    opacity: 0%;
    z-index: -1;
    bottom: -1000px;
    left: 20px;
    background-color: var(--main1);
    padding: 20px;
    color: var(--neutral7);
    font-family: var(--font2);
    border-radius: var(--lowRadius);
    text-align: center;
    transition: var(--transitionSlow);
}

.modalAlertActive .modal-content {
    bottom: 20px;
    opacity: 100%;
    z-index: 10;
}

#copyLinkMessage {
    margin: 0;
}

@media (max-width: 1024px) {
    .singleNews .info .share {
        padding: 0px 20px;
        padding-bottom: 10px;
    }

    .singleNews .info .share h3 {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .singleNews .info .share nav {
        width: 150px;
    }

    .singleNews .info .share nav a {
        padding: 15px;
        background-size: 15px;
        width: 15px;
        height: 15px;
    }

    .singleNews .info .share nav button {
        padding: 15px;
        background-size: 15px;
        width: 15px;
        height: 15px;
    }
}