.releases .artistHighlights {
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: var(--transitionFast);
}

.filterSearchMode .releases .artistHighlights {
    display: none;
}

.releases .artistHighlights .title {
    margin-bottom: 20px;
    position: relative;
}

.releases .artistHighlights .text {
    display: flex;
    gap: 10px;
    align-items: center;
}

.releases .artistHighlights .text a:hover {
    color: var(--pinkHover);
}

.releases .artistHighlights .carouselArtists .item {
    border-radius: var(--lowRadius);
    transition: var(--transitionFast)
}

.releases .artistHighlights .carouselArtists .item:hover {
    margin-top: -3px;
}

.releases .artistHighlights .carouselArtists .item a {
    width: 100%;
    text-decoration: none;
    display: block;
}

.releases .artistHighlights .carouselArtists .item a img {
    width: 100%;
    border-radius: var(--mediumRadius2);
    margin-bottom: 15px;
}

.releases .artistHighlights .owl-carousel .owl-nav {
    position: absolute;
    top: -45px;
    margin-top: 0px;
}

.releases .artistHighlights .owl-nav img {
    width: 15px;
    height: 16px;
}

.releases .artistHighlights .owl-carousel.owl-drag .owl-item {
    opacity: 0.3;
    transition: var(--transitionFast);
}

.releases .artistHighlights .owl-carousel.owl-drag .owl-item.active {
    opacity: 1;
}

.releases .artistHighlights .owl-carousel .owl-stage-outer {
    overflow: visible;
}

.releases .artistHighlights .text h2 {
    font-size: 18px;
}

.releases .artistHighlights .item h3 {
    font-size: 10px;
}

.releases .artistHighlights .carouselArtists {
    width: calc(100% - 50px);
}

@media(min-width: 1024px) {

    .releases .artistHighlights .carouselArtists .item a img {
        border-radius: var(--mediumRadius1);
        object-fit: cover;
    }

    .releases .artistHighlights .text h2 {
        font-size: 24px;
    }

    .releases .artistHighlights .item h3 {
        font-size: 14px;
    }

    .releases .artistHighlights .carouselArtists {
        width: 100%
    }
}