.releases .lastLaunch {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100%;
}

.filterSearchMode .releases .lastLaunch button {
    display: none;
}

.releases .lastLaunch .title {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;
}

.releases .lastLaunch .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 100%;
}

.releases .lastLaunch .text {
    display: flex;
    gap: 10px;
    align-items: center;
}

.releases .lastLaunch .content .icon:before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 10px;
    background-size: 15px;
    background-repeat: no-repeat;
    background-image: url("../../../assets/images/icone-musica-dark.svg?17072023");
}

.releases .lastLaunch {
    width: 100%
}

.releases .lastLaunch .item {
    padding: 20px;
    background-color: var(--neutral5);
    border-radius: var(--mediumRadius1);
    transition: var(--transitionFast);
}

.releases .lastLaunch .item:hover {
    margin-top: -3px;
}

.releases .lastLaunch .item:hover figure img {
    margin-top: -5px;
    margin-left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 5px);
}

.releases .lastLaunch .item div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.releases .lastLaunch .item div span {
    margin-bottom: 10px;
}

.releases .lastLaunch .item a {
    text-decoration: none;
    display: block;
    height: 100%;
}

.releases .lastLaunch .item figure {
    width: 100%;
    border-radius: var(--mediumRadius2);
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    height: 0px;
    padding-top: 100%;
}

.releases .lastLaunch .item a img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
}

.releases .lastLaunch button {
    align-self: center;
    width: max-content;
    padding: 20px;
    margin-top: 20px;
    color: var(--neutral6);
    background-color: var(--main1);
    border-radius: var(--lowRadius);
    border: none;
}

.releases .lastLaunch button:hover {
    background-color: var(--pinkHover);
    cursor: pointer;
}

.releases .lastLaunch .item div p {
    line-height: 1.5em;
}

@media(max-width: 1024px) {

    .releases .lastLaunch {
        margin-top: 20px;
        gap: 0px;
    }

    .releases .lastLaunch .text h2 {
        font-size: 18px;
    }

    .releases .lastLaunch .item {
        overflow: hidden;
        width: 100%;
        padding: 15px;
        border-radius: var(--mediumRadius2);
    }

    .releases .lastLaunch .item div {
        gap: 5px
    }

    .releases .lastLaunch .item div span {
        margin-top: 5px;
        line-height: 1.5em;
        font-size: 10px;
    }

    .releases .lastLaunch .item div h3 {
        font-size: 14px;
    }

    .releases .lastLaunch .item div p {
        font-size: 14px;
    }

    .releases .lastLaunch .item figure {
        width: 130px;
        min-width: 130px;
        float: left;
        border-radius: 6px;
        margin-right: 20px;
        margin-bottom: 0px;
        height: 130px;
        padding-top: 0px;
    }

    .releases .lastLaunch button {
        font-size: 12px;
    }

    .releases .lastLaunch .item a img {
        margin-bottom: 0px;
        position: relative;
        object-fit: cover;
    }

    .releases .lastLaunch .content {
        grid-template-columns: 1fr;
    }
}