.releases .launchOnTheSite {
    display: flex;
    gap: 30px;
    height: 440px;
}

.filterSearchMode .releases .launchOnTheSite {
    display: none;
}

.releases .launchOnTheSite .content h2 {
    line-height: 1.5em;
}

.releases .launchOnTheSite .content p {
    line-height: 1.5em;
}

.releases .launchOnTheSite .launchWave1 {
    position: absolute;
    top: -346px;
    left: -730px;
    background-image: url(../../../assets/top-wave-releases.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 1000px;
    height: 500px;
}

.releases .launchOnTheSite .launchWave2 {
    right: -453px;
    position: absolute;
    bottom: -314px;
    background-image: url(../../../assets/bottom-wave-releases.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 1000px;
    height: 621px;
    z-index: 0;
}

.releases .launchOnTheSite a {
    padding: 20px;
    background-color: var(--main1);
    border-radius: var(--lowRadius);
    border: none;
    z-index: 1;
    width: max-content;
    text-decoration: none;
    display: block;
}

.releases .launchOnTheSite a:hover {
    background-color: var(--pinkHover);
}

.releases .launchOnTheSite .content {
    border-radius: var(--mediumRadius1);
    background-color: var(--neutral5);
    position: relative;
    z-index: 1;
    width: calc(50% - 15px);
    height: 100%;
    align-items: center;
    display: flex;
    overflow: hidden;
}

.releases .launchOnTheSite iframe {
    width: calc(50% - 15px);
    height: 100%;
    z-index: 1;
}

.releases .launchOnTheSite .content .text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0px 50px;
    z-index: 1;
}

@media(max-width: 1024px) {
    .releases .launchOnTheSite {
        flex-direction: column;
        height: min-content;
    }

    .releases .launchOnTheSite .content {
        width: 100%;
        justify-content: center;
    }

    .releases .launchOnTheSite .content h2 {
        font-size: 18px;
    }

    .releases .launchOnTheSite .content p {
        font-size: 16px;
    }

    .releases .launchOnTheSite button {
        font-size: 12px;
    }

    .releases .launchOnTheSite .content .text {
        margin: 40px;
        gap: 20px;
    }

    .releases .launchOnTheSite iframe {
        height: 440px;
        width: 100%;
    }

    .releases .launchOnTheSite .launchWave1 {
        position: absolute;
        top: -346px;
        left: -730px;
        background-image: url(../../../assets/top-wave-releases.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        width: 1000px;
        height: 500px;
    }

    .releases .launchOnTheSite .launchWave2 {
        bottom: -360px;
    }

    .releases .launchOnTheSite .launchWave1 {
        top: -360px;
    }

    .releases .launchOnTheSite a {
        font-size: 12px;
    }
}