.terms .info .content {
    width: 100%;
    padding: 0px 40px;
    background-color: var(--neutral7);
    border-radius: var(--bigRadius) var(--bigRadius) 0px 0px;
    position: relative;
}

.terms .info .content h2 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 30px;
    width: 100%;
    font-family: "Lato";
    color: var(--neutral1);
    font-weight: bold;
}

.terms .info .content h3 {
    font-size: 18px;
    margin-bottom: 25px;
    margin-top: 25px;
    width: 100%;
    font-family: "Lato";
    color: var(--neutral1);
    font-weight: bold;
}

.terms .info .content p {
    font-size: 16px;
    margin-bottom: 20px;
    width: 100%;
    font-family: "Lato";
    color: var(--neutral1);
    line-height: 1.5em;
}

.terms .info .content a {
    text-decoration: underline;
    color: var(--main1);
    font-family: "Lato";
    line-height: 1.5em;
    font-size: 16px;
}

.terms .info .content b {
    font-weight: bold;
}

.terms .info .content iframe {
    width: 100%;
    margin-top: 30px;
    border-radius: var(--mediumRadius1);
    height: 400px;
}

.terms .info .content span {
    font-size: 14px;
    font-weight: bold;
    color: var(--neutral3);
    font-family: "Lato";
    line-height: 1.5em;
    margin-bottom: 20px;
    display: block;
}

.terms .info .content ul {
    list-style: disc;
    margin-left: 20px;
}

.terms .info .content li {
    font-size: 16px;
    margin-bottom: 20px;
    width: 100%;
    font-family: "Lato";
    color: var(--neutral1);
    line-height: 1.5em;
}

.terms .info .content figure {
    border-radius: var(--mediumRadius1);
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 40px;
}

.terms .info .content figure span {
    width: 28px;
    height: 28px;
    border-radius: var(--lowRadius);
    position: absolute;
    background-image: url(../../../../../assets/icone-olho.svg);
    background-position: center;
    background-size: 16px;
    background-repeat: no-repeat;
    display: block;
    background-color: var(--main1);
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.terms .info .content figure span:hover {
    background-color: var(--pinkHover);
}

.terms .info .content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 10px;
}

.terms .info .content figcaption {
    font-size: 14px;
    color: var(--neutral3);
    font-family: "Lato";
    line-height: 1.5em;
    margin-bottom: 10px;
}

@media (max-width: 1024px) {
    .terms .info .content iframe {
        height: 200px;
        margin-top: 15px
    }
}

@media (max-width: 1024px) {
    .terms .info .content {
        width: 100%;
        padding: 0px 20px;
    }

    .terms .info .content h2 {
        font-size: 20px;
        margin-bottom: 20px;
        margin-top: 45px;
    }

    .terms .info .content h3 {
        font-size: 16px;
        margin-bottom: 25px;
        margin-top: 25px;
        width: 100%;
        font-family: "Lato";
        color: var(--neutral1);
        font-weight: bold;
    }

    .terms .info .content p {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .terms .info .content a {
        font-size: 14px;
    }

    .terms .info .content span {
        font-size: 12px;
    }

    .terms .info .content li {
        font-size: 14px;
    }

    .terms .info .content figure {
        margin-top: 15px;
    }

    .terms .info .content img {
        margin-bottom: 5px;

    }
}