.terms .info {
    width: 50%;
    position: relative;
    background-color: var(--neutral7);
    border-radius: var(--bigRadius) var(--bigRadius) 0px 0px;
    margin-top: 40px;
}

.terms .info .moreInfo {
    margin: 0 auto;
    padding: 15px;
    color: var(--neutral6);
    background-color: var(--main1);
    border-radius: var(--mediumRadius1) var(--mediumRadius1) 0px 0px;
    position: absolute;
    top: -47px;
    border: none;
    z-index: 2;
    left: 0px;
    right: 0px;
    width: 130px;
    background-image: url(../../../../../assets/images/seta-vertical-cima.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right 11% bottom 55%;
    text-align: initial;
}

.terms .info .moreInfo:hover {
    background-color: var(--pinkHover);
}

.terms .beforeMobile {
    position: absolute;
    top: -10000px;
}

@media (max-width: 1024px) {
    .terms .info {
        width: 100%;
        min-width: 300px;
        margin-top: -15px;
        border-radius: 0px;
    }

    .terms .info .moreInfo {
        display: none;
    }

    .terms .beforeMobile {
        position: relative;
        height: 200px;
        top: 0px;
        border-radius: 0px 0px var(--mediumRadius1) var(--mediumRadius1);
        z-index: 5;
    }
}