.search .emphasis {
    width: 100%;
    height: min-content;
    margin-bottom: 40px;
    position: relative;
}

.search .emphasis .title {
    display: flex;
    gap: 10px;
    align-items: center;
}

.search .emphasis .carouselEvents .text h2,
.search .emphasis .carouselEvents .text p {
    color: var(--neutral1);
}

.search .emphasis .title h3 {
    font-size: 18px;
}

.search .emphasis .title p {
    font-size: 14px;
}

.search .emphasis .carouselEvents .item {
    background-color: var(--neutral5);
}

.search .emphasis .carouselEvents .item .calendar {
    background-color: var(--neutral4);
}

.search .emphasis .music:before {
    background-image: url("../../../assets/images/icone-musica-dark.svg?17072023");
}

.search .emphasis .star:before {
    background-image: url("../../../assets/images/icone-estrela-dark.svg?17072023");
}

.search .emphasis .house:before {
    background-image: url("../../../assets/images/icone-casa-dark.svg?17072023");
    margin-top: 2px;
}

.search .emphasis .location:before {
    background-image: url("../../../assets/images/icone-localizacao-dark.svg?17072023");
    margin-top: -2px;
}

.search .emphasis .calendar:before {
    background-image: url("../../../assets/images/icone-calendario-dark.svg?17072023");
}


@media (max-width: 1024px) {

    .search .emphasis {
        margin-bottom: 20px;
    }

    .search .emphasis .carouselEvents .text h2 {
        margin-left: 5px;
    }

    .search .emphasis .carouselEvents .item {
        flex-direction: row;
        height: 160px;
        padding: 15px;
        min-height: 160px;
        border-radius: var(--mediumRadius2);
    }

    .search .emphasis .carouselEvents .text .star,
    .search .emphasis .carouselEvents .text .music {
        display: none;
    }

    .search .emphasis .carouselEvents .text .calendar {
        bottom: 15px;
    }

    .search .emphasis .carouselEvents .text .iconWrapper {
        flex-direction: column;
        align-self: baseline;
        margin-left: 5px;
    }

    .search .emphasis .carouselEvents .text {
        gap: 0px;
        width: calc(100% - 140px);
    }

    .search .emphasis .carouselEvents .item figure {
        width: 130px;
        padding: 0px;
        height: 100%;
        border-radius: 6px;
    }

    .search .emphasis .carouselEvents a img {
        width: 100%;
        height: 100%;
    }

    .emphasis .carouselEvents a {
        flex-direction: row;
        height: 100%;
    }

    .search .emphasis .house:before {
        margin-top: 0px;
    }

    .search .emphasis .location:before {
        margin-top: -4px;
    }
}