.search .lastLaunch {
    width: 100%;
    position: relative;
    margin-bottom: 50px;
}

.filterSearchMode .search .lastLaunch button {
    display: none;
}

.search .lastLaunch .title {
    display: flex;
    gap: 10px;
    align-items: center;
}

.search .lastLaunch .title h3 {
    font-size: 18px;
}

.search .lastLaunch .title p {
    font-size: 14px;
}

.search .lastLaunch .carouselLaunch {
    width: 100%;
    position: relative;
}

.search .lastLaunch .text {
    display: flex;
    gap: 10px;
    align-items: center;
}

.search .lastLaunch .carouselLaunch .icon:before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 10px;
    background-size: 15px;
    background-repeat: no-repeat;
    background-image: url("../../../assets/images/icone-musica-dark.svg?17072023");
}

.search .lastLaunch .item {
    padding: 15px;
    background-color: var(--neutral5);
    border-radius: var(--mediumRadius1);
    height: min-content;
    width: 100%;
    transition: var(--transitionFast);
}

.search .lastLaunch .item:hover {
    margin-top: -3px;
}

.search .lastLaunch .item:hover img {
    margin-top: -5px;
    margin-left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 5px);
}

.search .lastLaunch .item a {
    width: 100%;
    display: block;
    text-decoration: none;
}

.search .lastLaunch .item div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.search .lastLaunch .item div span {
    margin-top: 20px
}

.search .lastLaunch .item div span,
.search .lastLaunch .item div p {
    font-size: 14px;
    line-height: 20px;
}

.search .lastLaunch .item figure {
    width: 100%;
    border-radius: var(--mediumRadius2);
    padding-top: 100%;
    position: relative;
    height: 0px;
    overflow: hidden;
}

.search .lastLaunch .item a img {
    position: absolute;
    top: 0px;
}

.search .lastLaunch .owl-carousel .owl-stage-outer {
    overflow: visible;
}

.search .lastLaunch .owl-carousel .owl-nav {
    top: -40px;
}

@media(max-width: 1024px) {

    .search .lastLaunch .item div span {
        margin-top: 5px
    }

    .search .lastLaunch .carouselLaunch {
        width: calc(100% - 50px);
    }

    .search .lastLaunch {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .search .lastLaunch .item {
        height: min-content;
        border-radius: var(--mediumRadius2);
    }

    .search .lastLaunch .item a {
        flex-direction: row;
        display: flex;
    }

    .search .lastLaunch .item figure {
        padding-top: 0px;
        width: 130px;
        height: 130px;
        margin-right: 10px;
        border-radius: 6px;
    }

    .search .lastLaunch .item div {
        gap: 5px;
        width: calc(100% - 140px);
    }

    .search .lastLaunch .item div span {
        margin-bottom: 10px
    }
}