.search .together {
    position: relative;
    margin-bottom: 65px;
}

.search .together .title {
    display: flex;
    gap: 10px;
    align-items: center;
}

.search .together .owl-carousel .owl-nav {
    top: -40px;
}

.search .together .title h3 {
    font-size: 18px;
}

.search .together .title p {
    font-size: 14px;
}

.search .together .title h2 {
    margin-bottom: 10px;
}

.search .together .text {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 30px);
}

.search .together .text h3 {
    font-size: 16px;
}

.search .together .item {
    width: 100%;
    transition: var(--transitionFast);
}

.search .together .item:hover {
    margin-top: -3px
}

.search .together .item div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    gap: 5px;
}

.search .together .item h2 {
    line-height: 20px;
}

.search .together .item a {
    width: 100%;
    border-radius: var(--lowRadius);
    text-decoration: none;
    position: relative;
    display: block;
    text-decoration: none;
}

.search .together a img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: var(--mediumRadius1);
    margin-bottom: 10px;
}

.search .together .carouselCommnunity {
    width: 100%;
    position: relative;
}

.search .together .owl-carousel .owl-stage-outer {
    overflow: visible;
}

@media (max-width: 1024px) {

    .search .together .carouselCommunity {
        width: calc(100% - 50px);
    }

    .search .together {
        margin-bottom: 70px;
    }

    .search .together .item h2 {
        font-size: 10px;
    }

    .search .together a img {
        margin-bottom: 5px;
        border-radius: var(--mediumRadius2);
    }
}