footer .sugestions {
    display: flex;
    gap: 30px;
    margin-top: 70px;
    margin-bottom: 100px;
    position: relative;
}

footer .sugestions .card {
    width: calc(50% - 30px);
    position: relative;
    z-index: 1;
}

footer .sugestions .card img {
    width: 100%;
    height: 100%;
    border-radius: var(--mediumRadius1);
}

footer .sugestions .card .content {
    max-height: 60%;
    position: absolute;
    border-radius: 0px 0px var(--mediumRadius1) var(--mediumRadius1);
    width: 100%;
    padding-bottom: 50px;
    padding-top: 20px;
    bottom: 0px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(33, 30, 30, 1) 89%);
}

footer .sugestions .card .content h2,
footer .sugestions .card .content p,
footer .sugestions .card .content a {
    width: calc(100% - 60px);
    margin-left: 20px;
}

footer .sugestions .card .content h2,
footer .sugestions .card .content p {
    line-height: 1.5em;
    margin-bottom: 10px;
}

footer .sugestions .card .content a {
    width: 185px;
    padding: 18px 20px;
    background-color: var(--main1);
    border: none;
    margin-top: 10px;
    border-radius: var(--lowRadius);
    text-decoration: none;
    text-align: center;
    display: block;
    line-height: 21px;
}

footer .sugestions .card .content a:hover {
    background-color: var(--pinkHover);
}

@media(max-width: 1024px) {

    footer .sugestions {
        align-content: center;
        height: 190px;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    footer .sugestions .footerSearch {
        display: none
    }

    footer .sendEventImg {
        position: absolute;
        left: -10000px;
    }

    footer .sugestions .card .content {
        top: 0px;
        height: min-content;
        padding: 0px;
        height: 100%;
        max-height: 100%;
    }

    footer .sugestions .card {
        width: 100%
    }

    footer .sugestions .card .content h2 {
        font-size: 18px;
    }

    footer .sugestions .card .content p {
        color: var(--neutral3)
    }

    footer .sugestions .card .content a {
        font-size: 12px;
    }

    footer .sugestions .card .content h2,
    footer .sugestions .card .content p,
    footer .sugestions .card .content a {
        width: 100%;
        margin: 0px;
        margin-top: 20px;
    }
}