* {
    box-sizing: border-box;
}

.event .firstContent {
    background-color: var(--neutral2);
    display: flex;
    justify-content: center;
    position: relative;
}

.event .container {
    width: 100%;
    gap: 50px;
}

.event .darkWave {
    position: absolute;
    top: 87px;
    right: -194px;
}

.discountModal {
    position: fixed;
    top: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 15;
    opacity: 0;
    transition: opacity 0.2s, top 1s;
}

.discountModal.show {
    top: 0;
    opacity: 1;
}

.discountModal div {
    position: relative;
    background-color: var(--neutral1);
    width: 530px;
    height: max-content;
    padding: 60px 40px 40px 40px;
    border-radius: var(--mediumRadius1);
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.discountModal div .closeDiscount {
    background-color: var(--neutral1);
    position: absolute;
    right: 20px;
    top: 20px;
    width: 20px;
    height: 30px;
    background-image: url(../../../assets/botao-lupa-X.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    opacity: 40%;
    transition: var(--transitionFast);
    border: none;
}

.discountModal div .closeDiscount:hover {
    opacity: 100%;
}

.discountModal div h2 {
    font-size: 24px;
    text-align: center;
    font-family: var(--font1);
    line-height: 1.30em;
    color: var(--neutral7);
    margin-bottom: 20px;
    text-transform: uppercase;
}

.discountModal div h3 {
    font-size: 36px;
    text-align: center;
    font-family: var(--font1);
    line-height: 1.30em;
    color: var(--main1);
    text-transform: uppercase;
    padding: 20px;
    border: 3px solid var(--neutral3);
    border-style: dashed;
    border-radius: var(--mediumRadius1);
    margin-bottom: 15px;
}

.discountModal div p {
    font-size: 16px;
    font-family: var(--font2);
    line-height: 1.5em;
    color: var(--neutral3);
    margin-bottom: 15px;
}

.discountModal div .nextDiscount {
    width: 100%;
    padding: 18px 20px;
    line-height: 21px;
    background-color: var(--main1);
    border-radius: var(--lowRadius);
    color: var(--neutral7);
    text-transform: uppercase;
    font-size: 14px;
    font-family: var(--font1);
    border: none;
    margin-bottom: 20px;
    transition: var(--transitionFast);
}

.discountModal div .nextDiscount:hover {
    background-color: var(--pinkHover);
}

.discountModal div span {
    line-height: 1.5em;
    color: var(--neutral7);
    font-size: 14px;
    font-family: var(--font2);
    margin-bottom: 20px;
}

@media(max-width: 1024px) {
    .event .container {
        width: 100%;
        gap: 50px;
        margin-bottom: 0px;
        width: 100%
    }

    .discountModal div {
        width: 100%;
        height: 100%;
        transform: translate(-50%, 0%);
        padding: 60px 20px 40px 20px;
        border-radius: var(--mediumRadius1) var(--mediumRadius1) 0px 0px
    }

    .discountModal div h2 {
        font-size: 16px;
    }

    .discountModal div h3 {
        font-size: 24px;
    }

    .discountModal div .nextDiscount {
        font-size: 12px;
    }
}