.releases .highlightLaunch {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100%;
    margin: 80px 0px;
}

.filterSearchMode .releases .highlightLaunch {
    display: none;
}

.releases .highlightLaunch .title {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;
}

.releases .highlightLaunch .text {
    display: flex;
    gap: 10px;
    align-items: center;
}

.releases .highlightLaunch .content .icon:before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 10px;
    background-size: 15px;
    background-repeat: no-repeat;
    background-image: url("../../../assets/images/icone-musica.svg?17072023");
}

.releases .highlightLaunch .carouselHighlightLaunch {
    width: 100%
}

.releases .highlightLaunch .carouselHighlightLaunch .item {
    border-radius: var(--mediumRadius1);
    height: min-content;
    position: relative;
    transition: var(--transitionFast);
}

.releases .highlightLaunch .carouselHighlightLaunch .item:hover {
    margin-top: -3px;
}

.releases .highlightLaunch .carouselHighlightLaunch .item h3 {
    margin-top: 15px;
    margin-bottom: 10px;
}

.releases .highlightLaunch .carouselHighlightLaunch .item a {
    text-decoration: none;
    display: block;
}

.releases .highlightLaunch .carouselHighlightLaunch .item figure {
    width: 100%;
    border-radius: var(--mediumRadius2);
    margin-bottom: 5px;
}

.releases .highlightLaunch .carouselHighlightLaunch .item a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--mediumRadius1);
    margin-bottom: 15px;
}

.releases .highlightLaunch .owl-carousel .owl-nav {
    position: absolute;
    top: -63px;
    margin-top: 0px;
}

.releases .highlightLaunch .owl-nav img {
    width: 15px;
    height: 16px;
}

.releases .highlightLaunch .owl-carousel.owl-drag .owl-item {
    opacity: 0.3;
    transition: var(--transitionFast);
}

.releases .highlightLaunch .owl-carousel.owl-drag .owl-item.active {
    opacity: 1;
}

.releases .highlightLaunch .owl-carousel .owl-stage-outer {
    overflow: visible;
}

@media(max-width: 1024px) {
    .releases .highlightLaunch .content iframe {
        width: 100%;
    }

    .releases .highlightLaunch .carouselHighlightLaunch {
        width: calc(100% - 50px)
    }

    .releases .highlightLaunch {
        margin-top: 100px;
        margin-bottom: 20px;
        gap: 0px;
    }

    .releases .highlightLaunch .content .item span,
    .releases .highlightLaunch .content .item h3,
    .releases .highlightLaunch .content .item p {
        font-size: 12px;
    }

    .releases .highlightLaunch .carouselHighlightLaunch .item {
        width: 100%;
    }

    .releases .highlightLaunch .carouselHighlightLaunch .item a img {
        border-radius: var(--mediumRadius2);
    }

    .releases .highlightLaunch .text h2 {
        font-size: 18px;
    }

}