* {
    box-sizing: border-box;
}

.releases .firstContent {
    background-color: var(--neutral1);
    display: flex;
    justify-content: center;
    border-radius: 0px 0px var(--bigRadius) var(--bigRadius);
    position: relative;
}

.releases .container {
    width: calc(100% - 120px);
    gap: 50px;
    margin-top: 50px;
}

.releases .darkWave {
    position: absolute;
    top: 87px;
    right: -194px;
}

.filterSearchMode .container {
    width: calc(100% - 80px);
}


@media(max-width: 1024px) {
    .releases .container {
        width: calc(100% - 40px);
        gap: 50px;
        margin-top: 20px;
    }

    .releases .firstContent {
        border-radius: 0px 0px var(--mediumRadius1) var(--mediumRadius1);
    }

    .filterSearchMode .container {
        width: calc(100% - 40px);
    }

    .releases .darkWave {
        display: none;
    }

}