.releases .searchTool {
    margin-top: 40px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
}

.releases .searchTool form {
    grid-template-columns: 1fr 1fr 1fr 1fr 140px;
}

.filterSearchMode .releases .searchTool h2 {
    display: none;
}

.releases .searchTool h2 {
    margin-bottom: 20px;
}

.releases .searchModalButton {
    position: absolute;
    bottom: 10000px;
}

@media(max-width: 1024px) {

    .releases .searchTool {
        border-radius: var(--mediumRadius1) var(--mediumRadius1) 0px 0px;
        position: fixed;
        left: 0px;
        right: 0px;
        bottom: -10000px;
        background-color: var(--neutral1);
        z-index: 12;
        margin-bottom: 0px;
        overflow: scroll;
        max-height: 100%;
    }

    .searchEventsModalActive .searchTool {
        bottom: 0px;
        transition: var(--transitionMedium);
    }

    .releases .searchModalButton {
        width: 100%;
        position: fixed;
        bottom: 0px;
        right: 0px;
        border: none;
        z-index: 5;
        margin-bottom: 0px;
        text-align: start;
        border-radius: var(--lowRadius) var(--lowRadius) 0px 0px;
    }

    .modalLupaActive .releases .searchModalButton {
        bottom: 10000px;
    }

    .releases .searchTool h2 {
        font-size: 18px;
        margin: 50px 0px 20px 20px;
    }

    .releases .searchTool .searchModalClose {
        right: 20px;
        top: 18px;
    }

    .releases .searchTool form {
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        width: calc(100% - 40px);
    }

    .releases .searchTool form .go {
        margin-top: 40px;
        margin-bottom: 30px;
        width: 100%;
        border: none;
    }

}