.about .contact {
    width: 720px;
    margin: 0 auto;
    margin-bottom: 100px;
    z-index: 1;
}

.about .contact h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

.about .contact .title2 {
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 1.25em;
}

.about .contact label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
}

.about .contact label a:hover {
    transition: var(--transitionFast);
    color: var(--pinkHover);
}

.about .contact span {
    font-size: 18px;
    color: var(--main1);
    font-weight: bold;
}

.about .contact input {
    box-sizing: border-box;
    margin-top: 5px;
    padding: 20px;
    border-radius: var(--lowRadius);
    border: 3px solid var(--neutral4);
    margin-bottom: 25px;
    width: 100%;
}

.about .contact form {
    width: 100%;
}

.about .contact .containerForm {
    width: 100%;
    overflow: hidden;
}

.about .contact .name {
    width: calc(50% - 10px);
    float: left;
    margin-right: 20px;
}

.about .contact .email {
    width: calc(50% - 10px);
    float: left;
}

.about .contact #checkTerms {
    width: min-content;
}

.about .contact .checkLabel {
    display: block;
    position: relative;
    padding-left: 35px;
    font-size: 12px;
    cursor: pointer;
    line-height: 1.5em;
}

.about .contact .checkLabel input {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    left: 5px;
    top: -5px;
    height: 30px;
    z-index: 2;
}

.about .contact .check {
    left: 0;
    top: -4px;
    width: 25px;
    height: 25px;
    background-color: var(--neutral7);
    position: absolute;
    border-radius: var(--lowRadius);
    border: 3px solid var(--neutral4);
}

.about .contact .checkLabel input:checked~.check {
    background-color: var(--main1);
    border: 3px solid var(--main1);
}

.about .contact .checkLabel .check:after {
    top: 1px;
    left: 6px;
    width: 5px;
    height: 10px;
    border: solid var(--neutral7);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.about .check:after {
    content: "";
    position: absolute;
    display: none;
}

.about .contact .checkLabel input:checked~.check:after {
    display: block;
}

.about .contact .message {
    height: 120px;
    box-sizing: border-box;
    margin-top: 5px;
    padding: 20px;
    border-radius: var(--lowRadius);
    border: 3px solid var(--neutral4);
    margin-bottom: 25px;
    width: 100%;
}

.about .contact .checkLabel a {
    color: var(--main1);
    text-decoration: underline;
}

.about .contact button {
    margin-top: 20px;
    padding: 18px 20px;
    line-height: 21px;
    color: var(--neutral6);
    background-color: var(--main1);
    border-radius: var(--lowRadius);
    border: none;
    float: right;
    font-size: 14px;
}

.about .contact button:hover {
    background-color: var(--pinkHover);
}

.about .contact .SumoSelect.open p {
    border: 3px solid var(--neutral1);
}

.about .SumoSelect>.optWrapper>.options li.opt:hover {
    color: var(--neutral7);
    background-color: var(--main1);
}

.about .SumoSelect.open>.CaptionCont,
.about .SumoSelect:focus>.CaptionCont,
.about .SumoSelect:hover>.CaptionCont:hover {
    box-shadow: none;
    border-color: var(--neutral3)
}

.about .contact .SumoSelect p {
    border: 3px solid var(--neutral4);
    color: var(--neutral3);
    padding: 20px;
    background-color: var(--neutral7);
}

.about .SumoSelect[is-selected=true]>.CaptionCont>span {
    color: var(--neutral1);
}

.about .contact .SumoSelect {
    margin-top: 5px;
    margin-bottom: 25px;
}

.about .contact .SumoSelect span {
    color: var(--neutral3);
    font-family: "Lato";
    font-size: 14px;
    font-weight: 400;
}

.about .contact .SumoSelect>.CaptionCont>label {
    margin-bottom: 0px;
}

.about .contact .SumoSelect.open>.CaptionCont>label>i {
    background-image: url(../../../assets/seta-vertical-cima-dark.svg);
}

.about .contact .SumoSelect>.CaptionCont>label>i {
    background-image: url(../../../assets/seta-vertical-baixo-dark.svg);
}

.about .contact .SumoSelect>.optWrapper>.options {
    background-color: var(--neutral6);
    color: var(--neutral1);
    padding: 0px 5px;
}

.about .contact .SumoSelect>.optWrapper>.options li {
    margin: 5px 0px;
    border-radius: var(--lowRadius);
}

.about .contact .SumoSelect>.optWrapper {
    margin-top: 0px;
    top: 72px;
    border-radius: var(--lowRadius);
    width: 100%
}

.about .contact .SumoSelect>.optWrapper>.options>li.opt:first-child {
    border-radius: var(--lowRadius);
}

.about .contact .SumoSelect>.optWrapper>.options>li.opt:last-child {
    border-radius: var(--lowRadius);
}

@media(max-width: 1024px) {
    .about .contact h2 {
        font-size: 18px;
    }

    .about .contact p {
        font-size: 14px;
    }

    .about .contact {
        margin-bottom: 60px;
        width: 100%;
    }

    .about .contact button {
        width: 100%;
        margin-top: 20px;
        font-size: 12px;
    }

    .about .contact .containerForm div {
        float: none;
        width: 100%;
    }

    .about .contact input {
        margin-bottom: 10px;
    }

    .about .contact .SumoSelect {
        margin-bottom: 10px;
    }

    .about .contact .message {
        margin-bottom: 10px;
    }
}