.about .extraContent {
    width: 100%;
    border-radius: var(--bigRadius) var(--bigRadius) 0px 0px;
    box-shadow: 10px -44px 0px 70px rgba(33, 30, 30, 1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.about .containerExtra {
    display: flex;
    justify-content: center;
    width: calc(100% - 80px);
    flex-direction: column;
    align-self: center;
}

.about .extraContent .wave1 {
    background-image: url(../../../assets/onda-about-form1.svg);
    background-repeat: no-repeat;
    background-size: 790px;
    width: 790px;
    height: 790px;
    position: absolute;
    transform: rotate(9deg);
    bottom: 154px;
    left: -407px;
}

.about .extraContent .wave2 {
    width: 790px;
    height: 790px;
    background-image: url(../../../assets/onda-about-form2.svg);
    background-repeat: no-repeat;
    background-size: 790px;
    position: absolute;
    transform: rotate(-119deg);
    bottom: 232px;
    right: -547px;
}

@media(max-width: 1024px) {

    .about .extraContent {
        border-radius: var 10px 0px 0px;
    }

    .about .containerExtra {
        width: calc(100% - 40px);
    }

    .about .extraContent .wave2 {
        background-image: none;
    }

    .about .extraContent .wave1 {
        background-image: none;
    }
}