.about .launchOnTheSite {
    background-color: var(--neutral5);
    justify-content: space-between;
    display: flex;
    border-radius: var(--mediumRadius1);
    position: relative;
    align-items: center;
    padding: 40px;
    overflow: hidden;
}

.about .launchOnTheSite .launchWave {
    position: absolute;
    top: 40px;
    background-image: url(../../../assets/onda-lancamento.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 1393px;
    height: 300px;
    right: 12px;
}

.about .launchOnTheSite a {
    padding: 18px 20px;
    line-height: 21px;
    background-color: var(--main1);
    border-radius: var(--lowRadius);
    border: none;
    float: right;
    z-index: 2;
    position: relative;
    display: block;
    text-decoration: none;
    text-align: center;
    align-self: flex-start
}

.about .launchOnTheSite a:hover {
    background-color: var(--pinkHover);
}

.about .launchOnTheSite div {
    width: 40%;
}

.about .launchOnTheSite h2 {
    margin-bottom: 10px;
    line-height: 27px;
}

.about .launchOnTheSite p {
    line-height: 25px;
}

.about .launchOnTheSite .waveLaunch2 {
    left: -10000px;
    position: absolute;

}

.about .launchOnTheSite .waveLaunch1 {
    right: -10000px;
    position: absolute;
}

@media(max-width: 1024px) {
    .about .launchOnTheSite {
        flex-direction: column;
        padding: 30px;
    }

    .about .launchOnTheSite .launchWave {
        top: -100000px;
    }

    .about .launchOnTheSite .waveLaunch2 {
        background-image: url(../../../assets/onda-about-launch1.svg);
        z-index: 1;
        width: 530px;
        height: 250px;
        background-size: 530px;
        background-repeat: no-repeat;
        top: -2px;
        left: -40px;
    }

    .about .launchOnTheSite a {
        font-size: 12px;
    }

    .about .launchOnTheSite .waveLaunch1 {
        background-image: url(../../../assets/onda-about-launch2.svg);
        bottom: -19px;
        right: 1px;
        z-index: 1;
        width: 530px;
        height: 250px;
        background-repeat: no-repeat;
        background-size: 530px;
        transform: rotate(175deg);
    }

    .about .launchOnTheSite div {
        width: 100%;
        position: relative;
        z-index: 2;
    }

    .about .launchOnTheSite p {
        margin-bottom: 20px;
    }

    .about .launchOnTheSite button {
        float: left;
    }
}