.about .partners {
    width: 100%;
    margin-bottom: 100px;
}

.about .partners h2 {
    font-size: 36px;
    position: relative;
    margin-bottom: 20px;
}

.about .partners a {
    font-size: 36px;
    width: 100%;
    overflow: hidden;
    display: block;
    border-radius: var(--mediumRadius1);
    border: 1px solid var(--neutral4);
    padding: 40px;
    height: 140px;
    display: flex;
}

.about .partners .carouselPartners {
    width: calc(100% - 50px);
}

.about .partners .carouselPartners .item:hover {
    margin-top: -3px;
}

.about .partners .carouselPartners .item {
    transition: var(--transitionFast);
}

.about .partners .carouselPartners .item img {
    object-fit: contain;
}

.about .partners .owl-carousel .owl-nav {
    position: absolute;
    top: -45px;
    right: 0px;
    margin-top: 0px;
}

.about .partners .owl-nav img {
    width: 15px;
    height: 16px;
}

.about .partners .owl-carousel.owl-drag .owl-item {
    opacity: 0.3;
    transition: var(--transitionFast)
}

.about .partners .owl-carousel.owl-drag .owl-item.active {
    opacity: 1;
}

.about .partners .owl-carousel .owl-stage-outer {
    overflow: visible;
}

@media(max-width: 1024px) {
    .about .partners h2 {
        font-size: 18px;
    }

    .about .partners a {
        padding: 20px;
        height: 65px;
    }

    .about .partners {
        margin-bottom: 60px;
    }
}