.send {
    background-color: var(--neutral2);
    width: 50%;
    margin-top: 120px;
    background-image: url(../../assets/onda-formulario-lancamento.svg);
    background-size: 630px;
    background-position: 142% 0%;
    background-repeat: no-repeat;
    height: 100%;
}

.send .container {
    margin: 40px 120px;
    width: calc(100% - 240px);
}

.send h1 {
    line-height: 1.20em;
    font-family: var(--font1);
    font-size: 56px;
    color: var(--neutral7);
    text-align: center;
    margin-bottom: 40px;
}

.send .containerItem {
    width: 100%;
    margin-bottom: 35px;
    background-color: var(--neutral1);
    height: 390px;
    position: relative;
    display: flex;
    border-radius: var(--mediumRadius1);
}

.send .item {
    width: 261px;
    height: 430px;
    background-color: var(--greyOpacity);
    padding: 20px;
    border-radius: var(--mediumRadius1);
    margin: 0 auto;
    position: relative;
    align-self: center;
}

.send .item figure {
    width: 100%;
    position: relative;
    height: 230px;
    background-color: var(--neutral3);
    border-radius: var(--mediumRadius1);
    background-image: url(../../assets/form/no-img2.svg);
    background-size: 65px;
    background-repeat: no-repeat;
    display: block;
    background-position: center;
}

.send .text h2 {
    font-family: var(--font1);
    color: var(--neutral7);
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.send .text p {
    font-family: var(--font2);
    color: var(--neutral7);
    font-size: 14px;
    float: left;
}

.send .calendar {
    background-color: var(--neutral3);
    position: absolute;
    bottom: 20px;
    padding: 5px;
    border-radius: var(--lowRadius);
}

.send .text img {
    float: left;
    margin-right: 5px;
}

.send .text div {
    margin-top: 10px;
    overflow: hidden;
    color: var(--neutral7);
    display: flex;
    align-items: center;
}

.send .instructions {
    font-family: var(--font2);
    font-size: 24px;
    line-height: 1.5em;
    margin-top: 35px;
    text-align: center;
    color: var(--neutral7);
}

@media(max-width: 1024px) {
    .send {
        width: 100%;
        margin-top: 0px;
        border-radius: 0px 0px var(--mediumRadius1) var(--mediumRadius1);
        background-position: calc(100% + 175px) 0%;
        background-size: 476px;
        height: max-content;
    }

    .send .container {
        width: calc(100% - 40px);
        margin: 40px 20px;
        padding-top: 90px;
    }

    .send .containerItem {
        display: none;
    }

    .send h1 {
        font-size: 24px;
        margin-bottom: 0px;
    }

    .send .instructions {
        margin-top: 20px;
        font-size: 14px;
    }

}