.singleNews .menuExtra {
    width: 50%;
    position: relative;
    background-color: var(--neutral2);
    float: right;
    padding: 40px;
    padding-top: 70px;
    border-radius: 0px 0px 0px 20px;
    box-shadow: 0px 27px 0px 0px var(--neutral7);
}

.backgroundModalIndex {
    background-color: var(--neutral3);
    opacity: 0%;
    height: 100vh;
    position: fixed;
    width: 100%;
    transition: var(--transitionFast);
    z-index: -3;
}

.menuExtraActive .backgroundModalIndex {
    z-index: 11;
    opacity: 80%;
}

.singleNews .menuExtra h2 {
    display: block;
    width: 100%;
    font-size: 14px;
    font-family: "Lato";
    color: var(--neutral5);
    padding: 10px 0px;
    border-bottom: 2px solid var(--neutral5);
}

.singleNews .menuExtra a {
    display: block;
    width: 100%;
    font-size: 14px;
    font-family: "Lato";
    color: var(--neutral7);
    padding: 10px 0px;
    border-bottom: 1px solid var(--greyOpacity);
    opacity: 40%;
}

.singleNews .menuExtra a:hover {
    opacity: 100%;
}

.singleNews .menuExtra::-webkit-scrollbar-track {
    background: var(--neutral1);
}

body.menuExtraActive {
    overflow: hidden;
}

.singleNews .menuExtra::-webkit-scrollbar {
    width: 12px;
}

.singleNews .menuExtra::-webkit-scrollbar-track {
    background: var(--neutral1);
}

.singleNews .menuExtra::-webkit-scrollbar-thumb {
    background-color: var(--main1);
    border-radius: var(--bigRadius);
}

@media (max-width: 1024px) {
    .singleNews .menuExtra {
        bottom: -10000px;
        position: fixed;
        left: 0px;
        right: 0px;
        height: max-content;
        z-index: 12;
        padding: 20px;
        padding-bottom: 160px;
        border-radius: 0px;
        width: 100%;
        transition: var(--transitionMedium);
        max-height: calc(100% - 110px);
        overflow-y: scroll;
    }
}

.menuExtraActive .singleNews .menuExtra {
    bottom: 0px;
}